h2{
  margin: 0;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 14%; margin-top: 2%; }
.documento{
  width: 250px;
  margin-left: 60%;
  margin-top: -7.5%
}
.direccion{
  width: 250px;
  margin-left: 14%;
  margin-top: 0%;
}
.obser{
  width: 250px;
  margin-left: 14%;
  margin-top: 0%;
}
.nombre1{
  margin-left: 60%;
  margin-top: -7.5%;
}
.tele{
  width: 250px;
  margin-left: 14%;
  margin-top: 0%;
}
.esta{
  margin-left: 60%;
  margin-top: -7.5%
}
.dato{
  margin-left: 10%;
}
.estado2{ width: 300px; }
.guardar{
  background-color: #00235C ;
  color: white;
  width: 17%;
  height: 40px;
  font-size: large;
  margin-left: 61.5%;
  top: -107px;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 3%;
  padding-bottom: 4%;
}

.contenedor{
width: 80% !important; margin-left: 10%; margin-top: 4%;
}

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
.dato{
  margin-left: 0%;
}
.nombre{
  width: 225px;
}
.guardar{
  width: 60%;
  font-size: 13px;
  margin-left: 18%;
  margin-top: 51%;
}

.documento{
  width: 80%;
  margin-left: 0%;
  margin-top: -1%;
}
.direccion{
  width: 222px;
  margin-left: 0%;
  margin-top: 0%;
}
.tele{
  width: 223px;
  margin-left: 0%;
  margin-top: 0%;
}
.obser{
  width: 224px;
  margin-left: 0%;
  margin-top: 0%;
}
.esta{
  margin-left: 0%;
  margin-top: 0.5%;
  width: 80%;
}
.tipoDo{
  width: 80%;
  margin-left: 0%;
}
.nombre1{
  margin-left: 0%;
  margin-top: 0.5%;
  width: 80%;
}
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
.dato{
  margin-left: 0%;
}
.nombre{
  width: 290px;
}
.guardar{
  width: 60%;
  font-size: 13px;
  margin-left: 21%;
  margin-top: 45%;
}
.documento{
  width: 80%;
  margin-left: 0%;
  margin-top: -1%;
}
.direccion{
  width: 222px;
  margin-left: 0%;
  margin-top: 0%;
}
.tele{
  width: 223px;
  margin-left: 0%;
  margin-top: 0%;
}
.obser{
  width: 224px;
  margin-left: 0%;
  margin-top: 0%;
}
.esta{
  margin-left: 0%;
  margin-top: 0.5%;
  width: 80%;
}
.tipoDo{
  width: 80%;
  margin-left: 0%;
}
.nombre1{
  margin-left: 0%;
  margin-top: 0.5%;
  width: 80%;
}
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
.tipoDo{
  width: 80%;
  margin-left: 5%;
}
.nombre{
  width: 194px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -24%;
}
.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 0%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -24%;
}
.esta{
  margin-left: 55%;
  margin-top: -24%;
}
.guardar{
  background-color: #00235C;
  color: white;
  width: 40%;
  height: 40px;
  font-size: large;
  margin-left: 60.5%;
  top: -78px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 0%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 0%;
}
}



/* Tablet pequeña */
@media screen and (min-width: 721px) and (max-width: 768px){
.tipoDo{
  width: 80%;
  margin-left: 5%;
  margin-top: 4%;
}
.nombre{
  width: 194px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -17%;
}
.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 4%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -16%;
}
.esta{
  margin-left: 55%;
  margin-top: -17%;

}
.guardar{
  background-color: #00235C;
  color: white;
  width: 30%;
  height: 40px;
  font-size: large;
  margin-left: 56.5%;
  top: -78px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 4%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 5%;
}
}

/* Tablet medio */
@media screen and (min-width: 769px) and (max-width: 1023px){
.tipoDo{
  width: 80%;
  margin-left: 5%;
  margin-top: 4%;
}
.nombre{
  width: 194px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -20%;
}
.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 4%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -20%;
}
.esta{
  margin-left: 55%;
  margin-top: -20%;

}
.guardar{
  background-color: #00235C;
  color: white;
  width: 37%;
  height: 40px;
  font-size: large;
  margin-left: 56.5%;
  top: -78px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 4%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 5%;
}
}
/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
.tipoDo{
  width: 100%;
  margin-left: 5%;
  margin-top: 0%;
}
.nombre{
  width: 261px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -11%;
}

.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 2%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -11%;
}
.esta{
  margin-left: 55%;
  margin-top: -12%;

}
.guardar{
  background-color: #00235C;
  color: white;
  width: 30%;
  height: 40px;
  font-size: large;
  margin-left: 55.5%;
  top: -93px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 3%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 5%;
}
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
.tipoDo{
  width: 100%;
  margin-left: 5%;
  margin-top: 0%;
}
.nombre{
  width: 261px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -11%;
}
.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 2%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -11%;
}
.esta{
  margin-left: 55%;
  margin-top: -12%;

}
.guardar{
  background-color: #00235C;
  color: white;
  width: 28%;
  height: 40px;
  font-size: large;
  margin-left: 55.5%;
  top: -93px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 3%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 5%;
}
}
/* Portatil Grande */
@media screen and (min-width: 1441px){
.tipoDo{
  width: 100%;
  margin-left: 5%;
  margin-top: 0%;
}
.nombre{
  width: 261px;
}
.documento{
  width: 250px;
  margin-left: 55%;
  margin-top: -9%;
}
.direccion{
  width: 250px;
  margin-left: 5%;
  margin-top: 2%;
}
.nombre1{
  width: 250px;
  margin-left: 55%;
  margin-top: -9.5%;
}
.esta{
  margin-left: 55%;
  margin-top: -9%;

}
.guardar{
  background-color: #00235C;
  color: white;
  width: 24%;
  height: 40px;
  font-size: large;
  margin-left: 55.5%;
  top: -93px;
}
.dato{
  margin-left: 0%;
}
.tele{
  width: 250px;
  margin-left: 5%;
  margin-top: 3%;
}
.obser{
  width: 250px;
  margin-left: 5%;
  margin-top: 5%;
}
}
