<div class="contenedor">
    <button class="btn boton botonagregar text-white my-2" (click)="abrirModal();" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar un recordatorio">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exporta Lista de recordatorio"><i class="fa-solid fa-file-excel"></i></button>
    <mat-form-field class="buscador" appearance="standard" data-bs-toggle="tooltip" data-bs-placement="top" title="Busca un recordatorio">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
    </mat-form-field>
    <section class="example-container mat-elevation-z8" tabindex="0">

      <table id="recordatorio" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
            <td mat-cell *matCellDef="let element" id="idSp2">{{element.recordatorio.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Descripcion</h3></th>
            <td mat-cell *matCellDef="let element">{{element.recordatorio.descripcion}}</td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="fechaSp">Fecha</h3></th>
            <td mat-cell *matCellDef="let element">{{element.recordatorio.fecha}}</td>
          </ng-container>

          <ng-container matColumnDef="Hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="horaSp">Hora</h3></th>
            <td mat-cell *matCellDef="let element">{{element.recordatorio.hora}}</td>
          </ng-container>

          <ng-container matColumnDef="tipoEnvio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="tipoEnvioSp">Tipo Envio</h3></th>
            <td mat-cell *matCellDef="let element">{{element.recordatorio.tipoEnvio}}</td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="opciones">Opciones</h3></th>
            <td mat-cell *matCellDef="let element">
              <!-- (click)="cumplido();"  -->
              <button *ngIf="element.cumplimiento == true" class="btn boton botonagregar text-white my-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Cumplimiento del recordatorio">
                <mat-icon>check_circle</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[2, 5, 10, 25, 100]"
                aria-label="Select page">
    </mat-paginator>
  </div>
<div *ngFor="let item of listaCorreosPqrs">
  <div class="div1 my-5 mx-5" *ngIf="item.emisor == true">
    <mat-card class="cardDerecha">
      <h3><strong>{{item.chatCorreos.idUsuarioEnvia.nombre}} {{item.chatCorreos.idUsuarioEnvia.apellido}}</strong></h3>
      <h5 style="font-size: 13px;"><strong>{{item.chatCorreos.asunto}}</strong></h5>
      <p style="font-size: 12px;">{{item.chatCorreos.mensaje}}</p>
    </mat-card>
    <div class="romboDerecha"></div>
  </div>
  <div class="div1 my-5 mx-5" *ngIf="item.emisor == false">
    <mat-card class="cardDerecha">
      <h3><strong>{{item.chatCorreos.idUsuarioEnvia.nombre}} {{item.chatCorreos.idUsuarioEnvia.apellido}}</strong></h3>
      <h5 style="font-size: 13px;"><strong>{{item.chatCorreos.asunto}}</strong></h5>
      <p style="font-size: 12px;">{{item.chatCorreos.mensaje}}</p>
    </mat-card>
    <div class="romboIzquierda"></div>
  </div>
</div>


