.example-container {
    max-width: 100%;
    overflow: auto;
    margin-top: 3% !important;
    border-bottom: 20%;
    box-shadow: 1px none #000;
    margin-bottom: 3% !important;
  }
  table{
    width: 100%;
    height: 100%;
  }

  .botonvolver{ background-color: #00235C; left: 12px;}

  .botonagregar3{ background-color: #959595; color: white; margin-left: 5%; }

  .contenedor{
    width: 90% !important; margin-left: 5%; margin-top: 3%;
  }
  .boton{ background-color: #00235C; }
  .btnver{ background-color: #959595; color: white; }

  .excelButton, .botonagregar2, .btnremove, .btnedit, .btnver, .pdfButton, .botonvolver{ width: 64px; height: 36px; }
  .botonagregar3 mat-icon{ left: -3px; top: -1px;}
  #idSp, #idSp2, #desSp, #estSp, #opcSp, #jerSp{ position: relative;}
  #idSp{ left: 22px; }
  #desSp{ left: 37px; }
  #estSp{ left: 43px; }
  #obSp{ left: 55px; position: relative;}
  #estaSp{ left: 42px; position: relative;}
  #jerSp{ left: 70px; }
  #opcSp{ padding-right: 0%; }
  #idSp2{ padding-left: 0%; }

  /* Movil pequeño - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    h3{
      margin-left: 3%;
      font-size: 12px;
    }

    td{ font-size: 11px;}
    .botonvolver, .excelButton, .btnver{ width: 38px; height: 30px; }
    .botonvolver mat-icon{
      font-size: 16px;
      left: -5px;
      position: relative;
    }
    .botonagregar3 mat-icon{ font-size: 18px; }
    .btnremove, .btnedit, .btnver{
      width: 20px !important;
      height: 23px;
      position: relative;
      left: 6%;
      margin-top: 8%;
      margin-bottom: 8%;
    }
    .btnver{ left: 1%; }
    .excelButton{ margin-left: -5%; }
    .botonagregar3, .excelButton{
      width: 38px;
      height: 30px;
      margin-top: 8%;
      margin-bottom: 8%;
      position: relative;
      left: 20px;
    }
    .botonagregar3{width: 20px !important; height: 23px; position: relative; left: 11px;}
    .botonagregar3 mat-icon{ font-size: 18px;margin-left: -50%; margin-top: -1px; }
    i{ font-size: 18px ;margin-left: -50%; position: relative; top: -2px; left: 3px; }
    mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
    td button mat-icon{ font-size: 10px; margin-left: -12px; margin-top: -2px;}
    #idSp{ left: 10px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 8px; }
    #estSp{ left: 8px; }
    #estaSp{left: 20px; position: relative;}
    #jerSp{ left: 8px; }
    #opcSp2{ padding-right: 0%; }
    .excelButton i{ top: -3px; font-size: 15px;}
  }

  /* Movil medio - Samsung Galaxy S8 */
  @media screen and (min-width: 360px) and (max-width: 493px){
    h3{
      margin-left: 3%;
      font-size: 13px;
    }
    td{ font-size: 12px;}
    .botonagregar3, .excelButton{ width: 38px; height: 30px; }
    .botonagregar3 mat-icon{ font-size: 18px; }
    .excelButton{ margin-left: -5%; }
    .btnremove, .btnedit, .btnver{
      width: 27px !important;
      height: 26px;
      position: relative;
      left: 8%;
      margin-top: 8%;
      margin-bottom: 8%;
    }
    .botonvolver{
      width: 38px;
      height: 30px;
    }
    mat-icon{
      left: -6px;
      position: relative;
      top: -2px;
      font-size: 21px;
    }
    .edi{
      margin-left: -10%;
    }
    .remo{
      margin-left: -6%;
    }
    .ver{
      margin-left: -6%;
    }
    td button mat-icon{ font-size: 14px; margin-left: -5px; margin-top: 1px;}
    .botonagregar3{ width: 27px !important; height: 26px; left: 11px; position: relative; }
    button i{ position: relative; top: -15%; }
    mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
    #idSp{ left: 7px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 8px; }
    #estSp{ left: 8px; }
    #estaSp{left: 20px; position: relative;}
    #jerSp{ left: 8px; }
    #opcSp2{ padding-right: 0%; }
    .excelButton i{ top: -3px; font-size: 15px;}
  }

  /* Movil grande - Surface Duo*/
  @media screen and (min-width: 494px) and (max-width: 720px){
    h3{
      margin-left: 3%;
      font-size: 20px;
    }
    td{ font-size: 14px;}
    .btnedit, .btnremove, .btnver{
      width: 40px !important;
      height: 30px;
    }
    .btnedit{ position: relative; left: 3%; }
    .btnremove{ position: relative; left: 1%; }
    .btnver{ position: relative; left: -2%; }
    mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
    .botonagregar3{position: relative; top: -2px; left: 9%;}
    #idSp{ left: 7px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 8px; }
    #estSp{ left: 8px; }
    #estaSp{left: 20px; position: relative;}
    #jerSp{ left: 8px; }
    #opcSp2{ padding-right: 0%; }
    .excelButton{ font-size: 20px; }
    .excelButton i{ top: -3px; }
  }

  /* Tablet pequeña - iPad Mini*/
  @media screen and (min-width: 721px) and (max-width: 768px){
    td { font-size: 16px; height: 0px;}
    mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
    #idSp{ left: 10px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 9px; }
    #estSp{ left: 8px; }
    #estaSp{left: 20px; position: relative;}
    #jerSp{ left: 28px; }
    #opcSp2{ padding-right: 0%; }
    .botonagregar3{position: relative; left: 11px; }
    .excelButton i{ top: 2px; }
  }

  /* Tablet medio - iPad Air*/
  @media screen and (min-width: 769px) and (max-width: 1023px){
    td { font-size: 16px; height: 0px;}
    mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
    #idSp{ left: 10px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 9px; }
    #estSp{ left: 7px; }
    #estaSp{left: 9px; position: relative;}
    #jerSp{ left: 14px; }
    #opcSp2{ padding-right: 0%; }
    .botonagregar3{position: relative; left: 11px; }
    .excelButton i{ top: 2px; }
  }

  /* Portatil Pequeño */
  @media screen and (min-width: 1024px) and (max-width: 1366px){
    td { font-size: 15px; height: 0px;}
    mat-form-field{ width: 22%; margin-left: 77%; }
    #idSp{ left: 19px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 32px; }
    #estSp{ left: 40%; }
    #jerSp{ left: 60%; }
    #estaSp{left: 49px; position: relative;}
    #opcSp2{ padding-right: 0%; }
    .excelButton i{ top: 2px; }
    .botonagregar3{
      position: relative;
      left: 10px;
    }
  }
  /* Portatil Medio */
  @media screen and (min-width: 1367px) and (max-width: 1440px){
    td { font-size: 15px; height: 0px;}
    mat-form-field{ width: 22%; margin-left: 77%; }
    #idSp{ left: 19px; }
    #idSp2{ padding-left: 0%; }
    #desSp{ left: 31px; }
    #estSp{ left: 41%; }
    #jerSp{ left: 60%; }
    #estaSp{left: 49px; position: relative;}
    #opcSp2{ padding-right: 0%; }
    .excelButton i{ top: 2px; }
    .botonagregar3{
      position: relative;
      left: 10px;
    }
  }
