<div class="contenedor">
    <h2 class="dato">Consultar Libro</h2>
    <form [formGroup]="formLibroMayor">
      <div class="row1">
        <div class="guardar2">
          <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear libro mayor"><mat-icon>add</mat-icon></button>
        </div>
        <div class="guardar">
          <button class="btn excelButton" *ngIf="exportar==true" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de libro mayor"><i class="fa-solid fa-file-excel"></i></button>
        </div>
        <!-- Ingresar Nombre -->
        <div class="nombre2">
          <h2>Mes y Año</h2>
          <mat-form-field class="nombre" [color]="color" appearance="fill">
          <mat-label>Seleccione mes y año</mat-label>
          <input type="month" id="fecha" formControlName="fecha" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2" style="display: none;">
          <img src="/assets/logo/LOGO SUCHANCE (2).png " id="logo" alt="logo" class="logo">
        </div>
      </div>
    </form>
    <mat-form-field class="buscador" appearance="standard" *ngIf="buscador==true">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
    </mat-form-field>
    <section *ngIf="section==true" class="example-container mat-elevation-z8" tabindex="0" >
      <table  mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
           <!-- Position Column  -->
           <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
            <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
          </ng-container>

           <!-- Name Column  -->
           <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Codigo</h3></th>
            <td mat-cell *matCellDef="let element">{{element.idCuenta.codigo}}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estSp">Nombre</h3></th>
            <td mat-cell *matCellDef="let element">{{element.idCuenta.descripcion}}</td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Valor</h3></th>
            <td mat-cell *matCellDef="let element">{{element.valor}}</td>
          </ng-container>


          <ng-container matColumnDef="mes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="mesSp">Mes</h3></th>
          <td mat-cell *matCellDef="let element">{{element.fecha | date:'MMMM'| uppercase}}</td>
          </ng-container>

          <ng-container matColumnDef="año">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="añoSp">Año</h3></th>
          <td mat-cell *matCellDef="let element">{{element.fecha | date:'y'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator id="paginator" style="display: none;" [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[2, 5, 10, 25, 100]"
                aria-label="Select page">
    </mat-paginator>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
