.example-container {
    max-width: 100%;
    overflow: auto;
    margin-top: 3%;
    border-bottom: 20%;
    box-shadow: 1px none #000;
    margin-bottom: 3%;
  }
  table{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
  }

  .btnVisualizar{
    background-color: #97B4E2;
    width: 10%;
  }
  .contenedor{
    width: 90%; margin-left: 5%; margin-top: 3%;
  }
  .boton{ background-color: #00235C; }
  .btnver{ background-color: #00235C; color: white; }
  .btnver2{ background-color: #959595; color: white; }
  .btnedit{ background-color: #97B4E2; color: white; }
  .btnremove, .btndelete{ background-color: #DA161A; color: white; }
  .btnasigPuntoVenta{ background-color: #437260; color: white; }
  #idSp, #idSp2, #desSp, #estSp, #opcSp{ position: relative;}
  #idSp{ margin-left: 60%;}
  #desSp{ left: 45%;}
  #estSp{ left: 55%;}
  #jerSp{margin-left: 160%;}
  #opcSp{ padding-right: 0%;}
  #idSp2{ padding-left: 1%;}
  td button mat-icon{left: -18%; top: -10%;}
  td{ text-align: left;}
  td.mat-cell{ padding-left: 1%;}
  /* Movil pequeño 1 - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: 0px; }
    #idSp{margin-left: 33% ; }
    #desSp{left: 7%; width: 124px; }
    #estSp{ left: 15%;}
    #jerSp{margin-left: 17%;}
    #opcSp{ margin-left: 13px; }
    td button{ margin-top: 5%; }
    .btnver2, .btndelete, .btnasigPuntoVenta{ width: 31px; height: 29px; }
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
  @media screen and (min-width: 360px) and (max-width: 420px){
    td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: 1px; }
    #idSp{margin-left: 40% ; }
    #desSp{left: 8%; width: 100px;}
    #estSp{ left: 15%;}
    #jerSp{margin-left: 17%;}
    #opcSp{ margin-left: 13px; }
    td button{ margin-top: 5%; }
    .btnver2, .btndelete, .btnasigPuntoVenta{ width: 31px; height: 29px; }
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /* Tablet 1 */
  @media screen and (min-width: 600px) and (max-width: 639px){
    td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 0px; }
    #idSp{margin-left: 2%; }
    #desSp{left: 5%;}
    #estSp{left: 10%;}
    #jerSp{margin-left: 50%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 5%; }
    .btnver2, .btndelete, .btnasigPuntoVenta{ width: 31px; height: 29px; }
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /*Portatil 1*/
  @media screen and (min-width: 640px) and (max-width: 700px){
    td button mat-icon{  margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 20%; }
    #desSp{left: 7%; width: 131px;}
    #estSp{ left: 13%; width: 91px;}
    #jerSp{ margin-left: 45%; width: 48px;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 5%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }

  /* Tablet 2 */
  @media screen and (min-width: 701px) and (max-width: 768px){
    td button mat-icon{  margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 20%; }
    #desSp{left: 7%; width: 131px;}
    #estSp{ left: 13%; width: 91px;}
    #jerSp{ margin-left: 70%; width: 48px;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /* Tablet 3,  Portatil 2*/
  @media screen and (min-width: 769px) and (max-width: 960px){
    td button mat-icon{  margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 15%; }
    #desSp{left: 10%; width: 131px;}
    #estSp{ left: 10%; width: 91px;}
    #jerSp{ margin-left: 70%; width: 48px;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
  @media screen and (min-width: 961px) and (max-width: 1080px){
    td button mat-icon{ margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 35%;}
    #desSp{margin-left: -45%;}
    #estSp{margin-left: -50%;}
    #jerSp{margin-left: 85%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
  @media screen and (min-width: 1081px) and (max-width: 1280px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 45% ; }
    #desSp{margin-left: -35%;}
    #estSp{ margin-left: -40%;}
    #jerSp{margin-left: 115%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /* Tablet 8, Compu. Mesa 5*/
  @media screen and (min-width: 1281px) and (max-width: 1536px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px; }
    #idSp{margin-left: 75% ; }
    #desSp{ left: 45%;}
    #estSp{ left: 55%;}
    #jerSp{margin-left: 150%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }

  /*Portatil 4, Compu. Mesa 7, Televisor 2*/
  @media screen and (min-width: 1851px) and (max-width: 1920px){
    td button mat-icon{ margin-left: 0px; margin-top: 1px; }
    #idSp{margin-left: 45%; }
    #desSp{left: 55%;}
    #estSp{left: 65%;}
    #jerSp{margin-left: 185%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }

  /*Tablet 9*/
  @media screen and (min-width: 1921px) and (max-width: 2048px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 55%; }
    #desSp{left: 60%;}
    #estSp{ left: 70%;}
    #jerSp{margin-left: 210%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Tablet 10*/
  @media screen and (min-width: 2049px) and (max-width: 2160px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 60%; }
    #desSp{left: 70%;}
    #estSp{ left: 75%;}
    #jerSp{margin-left: 235%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Tablet 11 y 12, Portatil 5*/
  @media screen and (min-width: 2161px) and (max-width: 2560px){
    td button mat-icon{ margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 90%; }
    #desSp{left: 85%;}
    #estSp{ left: 100%;}
    #jerSp{margin-left: 270%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Tablet 13*/
  @media screen and (min-width: 2561px) and (max-width: 2736px){
    td button mat-icon{ margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 100%; }
    #desSp{left: 95%;}
    #estSp{ left: 115%;}
    #jerSp{margin-left: 300%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Tablet 14*/
  @media screen and (min-width: 2737px) and (max-width: 3000px){
    td button mat-icon{ margin-left: 0px; margin-top: 1px;}
    #idSp{margin-left: 110%; }
    #desSp{left: 110%;}
    #estSp{ left: 125%;}
    #jerSp{margin-left: 320%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Portatil 6, Televisor 3*/
  @media screen and (min-width: 3001px) and (max-width: 3840px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 100% ; }
    #desSp{left: 150%;}
    #estSp{ left: 175%;}
    #jerSp{margin-left: 440%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Televisor 4*/
  @media screen and (min-width: 3841px) and (max-width: 4096px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 160% ; }
    #desSp{left: 165%;}
    #estSp{ left: 190%;}
    #jerSp{margin-left: 480%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
  /*Portatil 7, Televisor 5*/
  @media screen and (min-width: 4097px) and (max-width: 7680px){
    td button mat-icon{ margin-left: 0px; margin-top: 2px;}
    #idSp{margin-left: 300% ; }
    #desSp{ left: 380%;}
    #estSp{ left: 400%;}
    #jerSp{margin-left: 920%;}
    #opcSp{ left: 8px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: 0%; }
  }
