<div class="contenedor">
  <h2 class="dato">Modificar Articulo</h2>
  <form [formGroup]="formArticulo">
    <div class="row1">
      <!-- Ingresar Nombre -->
      <div class="nombre2">
        <h2>Descripción</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Modifique descripción del Articulo</mat-label>
        <input id="descripcion" formControlName="descripcion" matInput>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Categoria</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Modifique categoria del Articulo</mat-label>
        <mat-select matNativeControl id="categoria" name="categoria" formControlName="categoria">
          <mat-option *ngFor="let item of listaCategorias" [value]="item.id">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar artículos"><mat-icon>edit_square</mat-icon></button>
      </div>
    </div>
  </form>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
