<h2 class="dato">¿Desea adquirir una opinion más a fondo en la solicitud?</h2>
<form [formGroup]="formComentario">
  <div class="row1">
    <!-- Ingresar Observacion -->
    <div class="nombre2">
      <h2>Comentario</h2>
      <mat-radio-group aria-label="Seleccione una opción">
        <mat-radio-button (change)="capturarOpcion(1)" value="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Seleccione opción">Si</mat-radio-button>
        <mat-radio-button (change)="capturarOpcion(2)" value="2" data-bs-toggle="tooltip" data-bs-placement="top" title="Seleccione opción">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="nombre2" *ngIf="aprobar==true">
      <h2>Usuarios</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Seleccione el usuario</mat-label>
      <select matNativeControl id="usuario" name="usuario" formControlName="usuario">
        <option *ngFor="let item of listarUsuarios"  value="{{item.idUsuario.id}}">{{item.idUsuario.nombre}} {{item.idUsuario.apellido}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Adquirir">Comentario</button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
