<div class="contenedor">
    <h2 class="dato">Ingresar Nuevo Turno</h2>
    <form [formGroup]="formAgregarNovedad">
      <div class="row1">
        <div class="nombre2">
          <h2>Usuario</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese el usuario</mat-label>
          <select matNativeControl id="usuario" name="usuario" formControlName="usuario">
            <option *ngFor=""  value=""></option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre2">
          <h2>Hora Final</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese hora </mat-label>
          <input type="time" id="horaFinal" formControlName="horaFinal" matInput>
          </mat-form-field>
        </div>
        <div class="nombre3">
          <h2>Estado Turno</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Ingrese Estado del Turno</mat-label>
          <select matNativeControl id="estado" name="estado" formControlName="estado">
            <option *ngFor=""  value=""></option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre4">
          <h2>Tipo Turno</h2>
          <mat-form-field class="nombre1"  appearance="fill">
          <mat-label>Ingrese Tipo del Turno</mat-label>
          <select matNativeControl id="tipoTurno" name="tipoTurno" formControlName="tipoTurno">
            <option *ngFor=""  value=""></option>
          </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- Boton de guardar datos -->
        <div class="guardar2">
          <button mat-raised-button class="guardar">Insertar Turno</button>
          <!-- (click)="guardar()" -->
        </div>
      </div>
    </form>
</div>
