<div class="contenedor">
    <button class="btn boton botonagregar text-white my-2" routerLink="/agregarTurnoVendedor" data-bs-toggle="tooltip" data-bs-placement="top" title="agregar turno a un vendedor">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button class="btn excelButton" (click)="exportToExcel()"  data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de asignar turnos vendedor"><i class="fa-solid fa-file-excel"></i></button>
    <mat-form-field class="buscador" appearance="standard"  data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar asignación de un vendedor">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
    </mat-form-field>
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table id="asignarTurnoVendedor" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSpa">Id</h3></th>
            <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombreVendedor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreSpa">Nombre Vendedor</h3></th>
              <td mat-cell *matCellDef="let element">{{element.nombreVendedor}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombreOficina">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreOficSpa">Nombre Oficina</h3></th>
            <td mat-cell *matCellDef="let element">{{element.nombreOficina}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombreSitioVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreSitioVSpa">Nombre Sitio Venta</h3></th>
            <td mat-cell *matCellDef="let element">{{element.nombreSitioVenta}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="fechaISpa">Fecha Inicio</h3></th>
            <td mat-cell *matCellDef="let element">{{element.fechaInicio}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="fechaFinal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="fechaFSpa">Fecha Final</h3></th>
            <td mat-cell *matCellDef="let element">{{element.fechaFinal}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="turno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="turnoSpa">Turno</h3></th>
            <td mat-cell *matCellDef="let element" >{{element.idTurno.horaInicio}} - {{element.idTurno.horaFinal}} | {{element.idTurno.idTipoTurno.descripcion}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
  </div>
