.romboDerecha {
  width: 20px;
  height: 20px;
  background: transparent;
  filter: drop-shadow(0.2em 0 0.1em #D8D8D8);
  margin-left: 401px;
  margin-top: -12.8px;
  border-left: 20px solid #FFFFFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transform: rotate(90deg);
}
.cardDerecha{
  box-shadow: 0em 0 0.4em #b3b8bb;
  width: 50%;
  border-radius: 13px;
  overflow-wrap: break-word;
}
.cardIzquierda{
  box-shadow: 0em 0 0.4em #b3b8bb;
  width: 50%;
  border-radius: 13px;
  margin-left: 50%;
  overflow-wrap: break-word;
}
.romboIzquierda{
  width: 20px;
  height: 20px;
  background: transparent;
  filter: drop-shadow(0.2em 0 0.1em #D8D8D8);
  margin-left: 16px;
  margin-top: -12.8px;
  border-left: 20px solid #FFFFFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transform: rotate(90deg);
}
