<h2 class="dato">Ingresar Cotizacion</h2>
<form [formGroup]="formCotizacion">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Cotizacion</h2>
      <!-- <mat-form-field type="file" class="nombre" [color]="color" appearance="fill">
      </mat-form-field> -->
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()">Insertar Cotizacion</button>
    </div>
  </div>
</form>

