<h2 class="dato">Ingresar Nueva Asignación</h2>
<form [formGroup]="formAsignacionProcesoUsuario">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Usuario</h2>
      <mat-form-field class="nombre1" [color]="color" appearance="fill">
      <mat-label>Ingrese el usuario</mat-label>
      <mat-select matNativeControl id="idUsuario" name="idUsuario" formControlName="idUsuario">
        <mat-option *ngFor="let item of listaUsuarios"  value="{{item.id}}">{{item.nombre}} {{item.apellido}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Tipo Proceso</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Seleccion el tipo necesidad</mat-label>
      <mat-select matNativeControl id="idTiposProcesos" name="idTiposProcesos" formControlName="idTiposProcesos">
        <mat-option *ngFor="let item of listaProceso" value="{{item.id}}">{{item.descripcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar nueva asignación"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>

