
<div class="contenedor">
  <h2 class="dato">Visado Premio</h2>
  <form [formGroup]="formRaspita">
    <div class="row1">
      <!-- Ingresar Nombre -->
      <div class="nombre2">
        <h2>Raspa</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
          <mat-label>Ingrese raspita</mat-label>
          <input id="raspita" formControlName="raspita" matInput (keyup)="guardarRaspa($event, $event.key)">
        </mat-form-field>
      </div>
      <div class="nombre3">
        <h2>Fecha Inicio</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese fecha inicio</mat-label>
        <input type="date" id="fechaInicio" name="fechaInicio" formControlName="fechaInicio" matInput>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Fecha Final</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese fecha final</mat-label>
          <input type="date" id="fechaFinal" name="fechaFinal" formControlName="fechaFinal" matInput >
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
    </div>
  </form>
  <div class="guardar2">
    <button mat-raised-button class="guardar" (click)="reporte()">Generar Reporte</button>
  </div>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>

