<div class="contenedor">
  <button class="btn boton botonagregar text-white my-2" routerLink="/agregarTurno" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar turno">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de turnos"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field class="buscador" appearance="standard" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar turno">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table id="turnos" datatable  mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSpa">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descSpa">Descripcion</h3></th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="horaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="horaISpa">Hora Inicio</h3></th>
          <td mat-cell *matCellDef="let element">{{element.horaInicio}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="horaFinal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="horaFSpa">Hora Final</h3></th>
          <td mat-cell *matCellDef="let element">{{element.horaFinal}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estadoSpa">Estado</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idEstado.descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoTurno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="tipoTurSpa">Tipo Turno</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idTipoTurno.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef ><h3 id="opcSpa">Opciones</h3></th>
          <td mat-cell *matCellDef="let item">
            <button class="btn btnedit mx-2" [routerLink]="['/modificarTurno', item.id]" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar turno">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btnremove mx-2" (click)="eliminarTurnos(item.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar turno">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>
