.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnremove, .btnedit{ margin-left: 0%;}
.btnedit mat-icon, .btnremove mat-icon{ left: -3px; top: -1px;}
#idSpa, #descSpa, #horaISpa, #horaFSpa, #estadoSpa, #tipoTurSpa, #opcSpa{ position: relative; }
#idSpa{ left: 26px; }
#descSpa{ left: 54px; }
#horaISpa{ left: 55px; }
#horaFSpa{ left: 54px; }
#estadoSpa{ left: 41px; }
#tipoTurSpa{ left: 53px; }
#opcSpa{ left: 5px; }
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 0px; }
  #idSpa{ left: 8px; }
  #descSpa{ left: 8px; }
  #horaISpa{ left: 8px; }
  #horaFSpa{ left: 8px; }
  #estadoSpa{ left: 8px; }
  #tipoTurSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 0px; }
  #idSpa{ left: 8px; }
  #descSpa{ left: 8px; }
  #horaISpa{ left: 8px; }
  #horaFSpa{ left: 8px; }
  #estadoSpa{ left: 8px; }
  #tipoTurSpa{ left: 8px;}
  .botonagregar mat-icon{ margin-left: -50%; }
}
