.cuadroPrincipal{
    width: 100%;
    height: 72%;
    overflow: auto;
    margin-top: 2%;
}
.cuadroSecundario{
    width: 335px;
    overflow: auto;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    height: 200px;
}
.row1{
    border-top: 3px solid #97B4E2;
    padding-top: 2%;
  }
.btncerrar{ background-color: #DA161A; color: white; width: 64px; height: 36px; margin-top: -7%; margin-left: 95%; }
.fechaSeleccionada{ margin-top: -5%; text-align: center; }

#azul{ background-color: #C4D2E7; color: #2B4E64; }
#rojo{ background-color: #ffc7ce; color: #9B0006; }
#verde{ background-color: #C6EFCE; color: #006100; }
p{font-size: 15px;}

/* Movil pequeño 1 - Galaxy Fold*/
/* @media screen and (min-width: 280px) and (max-width: 359px){
 .btncerrar{ margin-top: -24%; margin-left: 64%; }
 .tur{ width: 100%; margin-top: 5%; }
 .cuadroSecundario{
    width: 150px;
    margin-left: -30%;
    height: 180px;
  }
  li{ width: 120px; }
  p{ word-break: break-word; }
} */

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
/* @media screen and (min-width: 360px) and (max-width: 420px){
  .btncerrar{ margin-top: -24%; margin-left: 73%; }
  .tur{ width: 100%; margin-top: 5%; }
  .cuadroSecundario{
     width: 210px;
     margin-left: -30%;
     height: 160px;
  }
  li{ width: 120px; height: 160px; }
  p{ word-break: break-word; }
} */

/* Tablet 1 */
/* @media screen and (min-width: 600px) and (max-width: 639px){
  .btncerrar{ margin-top: -19%; margin-left: 85%; }
  .fechaSeleccionada{ margin-top: 0%; }
  .cuadroSecundario{
    width: 165px;
    margin-left: -8%;
    height: 160px;
  }
  li{ width: 184px; height: 160px; }
  p{ word-break: break-word; }
} */

/* Tablet 2,  Portatil 1*/
/* @media screen and (min-width: 640px) and (max-width: 768px){
#chart{ margin-left: 65%; }
} */
/* Tablet 3,  Portatil 2*/
/* @media screen and (min-width: 769px) and (max-width: 960px){
#chart{ margin-left: 65%; }
} */
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
#chart{ margin-left: 72%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
#chart{ margin-left: 75%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
#chart{ margin-left: 78%; }
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
#chart{ margin-left: 82%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
#chart{ margin-left: 82%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
#chart{ margin-left: 82%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
#chart{ margin-left: 82%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
#chart{ margin-left: 82%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
#chart{ margin-left: 84%; margin-bottom: 2%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
#chart{ margin-left: 84%; margin-bottom: 2%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
#chart{ margin-left: 84%; margin-bottom: 2%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
#chart{ margin-left: 87%; margin-bottom: 3%; }
}
