h2{
  margin: 0;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
.nombre3{ margin-left: 55%; margin-top: -21.3%;}
.nombre4{ margin-left: 55%; margin-top: 2.8%;}
.guardarModal{
  margin-left: 72%;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 3%;
  padding-bottom: 4%;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 4%;
}

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre, .nombre1{
    width: 225px;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 72%;
  }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .nombre, .nombre1{
    width: 288px;
    margin-left: 0%;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 72%;
  }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
}

/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  .nombre, .nombre1{
    width: 225px;
    margin-left: 0%;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 87%;
  }
  .nombre3{ margin-left: 54%; margin-top: -45.4%;}
  .nombre4{ margin-left: 54%; margin-top: 3%;}
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  #idSpa{ margin-left: 100% !important; }
  #descSpa{ margin-left: 20%; }
  #horaISpa, #horaFSpa, #estadoSpa, #tipoTurSpa{ margin-left: 38% }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  #idSpa{ margin-left: 55% !important; }
  #descSpa{ margin-left: 14%; }
  #horaISpa, #horaFSpa, #estadoSpa, #tipoTurSpa{ margin-left: 30%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  #idSpa{ margin-left: 130% !important; }
  #descSpa{ margin-left: 34% }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 58% }
  #estadoSpa{ margin-left: 46%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  #idSpa{ margin-left: 140% !important; }
  #descSpa{ margin-left: 50% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 68% }
  #estadoSpa{ margin-left: 46%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  #idSpa{ margin-left: 200% !important; }
  #descSpa{ margin-left: 80% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 100% }
  #estadoSpa{ margin-left: 80%; }
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .nombre, .nombre1{
    width: 288px;
    margin-left: 0%;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 76%;
  }
  .nombre3{ margin-left: 55%; margin-top: -21.5%;}
  .nombre4{ margin-left: 55%; margin-top: 2.4%;}
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  #idSpa{ margin-left: 200% !important; }
  #descSpa{ margin-left: 80% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 114% }
  #estadoSpa{ margin-left: 130%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  #idSpa{ margin-left: 200% !important; }
  #descSpa{ margin-left: 95% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 124% }
  #estadoSpa{ margin-left: 100%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  #idSpa{ margin-left: 210% !important; }
  #descSpa{ margin-left: 105% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 135% }
  #estadoSpa{ margin-left: 120%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  #idSpa{ margin-left: 270% !important; }
  #descSpa{ margin-left: 130% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 170% }
  #estadoSpa{ margin-left: 150%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  #idSpa{ margin-left: 300% !important; }
  #descSpa{ margin-left: 140% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 180% }
  #estadoSpa{ margin-left: 160%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  #idSpa{ margin-left: 320% !important; }
  #descSpa{ margin-left: 170% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 200% }
  #estadoSpa{ margin-left: 170%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  #idSpa{ margin-left: 420% !important; }
  #descSpa{ margin-left: 210% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 270% }
  #estadoSpa{ margin-left: 250%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  #idSpa{ margin-left: 420% !important; }
  #descSpa{ margin-left: 260% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 280% }
  #estadoSpa{ margin-left: 260%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  #idSpa{ margin-left: 900% !important; }
  #descSpa{ margin-left: 500% !important; }
  #horaISpa, #horaFSpa, #tipoTurSpa{ margin-left: 550% }
  #estadoSpa{ margin-left: 600%; }
}
