h2{
  margin: 0;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
.nombre3{ margin-left: 55%; margin-top: -21.3%;}
.nombre4{ margin-left: 55%; margin-top: 2.8%;}
.guardarModal{
  margin-left: 72%;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 3%;
  padding-bottom: 4%;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 4%;
}

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre, .nombre1{
    width: 225px;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 72%;
  }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .nombre, .nombre1{
    width: 288px;
    margin-left: 0%;
  }
  .nombre2{ margin-left: 0%; }
  .guardarModal{
    margin-left: 72%;
  }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
}
