h2{
  margin: 0;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
.nombre3{ margin-left: 55%; margin-top: -21.3%;}
.nombre4{ margin-left: 55%; margin-top: 2.8%;}
.guardar{
  background-color: #00235C ;
  color: white;
  width: 200px;
  height: 40px;
  font-size: large;
  margin-left: 59.5%;
  margin-top: 2%;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 3%;
  padding-bottom: 4%;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 4%;
}
/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 225px;
    margin-left: -5%;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 1%; }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
  .nombre1{ width: 225px;}
  .guardar{
    background-color: #00235C;
    margin-left: 0%;
    width: 65%;
    margin-top: 2%;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 80% !important; margin-left: 10%; margin-top: 4%;
  }
  .hora1{
    width: 100px;
    margin-left: -5%;
  }
  .hora2{
    width: 100px;
    margin-left: -5%;
  }
}
/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 288px;
    margin-left: -5%;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 1%; }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
  .nombre1{ width: 288px;}
  .guardar{
    background-color: #00235C;
    margin-left: 0%;
    width: 65%;
    margin-top: 2%;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 80% !important; margin-left: 10%; margin-top: 4%;
  }
  .hora1{
    width: 100px;
    margin-left: -5%;
  }
  .hora2{
    width: 100px;
    margin-left: -5%;
  }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 410px;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 1%; }
  .nombre3{ margin-left: 0%; margin-top: 3%;}
  .nombre4{ margin-left: 0%; margin-top: 3%;}
  .nombre1{ width: 410px; margin-left: 5%;}
  .guardar{
    background-color: #00235C;
    margin-left: 5%;
    width: 65%;
    margin-top: 2%;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 80% !important; margin-left: 10%; margin-top: 4%;
  }
  .hora1{
    width: 100px;
  }
  .hora2{
    width: 100px;
  }
  .estadoT{
    width: 100%;
    margin-left: 5%;
  }
  .tipoT{
    width: 100%;
    margin-left: 5%;
  }
}
/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 268px;
  }
  .nombre1{
    width: 268px;
    position: relative;
    left: 3%;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
  .nombre3{ margin-left: 55%; margin-top: -21.3%;}
  .nombre4{ margin-left: 55%; margin-top: 2.8%;}
  .guardar{
    background-color: #00235C;
    color: white;
    width: 265px;
    height: 40px;
    font-size: large;
    margin-left: 5%;
    margin-top: 2%;

  }

  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 80% !important; margin-left: 10%; margin-top: 4%;
  }
  .hora1{
    width: 100px;
  }
  .hora2{
    width: 100px;
  }
  .estadoT{
    margin-top: -80%;
    margin-left: 3%;
  }
  .tipoT{
    margin-left: 3%;
  }
}

/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 225px;
  }
  .nombre1{
    width: 225px;
    position: relative;
    left: 3%;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
  .nombre3{ margin-left: 55%; margin-top: -21.3%;}
  .nombre4{ margin-left: 55%; margin-top: 2.8%;}
  .guardar{
    background-color: #00235C;
    color: white;
    width: 225px;
    height: 40px;
    font-size: large;
    margin-left: 5%;
    margin-top: 2%;
  }

  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 80% !important; margin-left: 10%; margin-top: 4%;
  }
  .hora1{
    width: 100px;
  }
  .hora2{
    width: 100px;
  }
  .estadoT{
    margin-top: -95%;
  }

}
/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){

  .estadoT{
    margin-top: -58%;
  }
  .guardar{
    background-color: #00235C;
    color: white;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-left: 61%;
    margin-top: 2%;
  }
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .estadoT{
    margin-top: -54%;
  }
  .guardar{
    background-color: #00235C;
    color: white;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-left: 60%;
    margin-top: 2%;
  }
}
/* Portatil Grande */
@media screen and (min-width: 1441px){

  .guardar{
    background-color: #00235C;
    color: white;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-left: 59%;
    margin-top: 2%;
  }
}
