<h2 class="dato">Ingresar Solicitud Para Eliminar Turno Vendedor</h2>
<form [formGroup]="formSolicitudTurnoVendedor">
  <div class="row1">
    <div class="nombre2">
      <h2>Observación</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese observación </mat-label>
      <textarea id="observacion" formControlName="observacion" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()"  data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar solicitud">Insertar Solicitud</button>
    </div>
  </div>
</form>

