<div class="contenedor">
  <h2 class="dato">Ingresar Nueva Matriz de Necesidad</h2>
  <form [formGroup]="formMatrizNecesidad">
    <div class="row1">
      <div class="nombre2">
        <h2>Proceso</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccione el tipo de proceso</mat-label>
        <mat-select matNativeControl id="proceso" name="proceso" formControlName="proceso" [(ngModel)]="idProceso" (selectionChange)="idProcesos($event)">
          <mat-option *ngFor="let item of listaProcesos" value="{{item.id}}" [value]="item">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2 class="sitio">Subproceso</h2>
        <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese Subproceso</mat-label>
          <input type="text"
          aria-label="text"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto2" >
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displaySf" id="subproceso" name="subproceso" formControlName="subproceso">
            <mat-option *ngFor="let item of opcionesFiltradas | async"  [value]="item" ngValue="item.id" >
              {{item.descripcion}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Tipo Necesidad</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccion el tipo necesidad</mat-label>
        <mat-select matNativeControl id="tipoNecesidad" name="tipoNecesidad" formControlName="tipoNecesidad">
          <mat-option *ngFor="let item of listaNecesidades" value="{{item.id}}">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Detalle</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese detalle</mat-label>
        <textarea type="text" id="detalle" formControlName="detalle" matInput ></textarea>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Cantidad</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese Cantidad de este tipo de necesidad</mat-label> <!--Cantidad a comprar-->
        <input type="number" id="cantidad" formControlName="cantidad" matInput >
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Cantidad de Ejecuciones</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese cantidad de ejecuciones</mat-label>
        <input type="number" id="cantidadEjecucion" formControlName="cantidadEjecucion" matInput >
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Costo Unitario Estimado</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese costo unitario del tipo de necesidad</mat-label>
        <input id="costoUnitario" formControlName="costoUnitario" (keyup)="format()" (change)="format()" matInput >
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Tipo</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccion el tipo de activo</mat-label>
        <mat-select matNativeControl id="tipoActivo" name="tipoActivo" formControlName="tipoActivo">
          <mat-option *ngFor="let item of listaTipoActivos" value="{{item.id}}">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Registra la informacion de la matriz de necesidades"><mat-icon>add</mat-icon></button>
      </div>
    </div>
  </form>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
