<h2 class="dato">Agregar Comentario</h2>
<form [formGroup]="formAddComment">
  <div class="row1">
    <!-- Ingresar Observacion -->
    <div class="nombre2">
      <h2>Comentario</h2>
      <mat-form-field class="example-full-width nombre" appearance="fill">
        <mat-label>Agrega un Comentario</mat-label>
        <textarea matInput id="comentario" formControlName="comentario" placeholder="Agrega un Comentario"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()">Agregar Comentario</button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper5" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>

