
<div class="contenedor">
  <button class="btn boton botonagregar text-white my-2" (click)="abrirModal();" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar proceso">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de proceso"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field class="buscador" appearance="standard" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar proceso">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">

    <table id="rol" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="catSp">Categoria</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idCategoria.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="usuSp">Usuario</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idUsuario.nombre}} {{element.idUsuario.apellido}}</td>
        </ng-container>

        <!--Opciones-->
         <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef id="opcSp2"><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item" id="opcSp2">
            <button class="btn btnedit mx-2 edi" (click)="modificarProceso(item)" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar proceso">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btnremove mx-2 remo" (click)="eliminarProceso(item.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar proceso">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>

