.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}

.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton, .pdfButton, .printButton{ position: relative; left: 25px; }
td {
  border: 1px solid #000;
  text-align: center;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; color: white;}
.btnedit{ background-color: #959595; color: white; }
.btnedit2{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
.botonagregar, .excelButton, .botonagregar2, .btnremove, .btnedit, .btnver, .boton, .btnedit2{ width: 64px; height: 36px; }
.botonagregar mat-icon{ font-size: 24px; }
#idSp, #idSp2, #desSp, #estSp, #estaSp, #opcSp, #jerSp{ position: relative;}
#idSp{ left: 33px; }
#desSp{ left: 57px; }
#estSp{ left: 68px; }
#estaSp{ left: 126px; }
#jerSp{ left: 70px; }
#opcSp{ padding-right: 0%; }
.excelButton{ margin-left: -1%;  }
.excelButton i{ position: relative; top: 1px; font-size: 20px;}
#idSp2{ padding-left: 0%; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  h3{
    margin-left: 3%;
    font-size: 12px;
  }
  td{ font-size: 11px;}
  .btnedit, .btnedit2{
    width: 20px !important;
  height: 23px;
  position: relative;
  left: 12%;
  top: 3px;
  margin-bottom: 7px;
  }
  .excelButton{ margin-left: -5%; }
 .excelButton{
    width: 38px;
    height: 30px;
    position: relative;
    left: 6%;
    top: 6px;
  }
  .botonagregar mat-icon{ font-size: 18px;margin-left: -50%; margin-top: -1px; }
  i{ font-size: 18px ;margin-left: -50%; position: relative; top: -2px; left: 3px; }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  td button mat-icon{     font-size: 13px;
    margin-left: -12px;
    margin-top: -2px;}
  #idSp{ left: 9px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 8px; }
  #estSp{ left: 8px; }
  #estaSp{ left: 11px; }
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: -3px; font-size: 15px;}
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  h3{
    margin-left: 3%;
    font-size: 13px;
  }
  td{ font-size: 12px;}
  .botonagregar, .excelButton{ width: 38px; height: 30px; }
  .botonagregar mat-icon{ font-size: 18px; }
  .excelButton{ margin-left: -7%; }
  td button mat-icon{ font-size: 14px;
    margin-left: -11px;
    margin-top: -2px;}
  .btnedit, .btnedit2{
    width: 27px !important;
    height: 26px;
    position: relative;
    left: 6%;
    top: 3px;
    margin-bottom: 7px;
  }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  #idSp{ left: 8px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 12px; }
  #estSp{ left: 8px; }
  #estaSp { left: 28px; position: relative;}
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: -3px; font-size: 15px;}
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  h3{
    margin-left: 3%;
  }
  td{ font-size: 14px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSp{ left: 7px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 7px; }
  #estSp{ left: 7px; }
  #estaSp { left: 37px; position: relative; }
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton{ font-size: 16px; top: -3px; margin-left: -24px;}
  .btnedit2 { left: 2px; position: relative;}
  .btnedit { left: 5px; position: relative;}
}

/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSp{ left: 16px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 29px; }
  #estSp{ left: 25px; }
  #estaSp { left: 68px; position: relative;}
  #jerSp{ left: 28px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}

/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSp{ left: 12px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 21px; }
  #estSp{ left: 17px; }
  #estaSp{ left: 48px; position: relative;}
  #jerSp{ left: 14px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}

/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 22%; margin-left: 77%; }
  #idSp{ left: 25px;; }
  #idSp2{ padding-left: 0%; }
  #desSp{ margin-left: 5px; left: 40px; }
  #estSp{ left: 46px; }
  #estaSp{ left: 105px;  position: relative; }
  #jerSp{ left: 60%; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 22%; margin-left: 77%; }
  #idSp{ left: 25px;; }
  #idSp2{ padding-left: 0%; }
  #desSp{ margin-left: 5px; left: 50px; }
  #estSp{ left: 50px; }
  #estaSp{ left: 115px;  position: relative; }
  #jerSp{ left: 60%; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}


