.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
h1{ font-size: 13px; margin-bottom: -6px; }
h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton, .pdfButton, .printButton{ position: relative; left: 25px; }
td {
  border: 1px solid #000;
  text-align: center;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
.botonagregar, .excelButton, .botonagregar2, .btnremove, .btnedit, .btnver{ width: 64px; height: 36px; }
.botonagregar mat-icon{ font-size: 24px; }
.excelButton{ margin-left: -1%; }
.excelButton i{ position: relative; top: -3px; font-size: 20px;}
#idSpa, #nombreSpa, #fechaISpa, #fechaFSpa, #nombreOficSpa, #nombreSitioVSpa, #turnoSpa{ position: static; }
#idSpa { margin-left: 20px;}
#fechaISpa { margin-left: 40px; }
#nombreSitioVSpa{ margin-left: 31px; }
#nombreSpa{ margin-left: 20px; }
#nombreOficSpa{ margin-left: 78px; }
#turnoSpa{ left: 70px; }
#idSp2{ padding-left: 0%; }
.excelButton i{ position: relative; top: 1px; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .excelButton, .btnedit{ width: 18px !important; height: 20px; margin-left: 49%; }
  .excelButton{ margin-left: -15%; }
  h3{
    margin-left: 3%;
    font-size: 12px;
  }
  td { font-size: 11px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit mat-icon, .botonagregar2 mat-icon{  font-size: 10px;  margin-left: -12px; margin-top: -2px; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 18px; }
  #nombreSitioVSpa{ margin-left: 18px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
  .excelButton i{ top: -3px; font-size: 15px;}
}
/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .excelButton{ width: 38px;height: 30px; }
  .btnedit{
    width: 27px !important;
    height: 26px;
    position: relative;
    margin-left: 44%;
  }
  .excelButton{ margin-left: -15%; }
  h3{
    margin-left: 3%;
    font-size: 12px;
  }
  td { font-size: 11px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit mat-icon, .botonagregar2 mat-icon{  font-size: 14px; margin-left: -11px; margin-top: -1px; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 18px; }
  #nombreSitioVSpa{ margin-left: 18px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
  .excelButton i{ top: -8px; font-size: 15px; margin-left: 1px;}
}
/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  td { font-size: 14px; height: 0px;}
  .excelButton { margin-left: -7%;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit{margin-left: 26%;}
  #opcSp{ margin-left: 15%; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 18px; }
  #nombreSitioVSpa{ margin-left: 18px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
}
/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  td { font-size: 16px; height: 0px;}
  .excelButton { margin-left: -4%;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit{margin-left: 26%;}
  #opcSp{ margin-left: 15%; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 18px; }
  #nombreSitioVSpa{ margin-left: 18px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
}
/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  td { font-size: 16px; height: 0px;}
  .excelButton { margin-left: -4%;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit{margin-left: 26%;}
  #opcSp{ margin-left: 15%; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 18px; }
  #nombreSitioVSpa{ margin-left: 18px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
}
/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  td { font-size: 16px; height: 0px;}
  .excelButton { margin-left: -3%;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit{margin-left: 26%;}
  #opcSp{ margin-left: 15%; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 93px; }
  #nombreSitioVSpa{ margin-left: 40px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
}

/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  td { font-size: 16px; height: 0px;}
  .excelButton { margin-left: -3%;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .btnedit{margin-left: 26%;}
  #opcSp{ margin-left: 15%; }
  button i{ position: relative; top: -15%; }
  #idSpa { margin-left: 17px; }
  #fechaISpa { margin-left: 22px; }
  #fechaFSpa{ left: 8px; }
  #nombreOficSpa{ margin-left: 98px; }
  #nombreSitioVSpa{ margin-left: 41px; }
  #nombreSpa{margin-left: 20px; }
  #turnoSpa{ left: 15px; }
}
