.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3%;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3%;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.contenedor{
  width: 90%; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
#idSpa, #idSpa2, #descSpa, #opcSpa{ position: static;}
#idSpa{ margin-left: 140%;}
#descSpa{ margin-left: 152%;}
#nomSpa{margin-left: 120%;}
#valSpa{margin-left: 102%;}
#opcSpa{ padding-right: 0%;}
#idSpa2{ padding-left: 1%;}
td{ text-align: left;}
td.mat-cell{ padding-left: 1%;}
/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  #idSpa{margin-left: 38% ; }
  #descSpa{margin-left: 14%;}
  #nomSpa{ margin-left: 85%;}
  #valSpa{margin-left: 165%;}
  #opcSpa{ margin-left: 13px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  #idSpa{margin-left: -23% ; }
  #descSpa{margin-left: 14%;}
  #nomSpa{ margin-left: 82%;}
  #valSpa{margin-left: 160%;}
  #opcSpa{ margin-left: 13px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  #idSpa{margin-left: -25%; }
  #descSpa{margin-left: 21%;}
  #nomSpa{ margin-left: 89%;}
  #valSpa{margin-left: 185%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: -34%; }
  #descSpa{margin-left: 33%;}
  #nomSpa{ margin-left: 74%;}
  #valSpa{margin-left: 208%;}   
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: -24% ; }
  #descSpa{margin-left: 53%;}
  #nomSpa{ margin-left: 75%;}
  #valSpa{margin-left: 213%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 7% ; }
  #descSpa{margin-left: 85%;}
  #nomSpa{ margin-left: 62%;}
  #valSpa{margin-left: 370%;}    
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 38% ; }
  #descSpa{margin-left: 126%;}
  #nomSpa{ margin-left: 89%;}
  #valSpa{margin-left: 480%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 79% ; }
  #descSpa{margin-left: 150%;}
  #nomSpa{ margin-left: 115%;}
  #valSpa{margin-left: 540%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 140%; }
  #descSpa{margin-left: 155%;}
  #nomSpa{ margin-left: 128%;}
  #valSpa{margin-left: 620%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}


/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 83%; }
  #descSpa{margin-left: 155%;}
  #nomSpa{ margin-left: 155%;}
  #valSpa{margin-left: 643%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 97%; }
  #descSpa{margin-left: 175%;}
  #nomSpa{ margin-left: 145%;}
  #valSpa{margin-left: 650%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 214%; }
  #descSpa{margin-left: 195%;}
  #nomSpa{ margin-left: 161%;}
  #valSpa{margin-left: 750%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 244%; }
  #descSpa{margin-left: 195%;}
  #nomSpa{ margin-left: 188%;}
  #valSpa{margin-left: 880%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 244%; }
  #descSpa{margin-left: 276%;}
  #nomSpa{ margin-left: 200%;}
  #valSpa{margin-left: 950%;}  
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 244%; }
  #descSpa{margin-left: 297%;}
  #nomSpa{ margin-left: 230%;}
  #valSpa{margin-left: 1000%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 244%; }
  #descSpa{margin-left: 369%;}
  #nomSpa{ margin-left: 327%;}
  #valSpa{margin-left: 1350%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 244%; }
  #descSpa{margin-left: 423%;}
  #nomSpa{ margin-left: 347%;}
  #valSpa{margin-left: 300%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSpa{margin-left: 785%; }
  #descSpa{margin-left: 876%;}
  #nomSpa{ margin-left: 693%;}
  #valSpa{margin-left: 2700%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
