.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.botonagregar{ background-color: #00235C; }
.btnedit{ background-color: #97B4E2; color: white;}

td button mat-icon{ left: -18%; top: -11%; }
#idSpa, #idSp2, #descSpa, #nomSpa, #valSpa, #opcSpa{ position: relative;}
#idSpa{ left: 10px; position: absolute; }
#descSpa{ left: 129px; position: absolute;}
#nomSpa{ left: 74px; position: absolute; }
#valSpa{ left: 209px; position: absolute; }
#opcSpa{ left: 10px; }
#idSp2{ padding-left: 0%; }


/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 1px; }
  #idSpa{left: 14% !important; }
  #descSpa{margin-left: 12%;position: static;}
  #nomSpa{left: 30%;}
  #valSpa{left: 42%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 1px; }
  #idSpa{left: 14% !important; }
  #descSpa{margin-left: 12%;position: static;}
  #nomSpa{left: 30%;}
  #valSpa{left: 42%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 1px; }
  #idSpa{left: 14% !important; }
  #descSpa{margin-left: 12%;position: static;}
  #nomSpa{left: 30%;}
  #valSpa{left: 42%;}
  #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}
