<div class="contenedor">
  <h2 class="dato">Agregar Nueva Asignacion de Turno a Vendedor</h2>
  <form [formGroup]="formAsignarTurno">
    <div class="row1">
      <div class="nombre2">
        <h2 class="oficina2">Oficina</h2>
        <mat-form-field class="nombre"  appearance="fill">
        <mat-label>Ingrese oficina</mat-label>
        <mat-select matNativeControl id="oficina" name="oficina" formControlName="oficina" [(ngModel)]="id" (selectionChange)="idOficina($event)">
          <mat-option *ngFor="let item of listaOficinas"  value="{{item.id}}" [value]="item">{{item.ideOficina}} | {{item.nom_oficina}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre3">
        <h2 class="sitio">Sitio Venta</h2>
        <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese Sitio Venta</mat-label>
          <input type="text"
          aria-label="text"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto2" >
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onSelectionChanged2($event)" [displayWith]="displaySf" id="sitioVenta" name="sitioVenta" formControlName="sitioVenta" >
            <mat-option *ngFor="let item of opcionesFiltradas | async"  [value]="item" ngValue="item.ideSitioventa" >
              {{item.ideSitioventa}} | {{item.nom_sitioventa}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2 class="Turno">Turno</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese Turno</mat-label>
        <mat-select matNativeControl id="turno" name="turno" formControlName="turno">
          <mat-option *ngFor="let item of listarTurnos"  value="{{item.idTurnos.id}}" >{{item.idTurnos.horaInicio}}-{{item.idTurnos.horaFinal}} || {{item.idTurnos.idTipoTurno.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre5">
        <h2 class="vendedor1">Vendedor</h2>
        <mat-form-field class="example-full-width nombre" appearance="fill">
          <mat-label>Ingrese Vendedor</mat-label>
          <input type="text"
           aria-label="text"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto" >
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" [displayWith]="displayFn" id="vendedor" name="vendedor" formControlName="vendedor" >
            <mat-option *ngFor="let item of filteredOptions | async"  [value]="item" ngValue="item.ideUsuario" >
              {{item.num_identificacion}} | {{item.nombres}} {{item.apellido1}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="nombre6">
        <h2 class="fecha1">Fecha Inicio</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese fecha inicio</mat-label>
        <input type="date" id="fechaInicio" name="fechaInicio" formControlName="fechaInicio" matInput>
        </mat-form-field>
      </div>
      <div class="nombre7">
        <h2 class="fecha2">Fecha Final</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese fecha final</mat-label>
        <input type="date" id="fechaFinal" name="fechaFinal" formControlName="fechaFinal" matInput >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardar" (click)="guardar()"  data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar asignación">Insertar</button>
      </div>
    </div>
  </form>
  <div class="tit">
    <h2 >Lista de Asignación de Vendedores Existentes</h2>
  </div>

  <section class="example-container mat-elevation-z8" tabindex="0">
    <table datatable [dtOptions]="dtOptions" mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef ><h1 id="idtable">Id</h1></th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreVendedor">
          <th mat-header-cell *matHeaderCellDef><h1>Nombre Vendedor</h1></th>
          <td mat-cell *matCellDef="let element">{{element.nombreVendedor}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreOficina">
        <th mat-header-cell *matHeaderCellDef><h1>Nombre Oficina</h1></th>
        <td mat-cell *matCellDef="let element">{{element.nombreOficina}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombreSitioVenta">
        <th mat-header-cell *matHeaderCellDef><h1>Nombre Sitio Venta</h1></th>
        <td mat-cell *matCellDef="let element">{{element.nombreSitioVenta}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef><h1>Fecha Inicio</h1></th>
        <td mat-cell *matCellDef="let element">{{element.fechaInicio}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fechaFinal">
        <th mat-header-cell *matHeaderCellDef><h1>Fecha Final</h1></th>
        <td mat-cell *matCellDef="let element">{{element.fechaFinal}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef rowspan="2"><h1>Turno</h1></th>
        <td mat-cell *matCellDef="let element" >{{element.idTurno.horaInicio}} - {{element.idTurno.horaFinal}} | {{element.idTurno.idTipoTurno.descripcion}}</td>
      </ng-container>

      <!--Opciones-->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef ><h1>Opciones</h1></th>
        <td mat-cell *matCellDef="let item" class="text-center">
          <button class="btn btnremove" *ngIf="item.estado == 'Disponible'" (click)="eliminarAsignarTurnoVendedor(item.id)"  data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar asignación">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="btn btn-warning btnedit mx-3" style="background-color: #FFCA2C; cursor: not-allowed;" *ngIf="item.estado == 'Pendiente'"  data-bs-toggle="tooltip" data-bs-placement="top" title="Esta eliminación está pendiente">
            <mat-icon>schedule_send</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>
