.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}

.tit{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 10px;
  font-size: 20px;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 16px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 6%;
}
.boton{ background-color: #00235C; }
.btnremove{ background-color: #DA161A; color: white; }

h2{
margin: 0;
}
.container{
width: 80%;
background-color: white;
margin-left: 10%;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
border-radius: 15px;
margin-top: 10%;
box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
.nombre3{ margin-left: 40%; margin-top: -9.4%;}
.nombre4{ margin-left: 73.5%; margin-top: -9.4%;}
.nombre5{ margin-left: 5%; margin-top: 2.5%;}
.guardar{
background-color: #00235C ;
color: white;
width: 200px;
height: 40px;
font-size: large;
margin-left: 78%;
top: -25%;
}

.row1{
border-top: 3px solid #97B4E2;
padding-top: 3%;
padding-bottom: 4%;
}
.contenedor{ width: 80% !important; margin-left: 10%; margin-top: 4%; }
mat-option{ font-size: 10.5px; }
.btnremove mat-icon, .btnedit mat-icon{ left: -3px; top: -1px;}
#idSpa, #nombreSpa, #nombreOficSpa, #nombreSitioVSpa, #fechaISpa, #fechaFSpa, #turnoSpa, #opcSpa{ position: relative; }
#idSp2{ padding-left: 0%; }
th.mat-header-cell{ padding-right: 15px; }
.btnremove { position: relative; left: 10px; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 0px; }
  .nombre { width: 225px; }
  .nombre2, .nombre3, .nombre4, .nombre5, .nombre6, .nombre7 { margin-top: 0%; margin-left: 0%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -50%; }
  td button{ margin-top: 5%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 0px; }
  .nombre { width: 250px; }
  .nombre2, .nombre3, .nombre4, .nombre5, .nombre6, .nombre7 { margin-top: 0%; margin-left: 5%; }
  .guardar { margin-left: 15%; }
  #idtable{ margin-left: -50%; }
}

/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  .nombre { width: 410px; }
  .nombre2, .nombre3, .nombre4, .nombre5, .nombre6, .nombre7 { margin-top: 0%; margin-left: 5%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -50%; }
}

/* Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 699px){
  .nombre { width: 225px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 0%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -20%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/* Tablet 2 */
@media screen and (min-width: 700px) and (max-width: 768px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -17%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/* Tablet 3 */
@media screen and (min-width: 769px) and (max-width: 899px){
  .nombre { width: 225px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 0%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -21%; margin-left: 55%; }
  .guardar { margin-left: 0%; }
  #idtable{ margin-left: -90%; }
}

/* Portatil 2*/
@media screen and (min-width: 900px) and (max-width: 960px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -17%; margin-left: 55%; }
  .guardar { margin-left: 0%; }
  #idtable{ margin-left: -90%; }
}

/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -15%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/* Tablet 6 y 7 */
@media screen and (min-width: 1081px) and (max-width: 1200px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -13%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/* portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1201px) and (max-width: 1280px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -11.8%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  .nombre { width: 250px; }
  .nombre2, .nombre4, .nombre6 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre5, .nombre7 { margin-top: -10%; margin-left: 55%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -9.5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -9.5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -8%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -8%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -7.5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -7.5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -7%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -7%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -6%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -6%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -90%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -5.5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -5.5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -30%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -30%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -3.5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -3.5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -30%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -3.5%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -3.5%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -30%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .nombre { width: 250px; }
  .nombre2, .nombre5 { margin-top: 0%; margin-left: 5%; }
  .nombre3, .nombre6 { margin-top: -1%; margin-left: 35%; }
  .nombre4, .nombre7 { margin-top: -1%; margin-left: 65%; }
  .guardar { margin-left: 5%; }
  #idtable{ margin-left: -30%; }
}
