.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.btnedit{ background-color: #959595; color: white; }
.boton{ background-color: #00235C; color: white; }
.btnver{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnremove, .btnedit{ margin-left: 0%;}
.btnedit mat-icon, .btnremove mat-icon{ left: -3px; top: -1px;}
#fechaSp, #cantidadSp, #ejecuSp, #cantidaEjecucionSp, #ejecuSp2, #cantidadObjetosCom, #opcSpa{ position: relative; }
/* #fechaSp{ left: 26px; }
#cantidadSp{ left: 54px; }
#ejecuSp{ left: 55px; }
#cantidadSp{ left: 54px; }
#ejecuSp{ left: 41px; }
#cantidadObjetosCom{ left: 53px; }
#opcSpa{ left: 5px; } */
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 0px; }
  td button{ margin-top: 5%; }
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 0px; }
  td button{ margin-top: 5%; }
}
/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px; margin-top: 0px; }
  td button{ margin-top: 5%; }
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  #fechaSp{ margin-left: -9% !important; }
  .boton mat-icon{left: -17%;}
  td button{ margin-top: 5%; }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  #fechaSp{ margin-left: -9% !important; }
  .boton mat-icon{ left: -16%;}
  td button{ margin-top: 5%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  .boton mat-icon {left: -14%;}
  td.mat-cell{ padding-top: 3px; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  .boton mat-icon{ left: -16%;}
  td button{ margin-top: 5%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  .boton mat-icon{left: -20%;}
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .boton mat-icon {left:-16%;}
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  .boton mat-icon{ left: -16%;}
  td button{ margin-top: -6%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  #opcSpa{left: 22%;}
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  #opcSpa mat-icon{left: -21%;}
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .boton mat-icon{ left: -16%;}
  td.mat-cell{ padding-right: 9px; padding-top: 9px;}
  td button{ margin-top: -6%; }
}
