<mat-drawer-container class="example">
  <mat-drawer mode="side" opened>
    <img src="assets/logo/LOGO GECCO-ai (4).png" routerLink="/inicio" alt="" class="logo">
  <mat-expansion-panel style="display: none;" id="Administracion2" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Administración
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="555"  routerLink="/usuarios" style="display: none;">Usuarios</button>
      <button mat-raised-button id="444" routerLink="/tipoDocumento" style="display: none;">Tipos de Documentos</button>
      <button mat-raised-button id="333" routerLink="/roles" style="display: none;">Roles</button>
      <button mat-raised-button id="1010" routerLink="/modulo" style="display: none;">Modulos</button>
      <button mat-raised-button id="1111" routerLink="/jerarquia" style="display: none;">Jerarquía</button>
      <button mat-raised-button id="1919" routerLink="/configuraciones" style="display: none;">Configuracion</button>
      <button mat-raised-button id="2121" routerLink="/aprobacion" style="display: none;">Aprobacion</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Malla2" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Malla de Turnos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="111" routerLink="/tipoTurnos" style="display: none;">Tipos de Turnos</button>
      <button mat-raised-button id="1212" routerLink="/tipoNovedades" style="display: none;">Tipo de Novedades</button>
      <button mat-raised-button id="222" routerLink="/turnos" style="display: none;">Turnos</button>
      <button mat-raised-button id="666" routerLink="/asignarTurno" style="display: none;">Asignar Turno a Punto de Venta</button>
      <button mat-raised-button id="1313" routerLink="/asignarTurnoVendedor" style="display: none;">Asignar Turno Vendedor</button>
      <button mat-raised-button id="777" routerLink="/mallas" style="display: none;">Malla de Turnos Ingreso</button>
      <button mat-raised-button id="2020" routerLink="/mallasCierre" style="display: none;">Malla de Turnos Cierre</button>
      <button mat-raised-button id="1414" routerLink="/novedades" style="display: none;">Generar Reporte Novedad</button>
      <button mat-raised-button id="4040" routerLink="/presupuestoVentaMensual" style="display: none;" >Presupuesto de Punto Venta Mensual</button>
      <button mat-raised-button id="4141" routerLink="/reporteAsesor" style="display: none;" >Reporte Asesor</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Visita2" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Visita
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="1616" routerLink="/elementosVisita" style="display: none;">Elementos Visita</button>
      <button mat-raised-button id="1717" routerLink="/opcionesVisita" style="display: none;">Opciones</button>
      <button mat-raised-button id="1515" routerLink="/visitaDetalle" style="display: none;">Agregar Visita Detalle</button>
      <button mat-raised-button id="1818" routerLink="/reportesVisitaDetalle" style="display: none;">Generar Reporte Visita</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Compra2" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Compra
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="2222" routerLink="/articulos" style="display: none;">Articulos</button>
      <button mat-raised-button id="3131" routerLink="/categoria" style="display: none;">Categoria</button>
      <button mat-raised-button id="3333" routerLink="/proceso" style="display: none;">Asignación de Categoria</button>
      <button mat-raised-button id="2626" routerLink="/proveedores" style="display: none;" >Proveedores</button>
      <button mat-raised-button id="2929" routerLink="/solicitudesRealizadas" style="display: none;" >Solicitudes Realizadas</button>
      <button mat-raised-button id="3232" routerLink="/comentariosSolicitud" style="display: none;">Comentarios Solicitudes</button>
      <button mat-raised-button id="3030" routerLink="/generarSolicitud" style="display: none;" >Generar Solicitud</button>
      <button mat-raised-button id="2323" routerLink="/solicitud" style="display: none;">Lista de Solicitudes</button>
      <button mat-raised-button id="5858" routerLink="/firmas" style="display: none;">Firmas</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="RecepcionDatos2" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Recepción de Datos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="4242" routerLink="/tipoServicio" style="display: none;">Tipo de Servicio</button>
      <button mat-raised-button id="4343" routerLink="/escalaSolicitudes" style="display: none;">Escala Solicitudes</button>
      <button mat-raised-button id="4444" routerLink="/motivoSolicitud" style="display: none;">Motivos de Solicitud</button>
      <button mat-raised-button id="4545" routerLink="/clientesSC" style="display: none;">Clientes Servicio al Cliente</button>
      <button mat-raised-button id="4646" routerLink="/asignacionUsuariosPqr" style="display: none;">Asignar usuario PQRS</button>
      <button mat-raised-button id="4747" routerLink="/area" style="display: none;">Area</button>
      <button mat-raised-button id="3838" routerLink="/solicitudesSC" style="display: none;">Solicitudes PQRS</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Raspa2" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Raspa
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="2828" [routerLink]="['/raspalisto']" style="display: none;">Visado Premio</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="RegistroIngreso2" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Registro Ingreso
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="5050" routerLink="/sedes" style="display: none;">Sedes</button>
      <button mat-raised-button id="4949" routerLink="/registroIngreso" style="display: none;">Registro</button>
      <button mat-raised-button id="5151" routerLink="/reporteRegistroIngreso" style="display: none;">Reporte Ingreso</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Inventario2" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Inventario
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="opciones">
        <button mat-raised-button id="5252" routerLink="/tipoActivo" style="display: none;">Tipo Activo</button>
        <button mat-raised-button id="5353" routerLink="/tipoProceso" style="display: none;">Tipo Proceso</button>
        <button mat-raised-button id="5454" routerLink="/detalleArticulo" style="display: none;">Detalle Articulo</button>
        <button mat-raised-button id="5555" routerLink="/historialArticulo" style="display: none;">Historial Articulo</button>
        <button mat-raised-button id="5656" routerLink="/asignacionProceso" style="display: none;">Asignaciones Procesos</button>
        <button mat-raised-button id="5757" routerLink="/asignacionArticulo" style="display: none;">Asignaciones Articulos</button>
        <button mat-raised-button id="5959" routerLink="/asignacionArticulo" style="display: none;">Mis Articulos</button>
        <button mat-raised-button id="6060" routerLink="/listaAutorizaciones" style="display: none;">Solicitudes Bajas Artículos</button>
        <button mat-raised-button id="6161" routerLink="/listaConfirmaciones" style="display: none;">Lista Bajas Lider Proceso</button>
        <button mat-raised-button id="6262" routerLink="/listaArticuloInventario" style="display: none;">Lista Articulos Inventario</button>
        <!-- <button mat-raised-button routerLink="/listaActasBajas">Lista Actas Bajas Articulos</button> -->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel style="display: none;" id="MatrizDeNecesidades2" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="boton">
        <mat-panel-title >
          Matriz de Necesidades
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="opciones">
        <button mat-raised-button id="6363" routerLink="/subProceso" >Sub Procesos</button>
        <button mat-raised-button id="6464" routerLink="/matrizNecesidad" >Matriz</button>
        <button mat-raised-button id="6565" routerLink="/tipoNecesidad" >Tipo Necesidades</button>
      </div>
  </mat-expansion-panel>
  </mat-drawer>
</mat-drawer-container>
