<h2 class="dato">Ingresar Nuevo Recordatorio</h2>
<form [formGroup]="formRecordatorio">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese descripción del Recordatorio</mat-label>
      <textarea id="descripcion" formControlName="descripcion" matInput></textarea>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Tipo de Envio</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Seleccione el Tipo de Envio</mat-label>
      <mat-select matNativeControl id="tipoEnvio" name="tipoEnvio" formControlName="tipoEnvio">
        <mat-option *ngFor="let opcion of listaOpciones" value="{{opcion}}" >{{opcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Fecha</h2>
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
           [stepHour]="stepHour" [stepMinute]="stepMinute">
        </ngx-mat-datetime-picker>
     </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear rol"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
