<div class="contenedor">
  <h2 class="dato">Modificar Asignacion de Turno</h2>
  <form [formGroup]="formAsignarTurno">
    <div class="row1">
      <div class="nombre2">
        <h2>Oficina</h2>
        <mat-form-field class="nombre"  appearance="fill">
        <mat-label>Ingrese oficina</mat-label>
        <select matNativeControl id="oficina" name="oficina" formControlName="oficina" [(ngModel)]="id" (change)="idOficina()">
          <option *ngFor="let item of listaOficinas"  value="{{item.id}}" [ngValue]="item">{{item.ideOficina}} | {{item.nom_oficina}}</option>
        </select>
        </mat-form-field>

      </div>
      <div class="nombre3">
        <h2>Sitio Venta</h2>
        <mat-form-field class="nombre1" appearance="fill">
        <mat-label>Ingrese Sitio Venta</mat-label>
        <select matNativeControl id="sitioVenta" name="sitioVenta" formControlName="sitioVenta" [(ngModel)]="idSitioVenta" (change)="idSitiosVentas()">
          <option *ngFor="let item of listarSitioVentas"  value="{{item.ideSitioventa}}" [ngValue]="item">{{item.nom_sitioventa}}</option>
        </select>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Turno</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese Turno</mat-label>
        <select matNativeControl id="turno" name="turno" formControlName="turno">
          <option *ngFor="let item of listarTurnos"  value="{{item.id}}" >{{item.horaInicio}}-{{item.horaFinal}} || {{item.idTipoTurno.descripcion}}</option>
        </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardar" (click)="guardar()" >Insertar</button>
      </div>
    </div>
  </form>
  <div class="tit">
    <h2 >Lista de Asignación de Turnos Existentes</h2>
  </div>

  <table datatable [dtOptions]="dtOptions" mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef ><h1>Id</h1></th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef><h1>Estado</h1></th>
      <td mat-cell *matCellDef="let element">{{element.idEstado.descripcion}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="horaFinal">
      <th mat-header-cell *matHeaderCellDef><h1>Hora Inicio</h1></th>
      <td mat-cell *matCellDef="let element">{{element.idTurnos.horaInicio}}</td>
    </ng-container>

    <ng-container matColumnDef="horaInicio">
      <th mat-header-cell *matHeaderCellDef><h1>Hora Final</h1></th>
      <td mat-cell *matCellDef="let element">{{element.idTurnos.horaFinal}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef><h1>Nombre Oficina</h1></th>
      <td mat-cell *matCellDef="let element">{{element.nombreOficina}}</td>
    </ng-container>

    <ng-container matColumnDef="Tipo Turno">
      <th mat-header-cell *matHeaderCellDef><h1>Nombre Sitio Venta</h1></th>
      <td mat-cell *matCellDef="let element">{{element.nombreSitioVenta}}</td>
    </ng-container>
    <!--Opciones-->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

