.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}

.botonvolver{ background-color: #00235C; left: 12px;}

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }

.botonagregar2, .btnremove, .btnedit, .btnver, .pdfButton, .botonvolver{ width: 64px; height: 36px; }
#idSp, #idSp2, #desSp, #estSp, #estSp2, #estSp3, #opcSp, #estaSp{ position: relative;}
#opcSp{ padding-right: 0%; }
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .botonvolver{ width: 38px; height: 30px; }
  .botonvolver mat-icon{ font-size: 17px !important; margin-left: -55%; }
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 0px; }
  #idSp{ margin-left: 60%; }
  #desSp{ margin-left: 15%; }
  #estSp{ margin-left: 15%; }
  #estSp3{ margin-left: 10%; }
  #estSp2{ margin-left: 15%; }
  #estaSp{ margin-left: 25%; }
  td button{ margin-top: 5%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .botonvolver{ width: 38px; height: 30px; }
  .botonvolver mat-icon{ font-size: 17px !important; margin-left: -55%; }
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 0px; }
  #idSp{ margin-left: 60%; }
  #desSp{ margin-left: 15%; }
  #estSp{ margin-left: 15%; }
  #estSp3{ margin-left: 10%; }
  #estSp2{ margin-left: 15%; }
  #estaSp{ margin-left: 25%; }
}

  /* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  .botonvolver{ width: 38px; height: 30px; }
  .botonvolver mat-icon{ font-size: 17px !important; margin-left: -55%; }
  td button mat-icon{ font-size: 17px !important; margin-left: -2px; margin-top: 2px; }
  #idSp{ margin-left: 60%; }
  #desSp{ margin-left: 15%; }
  #estSp{ margin-left: 15%; }
  #estSp3{ margin-left: 10%; }
  #estSp2{ margin-left: 15%; }
  #estaSp{ margin-left: 25%; }
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  #idSp{ margin-left: 60%; }
  #desSp{ margin-left: 15%; }
  #estSp{ margin-left: 15%; }
  #estSp3{ margin-left: 10%; }
  #estSp2{ margin-left: 15%; }
  #estaSp{ margin-left: 25%; }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  #idSp{ margin-left: 60%; }
  #desSp{ margin-left: 15%; }
  #estSp{ margin-left: 15%; }
  #estSp3{ margin-left: 10%; }
  #estSp2{ margin-left: 15%; }
  #estaSp{ margin-left: 25%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  #idSp{ margin-left: 90%; }
  #desSp{ margin-left: 30%; }
  #estSp{ margin-left: 25%; }
  #estSp3{ margin-left: 22%; }
  #estSp2{ margin-left: 30%; }
  #estaSp{ margin-left: 40%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  #idSp{ margin-left: 90%; }
  #desSp{ margin-left: 40%; }
  #estSp{ margin-left: 40%; }
  #estSp3{ margin-left: 30%; }
  #estSp2{ margin-left: 55%; }
  #estaSp{ margin-left: 60%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  #idSp{ margin-left: 90%; }
  #desSp{ margin-left: 50%; }
  #estSp{ margin-left: 35%; }
  #estSp3{ margin-left: 45%; }
  #estSp2{ margin-left: 55%; }
  #estaSp{ margin-left: 65%; }
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  #idSp{ margin-left: 90%; }
  #desSp{ margin-left: 50%; }
  #estSp{ margin-left: 35%; }
  #estSp3{ margin-left: 45%; }
  #estSp2{ margin-left: 55%; }
  #estaSp{ margin-left: 65%; }
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  #idSp{ margin-left: 710%; }
  #desSp{ margin-left: 520%; }
  #estSp{ margin-left: 510%; }
  #estaSp{ margin-left: 900%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  #idSp{ margin-left: 80%; }
  #desSp{ margin-left: 25%; }
  #estSp{ margin-left: 22%; }
  #estSp3{ margin-left: 20%; }
  #estSp2{ margin-left: 35%; }
  #estaSp{ margin-left: 75%; }
}
