.example-container {
  max-width: 100%;
  position: relative;
  border-bottom: 20%;
  box-shadow: 1px none #000;
}
td.mat-cell:first-of-type{
  padding-right: 0%;
  padding-left: 0%;
}
.ar{
  position: relative;
  left: -3px;
}
.o{
  position: relative;
  left: -3px;
}
.v{
  position: relative;
  left: -3px;
}
.cant{
  position: relative;
  left: -3px;
}
.sub{
  position: relative;
  top: -52px;
}
.val{
  position: relative;
  top: -53px;
}
.des{
  position: relative;
  top: -52px;
}
.to{
  position: relative;
  top: -52px;
}
.guardar4{
  background-color: #00235C;
  color: white;
  width: 108px;
  height: 40px;
  font-size: large;
  margin-left: 0%;
  position: relative;
  top: -47px;
}
.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
table{
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  margin-top: 2%;
}

.tit{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 10px;
  font-size: 20px;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 6%;
}
.boton{ background-color: #00235C; }
.btnremove{ background-color: #DA161A; color: white; }

h2{
margin: 0;
}
.container{
width: 80%;
background-color: white;
margin-left: 10%;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
border-radius: 15px;
margin-top: 10%;
box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
width: 230px;
}
.nombre{ position: relative;
  top: -60px;
  left: 196px; }
.nombre2, .estado2{ margin-left: 0%; margin-top: 2.5%; }
.nombre3{ margin-left: 30%; margin-top: -12.4%; margin-bottom: -30px;}
.nombre4{ margin-left: 73.5%; margin-top: -9.4%;}
.nombre5{ margin-left: 5%; margin-top: 2.5%;}
.guardar{
background-color: #00235C ;
color: white;
width: 50px;
height: 40px;
font-size: large;
margin-left: 78%;
top: -25%;
}


.row1{
border-top: 3px solid #97B4E2;
padding-top: 3%;
padding-bottom: 4%;
}
.contenedor{ width: 80% !important; margin-left: 10%; margin-top: 4%; }
mat-option{ font-size: 10.5px; }
.btnremove{ width: 64px; height: 36px; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  h3{
    font-size: 12px;
  }
  .example-container{
    overflow: auto;
    position: relative;
    top: 56px !important;
    margin-bottom: 5% !important;
  }
  td{
    font-size: 11px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .ar{
    position: relative;
    left: -14px;
    top: 6px;
  }
  td.mat-cell:first-of-type{
    padding-left: 0%;
    padding-right: 0%;
  }
  .cant{
    position: relative;
    left: -1px;
    top: 6px;
  }
  .nombre2{ margin-left: 5%; }
  .nombre3{ margin-top: -2%; margin-left: 40%; }
  .o{
    position: relative;
    left: 0px;
    top: 6px;
  }
  .v{
    position: relative;
    left: 11px;
    top: 6px;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -8px;
  }
  .nombre1{
    width: 160px;
    left: -8px;
  }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -80px;
  }
  mat-radio-button{
    position: relative;
    left: -65px;
    top: -17px;
  }
  .nombre{
    width: 160px;
    left: -64px;
    top: -22px;
  }

  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 159px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .guardar{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 11%;
  }

  .guardar3{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 20%;
  }

  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -7px;
    margin-bottom: -7px;

  }

  .guardar4{
    background-color: #00235C;
    color: white;
    width: 164px;
    height: 40px;
    margin-left: 1%;
    position: relative;
    top: 39px;
    margin-bottom: 30%;
  }
  .sub{
    position: relative;
    top: 67px;
  }
  .val{
    position: relative;
    top: 56px;
  }
  .des{
    position: relative;
    top: 47px;
  }
  .to{
    position: relative;
    top: 39px;
  }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .example-container{
    width: 202px;
    overflow: auto;
    position: relative;
    top: 43px !important;
    margin-bottom: 15% !important;
  }
  h3{
    font-size: 12px;
  }
  .ar{
    position: relative;
    top: 5px;
    left: -13px;
  }
  .v{
    position: relative;
    top: 5px;
    left: 13px;
  }
  .o{
    position: relative;
    left: -5px;
    top: 5px;
  }
  .cant{
    margin-left: 20px;
    left: -10px;
    position: relative;
    top: 5px;
  }
  td{
    font-size: 12px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -8px;
  }
  .nombre1{
    width: 200px;
    left: -8px;
  }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -93px;
  }
  mat-radio-button{
    position: relative;
    left: -78px;
    top: -17px;
  }
  .nombre{
    width: 200px;
    left: -79px;
    top: -23px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 200px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .nombre2{ margin-left: 5%; }
  .nombre3{ margin-top: -2%; margin-left: 40%; }
  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -7px;
    margin-bottom: -7px;
  }

  .guardar4{
    background-color: #00235C;
    color: white;
    width: 164px;
    height: 40px;
    margin-left: 10%;
    position: relative;
    top: 40px;
    margin-bottom: 30%;
  }
  td.mat-cell:first-of-type{
    padding-left: 0%;
    padding-right: 0%;
  }
  .sub{
    position: relative;
    top: 35px;
  }
  .val{
    position: relative;
    top: 31px;
  }
  .des{
    position: relative;
    top: 25px;
  }
  .to{
    position: relative;
    top: 22px;
  }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .example-container{
    width: 345px;
    overflow: auto;
    position: relative;
    top: 65px !important;
    border-bottom: 20%;
    box-shadow: 1px none #000;
    margin-bottom: 3% !important;
  }
  h3{
    font-size: 20px;
  }
  .ar{
    position: relative;
    top: 5px;
    left: -12px;
  }
  td.mat-cell:first-of-type{
    padding-left: 0%;
    font-size: 14px;
    padding-right: 0%;
  }
  .v{
    position: relative;
    top: 11px;
    left: 13px;
  }
  .o{
    position: relative;
    left: 0px;
    top: 5px;
  }
  .cant{
    margin-left: 20px;
    left: -10px;
    position: relative;
    top: 5px;
  }
  td{
    font-size: 14px;
    position: relative;
    top: 1px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
  }
  .nombre1{
    width: 345px;
    left: -15px;
  }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
    font-size: 15px;
  }
  li{
    position: relative;
    left: -151px;
    top: 21px;
  }
  mat-radio-button{
    position: relative;
    left: -140px;
    top: 4px;
  }
  .nombre{
    width: 340px;
    left: -131px;
    top: 0px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 345px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -17px;
    margin-bottom: -17px;
  }
  .nombre2{ margin-left: 5%; }
  .nombre3{ margin-top: -8%; margin-left: 40%; }
  .guardar4{
    background-color: #00235C;
    color: white;
    width: 215px;
    height: 40px;
    margin-left: 1%;
    position: relative;
    top: 47px;
    margin-bottom: 20%;
  }
  .sub{
    position: relative;
    top: 67px;
  }
  .val{
    position: relative;
    top: 56px;
  }
  .des{
    position: relative;
    top: 47px;
  }
  .to{
    position: relative;
    top: 39px;
  }
}

/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  .example-container{
    width: 442px;
    overflow: auto;
    position: relative;
    top: 48px !important;
  }
  h3{
    font-size: 20px;
  }
  .ar{
    position: relative;
    top: 5px;
    left: -11px;
  }
  .v{
    position: relative;
    top: 10px;
    left: 12px;
  }
  .o{
    position: relative;
    left: 0px;
    top: 5px;
  }
  .cant{
    margin-left: 20px;
    left: -10px;
    position: relative;
    top: 5px;
  }
  td{
    font-size: 16px;
    position: relative;
    top: 1px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
  }
  .nombre1{
    width: 345px;
    left: -15px;
  }
  .nombre2{ margin-left: 5%; }
  .nombre3{ margin-left: 40%; }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -185px;
    top: 50px;
  }
  mat-radio-button{
    position: relative;
    left: -178px;
    top: 36px;
  }

  td.mat-cell:first-of-type{
    padding-left: 0%;
    font-size: 16px;
    padding-right: 0%;
  }
  .nombre{
    width: 240px;
    left: -63px;
    top: -30px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 0%;
    padding-bottom: 4%;
    width: 442px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -17px;
    margin-bottom: -17px;
  }
  .guardar4{
    background-color: #00235C;
    color: white;
    width: 239px;
    height: 40px;
    font-size: large;
    margin-left: 0%;
    position: relative;
    top: 70px;
    margin-bottom: 20%;
  }
  .sub{
    position: relative;
    top: 60px;
  }
  .val{
    position: relative;
    top: 55px;
  }
  .des{
    position: relative;
    top: 50px;
  }
  .to{
    position: relative;
    top: 46px;
  }
}

/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  .example-container{
    width: 442px;
    overflow: auto;
    position: relative;
    top: 48px !important;
  }
  h3{
    font-size: 20px;
  }
  .ar{
    position: relative;
    top: 5px;
    left: -11px;
  }
  .v{
    position: relative;
    top: 10px;
    left: 13px;
  }
  .o{
    position: relative;
    left: 0px;
    top: 5px;
  }
  .cant{
    margin-left: 20px;
    left: -10px;
    position: relative;
    top: 5px;
  }
  td{
    font-size: 16px;
    position: relative;
    top: 1px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
  }
  .nombre1{
    width: 345px;
    left: -15px;
  }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -185px;
    top: 50px;
  }
  mat-radio-button{
    position: relative;
    left: -178px;
    top: 36px;
  }

  td.mat-cell:first-of-type{
    padding-left: 0%;
    font-size: 16px;
    padding-right: 0%;
  }
  .nombre{
    width: 240px;
    left: -63px;
    top: -30px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 0%;
    padding-bottom: 4%;
    width: 442px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -17px;
    margin-bottom: -17px;
  }
  .guardar4{
    background-color: #00235C;
    color: white;
    width: 239px;
    height: 40px;
    font-size: large;
    margin-left: 0%;
    position: relative;
    top: 70px;
    margin-bottom: 20%;
  }
  .sub{
    position: relative;
    top: 60px;
  }
  .val{
    position: relative;
    top: 55px;
  }
  .des{
    position: relative;
    top: 50px;
  }
  .to{
    position: relative;
    top: 46px;
  }
  .nombre2{ margin-left: 5%; }
  .nombre3{ margin-left: 40%; }
}

/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .example-container{
    width: 724px;
    position: relative;
    top: 41px !important;
    height: 100px;
    margin-bottom: -40px;
  }
  h3{
    font-size: 20px;
  }
  .ar{
    position: relative;
    top: px;
    left: -13px;
  }
  .v{
    position: relative;
    top: 2px;
    left: 5px;
  }
  .o{
    position: relative;
    left: 0px;
    top: 2px;
  }
  .cant{
    margin-left: 20px;
    left: -13px;
    position: relative;
    top: 2px;
  }
  td{
    padding-left: 1%;
    font-size: 16px;
  }
  td.mat-cell:first-of-type{
    padding-left: 0%;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
    top: -23px;
  }
  .nombre1{
    width: 345px;
    left: -15px;
    top: -21px;
  }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -285px;
    top: 56px;
  }
  mat-radio-button{
    position: relative;
    left: -288px;
    top: 44px;
  }
  .nombre{
    width: 230px;
    left: -155px;
    top: -16px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 724px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .guardar{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 11%;
  }

  .guardar3{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 20%;
  }

  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -6px;
    margin-bottom: -34px;
  }
  .nombre2{ margin-left: 2.5%; }
  .nombre3{ margin-top: -11%; margin-left: 37.5%; }
  .guardar4{
    background-color: #00235C;
    color: white;
    width: 239px;
    height: 40px;
    font-size: large;
    margin-left: 0%;
    position: relative;
    top: 135px;
    margin-bottom: 20%;
  }
  .sub{
    position: relative;
    top: 150px;
  }
  .val{
    position: relative;
    top: 145px;
  }
  .des{
    position: relative;
    top: 140px;
  }
  .to{
    position: relative;
    top: 135px;
  }
}

/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .example-container{
    width: 724px;
    position: relative;
    top: 43px !important;
    height: 100px;
    margin-bottom: 5%;
  }
  h3{
    font-size: 20px;
  }
  .ar{
    position: relative;
    left: -15px;
  }
  .v{
    position: relative;
    left: 10px;
  }
  .o{
    position: relative;
    left: -5px;
  }
  .cant{
    margin-left: 20px;
    left: -12px;
    position: relative;
  }
  td{
    font-size: 16px;
    padding-bottom: 1px;
    left: 2px;
    top: 2px;
    position: relative;
  }
  .articulo{
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
    top: -23px;
  }
  .nombre1{
    width: 345px;
    left: -15px;
    top: -21px;
  }
  .nombre2{ margin-left: 2.5%; }
  .nombre3{ margin-left: 37.5%; }
  .can{
    width: 100%;
    height: 100%;
    position: relative;
    left: -89px;
    top: 8px;
  }
  .antic{
    position: relative;
    left: -7px;
  }
  li{
    position: relative;
    left: -285px;
    top: 56px;
  }
  mat-radio-button{
    position: relative;
    left: -288px;
    top: 44px;
  }
  .nombre{
    width: 233px;
    left: -155px;
    top: -16px;
  }
  td.mat-cell:first-of-type{
    padding-left: 0%;
    font-size: 16px;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
    width: 724px;
  }
  .obs{
    width: 100%;
    height: 100%;
    position: relative;
    left: -164px;
    top: 18px;
  }
  .ob{
    width: 223px;
    left: -163px;
    top: 18px;
  }
  .guardar{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 11%;
  }

  .guardar3{
    background-color: #00235C;
    color: white;
    width: 222px;
    height: 40px;
    font-size: large;
    margin-left: 1%;
    top: 20%;
  }

  .tabla{
    width: 100%;
    height: 100%;
    position: relative;
    top: -6px;
    margin-bottom: -34px;
  }

  .guardar4{
    background-color: #00235C;
    color: white;
    width: 239px;
    height: 40px;
    font-size: large;
    margin-left: 0%;
    position: relative;
    top: 80px;
    margin-bottom: 11%;
  }
  .sub{
    position: relative;
    top: 75px;
  }
  .val{
    position: relative;
    top: 72px;
  }
  .des{
    position: relative;
    top: 66px;
  }
  .to{
    position: relative;
    top: 64px;
  }
}

