<h2 class="dato">Ingresar Nueva Asignación de Articulo</h2>
<form [formGroup]="formAsignarArticulos">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Asignaciones Procesos</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese la asignación de proceso</mat-label>
      <select matNativeControl formControlName="idAsignacionesProcesos">
        <option *ngFor="let item of listarProcesos"  value="{{item.id}}">{{item.idUsuario.nombre}} {{item.idUsuario.apellido}} | {{item.idTiposProcesos.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Articulo</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese el articulo</mat-label>
      <select matNativeControl id="jerarquia" name="jerarquia" formControlName="idDetalleArticulo">
        <option *ngFor="let item of listDetalleArticulo"  value="{{item.id}}">{{item.idArticulo.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Estado</h2>
      <mat-form-field class="nombre" [color]="color"  appearance="fill">
      <mat-label>Ingrese el Estado</mat-label>
      <select matNativeControl  name="jerarquia" formControlName="idEstado" id="estado">
        <option *ngFor="let item of listaEstado"  value="{{item.id}}" >{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Nueva Asignación Articulo"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
