<h2 class="dato">Modificar Tipo Turno</h2>
<form [formGroup]="formTipoTurno">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifica la descripción del Tipo-Turno</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Estado</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese Estado del Tipo-Turno</mat-label>
      <select matNativeControl id="estado" name="estado" formControlName="estado">
        <option *ngFor="let item of listarEstado"  value="{{item.id}}">{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()">Modificar Tipo-Turno</button>
    </div>
  </div>
</form>

