h2{
  margin: 0;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 1.5%; }
.nombre3{ margin-left: 55%; margin-top: -31%;}
.nombre4{ margin-left: 55%; margin-top: 1.3%;}
.guardar{
  background-color: #00235C ;
  color: white;
  width: 200px;
  height: 40px;
  font-size: large;
  margin-left: 60%;
  margin-top: 0.5%;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 3%;
  padding-bottom: 4%;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 4%;
}

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre, .nombre1{ width: 100%; }
  .nombre2, .nombre3{ margin-left: 0%; margin-top: 0%;}
  .nombre4{ margin-left: 0%;}
  .guardar{
    margin-left: 9%;
  }
  .guardar{
    left: -13px;
  }
  .guardar2{ padding-bottom: 10%; }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .nombre, .nombre1{ width: 100%; }
  .nombre2, .nombre3{ margin-left: 0%; margin-top: 0%;}
  .nombre4{ margin-left: 0%;}
  .guardar{
    margin-left: 14%;
  }

  .guardar2{ padding-bottom: 10%; }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .nombre { width: 45%; }
  .nombre1{ width: 100%; }
  .nombre3{ margin-left: 55%; margin-top: -74.2%;}
  .guardar{
    margin-left: 28%;
  }
  .guardar{
    left: -23%;
  }
  .guardar2{ padding-bottom: 10%; }
}

/* Tablet pequeña */
@media screen and (min-width: 721px) and (max-width: 768px){
  .nombre2, .nombre4{ margin-top: 7%;}
  .nombre3{ margin-left: 55%; margin-top: -64%;}

  .guardar{
    margin-left: 6%;
    margin-top: 7%;
  }
}

/* Tablet medio */
@media screen and (min-width: 769px) and (max-width: 1023px){
  .nombre2, .nombre4{ margin-top: 9%;}
  .nombre3{ margin-left: 55%; margin-top: -78.1%;}

  .guardar{
    margin-left: 6%;
    margin-top: 7%;
  }
  .nombre1{
    width: 227px;
  }
  .nombre{
    width: 227px;
  }
}

/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .nombre3{
    margin-left: 55%;
    margin-top: -38%;
  }
  .guardar{
    margin-left: 61%;
  }
}

/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .nombre3{
    margin-left: 55%;
    margin-top: -35.8%;
  }
  .guardar{
    margin-left: 61%;
  }
}
