<h2 class="dato">Modificar Tipo Novedad</h2>
<form [formGroup]="formTipoNovedad">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifica la descripción de Tipo Novedad</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Observación</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifica la observación de Tipo Novedad</mat-label>
      <input id="observacion" formControlName="observacion" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()">Modificar Tipo Novedad</button>
    </div>
  </div>
</form>

