.principal{
  background-color: #00235C;
  width: 100%;
  height: 100%;
}
.formulario{
  background-color: #ECECEC;
  border-radius: 35px;
  width: 60%;
  height: 70%;
  margin: 0% auto;
  position: relative;
  top: 13%;
  border: 5px solid #A9B0B8;;
}
hr{
  border-left: thick solid #96B7CE;
  height: 99.5%;
  left: 50%;
  position: absolute;
  margin-top: -23%;
  border-width: 2px;
}
.formulario, .numIdentificacion, .contrasenaNueva, .password, button, .olvido, .imgLogin{ position: relative; }
.logo{
  width: 38%;
  margin-top: 6%;
  margin-left: 5%;
}
.numIdentificacion{ top: 120px; left: -35%; }
.contrasenaNueva{ top: 110px; left: 8%; }
.password{ top: 190px; left: -23.5%;}
mat-form-field{ width: 300px; }
button{
  height: 43px;
  background-color: #00235C;
  color: white;
  font-size: 20px;
}
.buttonEnviar{  top: 270px; left: -53.5%; width: 28%;
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;}
.olvido{
  text-decoration: none;
  color: #00235C;
  font-size: 20px;
  font-weight: 700;
  top: 280px;
  left: -33%;
}
.imgLogin{
  width: 450px;
  top: -19%;
  left: 52%;
}

.buttonIniciar{ top: 290px; left: 13.5%;  width: 20%;  display: inline-block;
  vertical-align: middle;
  line-height: 100%; }
/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .formulario{
    background-color: #ECECEC;
    border-radius: 35px;
    width: 90%;
    height: 70%;
    position: relative;
    top: 10%;
    border: 5px solid #A9B0B8;
  }
  .logo{
    width: 85%;
    margin-top: 15%;
    margin-left: 8%;
  }
  .nombre, .estado{
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  mat-form-field{ width: 65%;
    padding: 0%;
    margin-left: 45%;
    display: block;
   }
  hr{
    display: none;
  }
  .numIdentificacion{
    left: -27%;
    display: block;
    position: absolute;
    top: 22%;
  }
  .contrasenaNueva {
    left: -27%;
    display: block;
    position: absolute;
    top: 38%;
  }
  .password{
    left: -27%;
    display: block;
    position: absolute;
    top: 53%;
  }
  .imgLogin{
    display: none;
  }
  .buttonEnviar{
    width: 60%;
    left: 19%;
    top: 240px;
  }
  .buttonEnviar, span{
    font-size: 10px;
    width: 63%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  .buttonIniciar{
    width: 63%;
    left: 19%;
    top: 265px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .formulario{
    background-color: #ECECEC;
    border-radius: 35px;
    width: 85%;
    height: 70%;
    position: relative;
    top: 10%;
    border: 5px solid #A9B0B8;
  }
  .logo{
    width: 85%;
    margin-top: 15%;
    margin-left: 8%;
  }
  .nombre, .estado{
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  mat-form-field{ width: 65%;
    padding: 0%;
    margin-left: 45%;
    display: block;
   }
  hr{
    display: none;
  }
  .numIdentificacion{
    left: -28%;
    display: block;
    position: absolute;
    top: 25%;
  }
  .contrasenaNueva {
    left: -28%;
    display: block;
    position: absolute;
    top: 40%;
  }
  .password{
    left: -28%;
    display: block;
    position: absolute;
    top: 56%;
  }
  .imgLogin{
    display: none;
  }
  .buttonEnviar{
    width: 60%;
    left: 19%;
  }
  .buttonEnviar, span{
    font-size: 10px;
    width: 63%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  .buttonIniciar{
    width: 63%;
    left: 19%;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .formulario{
    background-color: #ECECEC;
    border-radius: 35px;
    width: 60%;
    height: 70%;
    position: relative;
    top: 10%;
    border: 5px solid #A9B0B8;
  }
  .logo{
    width: 85%;
    margin-top: 15%;
    margin-left: 8%;
  }
  .nombre, .estado{
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  mat-form-field{ width: 80%;
    padding: 0%;
    margin-left: 45%;
    display: block;
   }
  hr{
    display: none;
  }
  .numIdentificacion{
    left: -35%;
    display: block;
    position: absolute;
    top: 25%;
  }
  .contrasenaNueva {
    left: -35%;
    display: block;
    position: absolute;
    top: 40%;
  }
  .password{
    left: -35%;
    display: block;
    position: absolute;
    top: 56%;
  }
  .imgLogin{
    display: none;
  }
  .buttonEnviar{
    width: 60%;
    left: 19%;
  }
  .buttonEnviar, span{
    font-size: 10px;
    width: 62%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  .buttonIniciar{
    width: 63%;
    left: 19%;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
}

/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  .formulario{
    background-color: #ECECEC;
    border-radius: 35px;
    width: 60%;
    height: 70%;
    position: relative;
    top: 10%;
    border: 5px solid #A9B0B8;
  }
  .logo{
    width: 85%;
    margin-top: 15%;
    margin-left: 8%;
  }
  .nombre, .estado{
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  mat-form-field{ width: 80%;
    padding: 0%;
    margin-left: 45%;
    display: block;
   }
  hr{
    display: none;
  }
  .numIdentificacion{
    left: -35%;
    display: block;
    position: absolute;
    top: 25%;
  }
  .contrasenaNueva {
    left: -35%;
    display: block;
    position: absolute;
    top: 40%;
  }
  .password{
    left: -35%;
    display: block;
    position: absolute;
    top: 55%;
  }
  .imgLogin{
    display: none;
  }
  .buttonEnviar{
    width: 60%;
    left: 19%;
    top: 370px;
  }
  .buttonEnviar, span{
    font-size: 10px;
    width: 62%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  .buttonIniciar{
    width: 63%;
    left: 19%;
    top: 420px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
}
/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  .formulario{
    background-color: #ECECEC;
    border-radius: 35px;
    width: 60%;
    height: 70%;
    position: relative;
    top: 10%;
    border: 5px solid #A9B0B8;
  }
  .logo{
    width: 85%;
    margin-top: 15%;
    margin-left: 8%;
  }
  .nombre, .estado{
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  mat-form-field{ width: 80%;
    padding: 0%;
    margin-left: 45%;
    display: block;
   }
  hr{
    display: none;
  }
  .numIdentificacion{
    left: -35%;
    display: block;
    position: absolute;
    top: 25%;
  }
  .contrasenaNueva {
    left: -35%;
    display: block;
    position: absolute;
    top: 40%;
  }
  .password{
    left: -35%;
    display: block;
    position: absolute;
    top: 55%;
  }
  .imgLogin{
    display: none;
  }
  .buttonEnviar{
    width: 60%;
    left: 19%;
    top: 420px;
  }
  .buttonEnviar, span{
    font-size: 10px;
    width: 62%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  .buttonIniciar{
    width: 63%;
    left: 19%;
    top: 470px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
}

/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .imgLogin{
    width: 355px;
    margin-top: -13%;
    left: 54%;
  }
  .numIdentificacion{
    top: 120px;
    left: -38%;
    width: 39%;
  }
  .contrasenaNueva{
    top: 110px;
    left: 5%;
    width: 39%;
  }
  .password{
    top: 190px;
    left: -34%;
    width: 39%;
  }
  hr{
    border-left: thick solid #96B7CE;
    height: 99.5%;
    left: 50%;
    position: absolute;
    margin-top: -27%;
    border-width: 2px;
  }
  .buttonEnviar{
    top: 197px;
    left: 7.5%;
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
  .buttonIniciar{
    top: 264px;
    left: -22%;
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .imgLogin{
    width: 355px;
    margin-top: -13%;
    left: 54%;
  }
  .numIdentificacion{
    top: 120px;
    left: -38%;
    width: 39%;
  }
  .contrasenaNueva{
    top: 110px;
    left: 5%;
    width: 39%;
  }
  .password{
    top: 190px;
    left: -34%;
    width: 39%;
  }
  hr{
    border-left: thick solid #96B7CE;
    height: 99.5%;
    left: 50%;
    position: absolute;
    margin-top: -27%;
    border-width: 2px;
  }
  .buttonEnviar{
    top: 197px;
    left: 7.5%;
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
  .buttonIniciar{
    top: 264px;
    left: -22%;
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
}

/* Portatil Grande */
@media screen and (min-width: 1441px){
  .imgLogin{
    width: 435px;
    margin-top: -10%;
    left: 54%;
  }
  .numIdentificacion{
    top: 140px;
    left: -38%;
    width: 39%;
  }
  .contrasenaNueva{
    top: 135px;
    left: 5%;
    width: 39%;
  }
  .password{
    top: 225px;
    left: -34%;
    width: 39%;
  }
  hr{
    border-left: thick solid #96B7CE;
    height: 99.5%;
    left: 50%;
    position: absolute;
    margin-top: -24%;
    border-width: 2px;
  }
  .buttonEnviar{
    top: 250px;
    left: 7.5%;
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
  .buttonIniciar{
    top: 340px;
    left: -22%;
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: large;
  }
}
