table{
  width: 100%;
  margin-top: 3% !important;
  margin-right: 15%;
  margin-bottom: 3% !important;
  border: 1px solid #000;
  border-bottom: 20%;
}
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
td {
  border: 1px solid #000;
  text-align: left;
  font-size: 12px;
}
.hora{ text-align: center; }
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

#Cumplio{
  background-color: #C6EFCE;
  color: #006100;
}
#Cumplio, #Incumplio, #No_ingreso, #Aun{ font-weight: 700;}
#Incumplio{
  background-color: #FFEB9C;
  color: #9C6524;
}
#No_ingreso{
  background-color: #ffc7ce;
  color: #9B0006;
}
.btnver{ background-color:  #3ebb14; color: white; }
