.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
.id{
  width: 10%;
  position: absolute;
  margin-left: 17%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnedit mat-icon{ left: -3px;  top: -2px;}
#nombreSp,#correoSp,#tipoDocSp,#estadoSp,#rolSp,#opcSp{ position: relative; }
#nombreSp{ left: 112px; position: absolute; }
#correoSp{ left: 121px; position: absolute; display: block;}
#tipoDocSp{ left: 13%; position: absolute; display: block; }
#estadoSp{ left: 3px; position: absolute; }
#rolSp{ left: 94px; position: absolute; }
#opcSp{ left: 5px; }
#usuarioEn{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
  .id{ left: -12px; }
  #nombreSp{ margin-left: 18px; position: static; }
  #correoSp{ left: 60px; }
  #tipoDocSp{ margin-left: 16px;  position:static;}
  #estadoSp{ margin-left: 19%; position:static; }
  #rolSp{ left: 21px; }
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
  td.mat-cell:first-of-type { padding-left: 0px;}
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
  .id{ left: -12px; }
  #nombreSp{ margin-left: 18px; position: static; }
  #correoSp{ left: 60px; }
  #tipoDocSp{ margin-left: 16px;  position:static;}
  #estadoSp{ margin-left: 19%; position:static; }
  #rolSp{ left: 21px; }
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 0px;}
  .botonagregar mat-icon{ margin-left: -50%; }
}


/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
  .id{ left: -12px; }
  #nombreSp{ margin-left: 18px; position: static; }
  #correoSp{ left: 60px; }
  #tipoDocSp{ margin-left: 16px;  position:static;}
  #estadoSp{ margin-left: 19%; position:static; }
  #rolSp{ left: 21px; }
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 0px;}
  .botonagregar mat-icon{ margin-left: -50%; }
}


