.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
.id{
  width: 10%;
  position: absolute;
  margin-left: 11%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnedit mat-icon{ left: -3px;  top: -2px;}
#desSp,#fechaSp,#HoraISp,#horaSap,#areaSp,#opcSp{ position: relative; }
#desSp{ left: 100px; position: absolute; }
#fechaSp{ left: 110px; position: absolute; display: block;}
#HoraISp{ left: 13%; position: absolute; display: block; }
#horaSap{ left: 7px; position: absolute; }
#areaSp{ left: 94px; position: absolute; }
#opcSp{ left: 5px; }
#usuarioEn{ padding-left: 0%; }
td.mat-cell:first-of-type{ padding-left: 1%;}
td.mat-cell {padding-left: 5px;}
/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -10px; margin-top: -2px;}
  .id{ left: -9px; }
  #desSp{ margin-left: 24px; position: static; }
  #fechaSp{ margin-left: 17px; position: static; }
  #HoraISp{ margin-left:19%;  position:static;}
  #horaSap{ margin-left: 26%; position:static; }
  #areaSp{ left: 20px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 87%; margin-top: -22%; margin-bottom: 11%;}
  .botones mat-icon{ position: static; margin-left: -150%; margin-top: -93%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/* Movil pequeño 2, movil pequeño 3 */
@media screen and (min-width: 360px) and (max-width: 375px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -10px; margin-top: -2px;}
  .id{ left: -9px; }
  #desSp{ margin-left: 24px; position: static; }
  #fechaSp{ margin-left: 17px; position: static; }
  #HoraISp{ margin-left:19%;  position:static;}
  #horaSap{ margin-left: 26%; position:static; }
  #areaSp{ left: 20px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 69%; margin-top: -17%; margin-bottom: 7%;}
  .botones mat-icon{ position: static; margin-left: -150%; margin-top: -93%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%;  }
}

/* movil pequeño 4 */
@media screen and (min-width: 376px) and (max-width: 420px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -10px; margin-top: -2px;}
  .id{ left: -9px; }
  #desSp{ margin-left: 24px; position: static; }
  #fechaSp{ margin-left: 17px; position: static; }
  #HoraISp{ margin-left:19%;  position:static;}
  #horaSap{ margin-left: 26%; position:static; }
  #areaSp{ left: 20px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 60%; margin-top: -15%; margin-bottom: 5%;}
  .botones mat-icon{ position: static; margin-left: -173%; margin-top: -116%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%;  }
}


/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -10px; margin-top: -2px;}
  .id{ left: -13px; }
  #desSp{ margin-left: 31px; position: static; }
  #fechaSp{ margin-left: 17px; position: static; }
  #HoraISp{ margin-left:19%;  position:static;}
  #horaSap{ margin-left: 26%; position:static; }
  #areaSp{ left: 26px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 44%; margin-top: -11%; margin-bottom: 5%;}
  .botones mat-icon{ position: static; margin-left: -173%; margin-top: -116%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%;  }
}

/*Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 700px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{margin-left: -4px; margin-top: -1px; }
  .id{ left: -11px; }
  #desSp{ margin-left: 43px; position: static; }
  #fechaSp{ margin-left: 18px; position: static; }
  #HoraISp{ margin-left: 22%;  position:static;}
  #horaSap{ margin-left: 28%; position:static; }
  #areaSp{ left: 25px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 40%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/* Tablet 2 */
@media screen and (min-width: 701px) and (max-width: 768px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{margin-left: -4px; margin-top: -1px; }
  .id{ left: -11px; }
  #desSp{ margin-left: 55px; position: static; }
  #fechaSp{ margin-left: 18px; position: static; }
  #HoraISp{ margin-left: 22%;  position:static;}
  #horaSap{ margin-left: 28%; position:static; }
  #areaSp{ left: 43px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 35%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/* Tablet 3*/
@media screen and (min-width: 769px) and (max-width: 800px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{margin-left: -4px; margin-top: -1px; }
  .id{ left: -11px; }
  #desSp{ margin-left: 35px; position: static; }
  #fechaSp{ margin-left: 18px; position: static; }
  #HoraISp{ margin-left: 22%;  position:static;}
  #horaSap{ margin-left: 28%; position:static; }
  #areaSp{ left: 28px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 41%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/*  Portatil 2*/
@media screen and (min-width: 801px) and (max-width: 960px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{margin-left: -4px; margin-top: -1px; }
  .id{ left: -11px; }
  #desSp{ margin-left: 53px; position: static; }
  #fechaSp{ margin-left: 18px; position: static; }
  #HoraISp{ margin-left: 22%;  position:static;}
  #horaSap{ margin-left: 28%; position:static; }
  #areaSp{ left: 43px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 35%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -4px; margin-top: -1px; }
  .id{ left: -6px; }
  #desSp{ margin-left: 64px; position: static; }
  #fechaSp{ left: 14px; }
  #HoraISp{ margin-left: 40%;  position:static;}
  #horaSap{ margin-left: 33%; position:static; }
  #areaSp{ left: 55px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 30%; margin-top: -8%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -4px; margin-top: -1px; }
  .id{ left: -4px; }
  #desSp{ margin-left: 93px; position: static; }
  #fechaSp{ left: 23px; }
  #HoraISp{ margin-left: 58%;  position:static;}
  #horaSap{ margin-left: 63%; position:static; }
  #areaSp{ left: 75px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 25%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: -4px; }
  #desSp{ margin-left: 103px; position: static; }
  #fechaSp{ left: 23px; }
  #HoraISp{ margin-left: 58%;  position:static;}
  #horaSap{ margin-left: 63%; position:static; }
  #areaSp{ left: 80px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 20%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/*Portatil 4, Compu. Mesa 6 y 7, Televisor 2*/
@media screen and (min-width: 1537px) and (max-width: 1799px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 4px; }
  #desSp{ margin-left: 150px; position: static; }
  #fechaSp{ left: 28px; }
  #HoraISp{ margin-left: 76%;  position:static;}
  #horaSap{ margin-left: 78%; position:static; }
  #areaSp{ left: 88px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 21%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/* Compu. Mesa 7 */
@media screen and (min-width: 1800px) and (max-width: 1920px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: -1px; }
  #desSp{ margin-left: 200px; position: static; }
  #fechaSp{ left: 38px; }
  #HoraISp{ margin-left: 70%;  position:static;}
  #horaSap{ margin-left: 75%; position:static; }
  #areaSp{ left: 110px; }
  .documento{ position: static; margin-left:0%; margin-top: 2%;}
  .botones{position: static; margin-left: 18%; margin-top: -66px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: -4px; }
  #desSp{ margin-left: 180px; position: static; }
  #fechaSp{ left: 40px; }
  #HoraISp{ margin-left: 72%;  position:static;}
  #horaSap{ margin-left: 80%; position:static; }
  #areaSp{ left: 115px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 16%; margin-top: -66px;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: -4px; }
  #desSp{ margin-left: 261px; position: static; }
  #fechaSp{ left: 40px; }
  #HoraISp{ margin-left: 72%;  position:static;}
  #horaSap{ margin-left: 80%; position:static; }
  #areaSp{ left: 115px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 15%; margin-top: -66px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 7px; }
  #desSp{ margin-left: 365%; position: static; }
  #fechaSp{ left: 59px; }
  #HoraISp{ margin-left: 105%;  position:static;}
  #horaSap{ margin-left: 115%; position:static; }
  #areaSp{ left: 171px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 14%; margin-top: -66px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 7px; }
  #desSp{ margin-left: 365%; position: static; }
  #fechaSp{ left: 65px; }
  #HoraISp{ margin-left: 105%;  position:static;}
  #horaSap{ margin-left: 115%; position:static; }
  #areaSp{ left: 180px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 12%; margin-top: -66px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 7px; }
  #desSp{ margin-left: 422%; position: static; }
  #fechaSp{ left: 80px; }
  #HoraISp{ margin-left: 130%;  position:static;}
  #horaSap{ margin-left: 130%; position:static; }
  #areaSp{ left: 200px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 11%; margin-top: -66px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; }
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 28px; }
  #desSp{ margin-left: 561%; position: static; }
  #fechaSp{ left: 113px; }
  #HoraISp{ margin-left: 181%;  position:static;}
  #horaSap{ margin-left: 180%; position:static; }
  #areaSp{ left: 270px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 10%; margin-top: -63px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; margin-bottom: 5%;}
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 28px; }
  #desSp{ margin-left: 561%; position: static; }
  #fechaSp{ left: 113px; }
  #HoraISp{ margin-left: 181%;  position:static;}
  #horaSap{ margin-left: 180%; position:static; }
  #areaSp{ left: 270px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 8%; margin-top: -63px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; margin-bottom: 5%;}
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .excelButton{position: static;margin-left: 0%;}
  td button mat-icon{ font-size: 18px !important; margin-left: -3px; margin-top: -1px;}
  .id{ left: 88px; }
  #desSp{ margin-left: 1158%; position: static; }
  #fechaSp{ left: 224px; }
  #HoraISp{ margin-left: 416%;  position:static;}
  #horaSap{ margin-left: 413%; position:static; }
  #areaSp{ left: 562px; }
  .documento{ position: static; margin-left: 0%; margin-top: 2%;}
  .botones{position: static; margin-left: 4%; margin-top: -63px; margin-bottom: -1%;}
  #opcSp{ left: 15px; }
  td button{ margin-top: 5%; margin-bottom: 5%;}
  td.mat-cell:first-of-type { padding-left: 5px;}
  .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
}


