.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.buscador1{
  width: 20%;
  margin-left: 79.5%;
  top: -68px;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: -3%;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3%;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.verde{
  background-color: #C6EFCE;
  color: #006100;
}
.rojo{
  background-color: #ffc7ce;
  color: #9B0006;
}
.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.contenedor{
  width: 90%; margin-left: 5%; margin-top: 3%;
}

.row1{
  border-top: 3px solid #97B4E2;
  padding-top: 0%;
  padding-bottom: 0%;
}
.nombre2{ margin-left: 3%; margin-top: 1%; width: 250px; }
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
td{ text-align: left;}
td.mat-cell{ padding-left: 1%;}

.guardarModal{position: absolute; left: 26%; top: 30%;}
.excelButton{margin-left: 91%; margin-top: -117px;}
/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  td button{ margin-top: 5%; }
  .guardarModal{left: 56%; top: 40%;}
  .excelButton{ left: 13%;}
  #desSp{margin-left: 22%;}
  #estSp{margin-left: 16%;}
  #valSp{margin-left: 30%;}
  #mesSp{margin-left: 31%;}
  #añoSp{margin-left: 89%;}
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  td button{ margin-top: 5%; }
  .guardarModal{ left: 46%; top: 42%;}
  .excelButton{ left: 13%;}
  #desSp{margin-left: 22%;}
  #estSp{margin-left: 16%;}
  #valSp{margin-left: 30%;}
  #mesSp{margin-left: 31%;}
  #añoSp{margin-left: 89%;}
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  td button{ margin-top: 5%; }
  .guardarModal{ left: 47%; top: 30%;}
  .excelButton{top: 38%;}
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 700px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{left: 44%; top: 41%;}
  .excelButton{top: 56%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 2 */
@media screen and (min-width: 701px) and (max-width: 768px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ left: 40%; top: 27%;}
  .excelButton{top: 34%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 3*/
@media screen and (min-width: 769px) and (max-width: 800px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ left: 40%; top: 24%;}
  .excelButton{top: 29%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Portatil 2 */
@media screen and (min-width: 801px) and (max-width: 960px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ left: 37%; top: 39%;}
  .excelButton{top: 52%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 4,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1024px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 35%; margin-top: 8%;position: static;}
  .excelButton{  top: 47%; left: 9%;}
  .nombre2{margin-top: -12%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 5 */
@media screen and (min-width: 1025px) and (max-width: 1080px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 35%; margin-top: 8%;position: static;}
  .excelButton{  top: 16%; left: 9%;}
  .nombre2{margin-top: -12%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 6 */
@media screen and (min-width: 1081px) and (max-width: 1200px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 27%; margin-top: 7%;position: static;}
  .excelButton{ top: 17%; left: 9%;}
  .nombre2{margin-top: -11%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet  7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1201px) and (max-width: 1280px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 27%; margin-top: 6%;position: static;}
  .excelButton{ top: 41%;}
  .nombre2{margin-top: -9%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1400px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 25%; margin-top: 6%;position: static;}
  .excelButton{ top: 38%;}
  .nombre2{margin-top: -9%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 8 */
@media screen and (min-width: 1401px) and (max-width: 1536px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  .guardarModal{ margin-left: 25%; margin-top: 6%;position: static;}
  .excelButton{ top: 18%; left: 9%;}
  .nombre2{margin-top: -9%;}
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{top: 25%; left: 23%;}
  .excelButton{top: 33%}
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ margin-left: 19%; margin-top: 4%; position: static;}
  .excelButton{ top: 25%; left: 7.5%;}
  .nombre2{margin-top: -6%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ left: 21%; top: 21.5%;}
  .excelButton{ top: 28%;}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ margin-top: 3%; margin-left: 16%; position: static;}
  .nombre2{margin-top: -5%;}
  .excelButton{top: 24%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{top: 20%; left: 19%;}
  .excelButton{top: 26%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{top: 19.5%; left: 19%;}
  .excelButton{top: 25%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ top: 20%; left: 16%;}
  .excelButton{top: 25%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .guardarModal{ top: 22%; left: 16%;}
  .excelButton{top: 26%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  td button{ margin-top: 0%; }
  .nombre2{margin-top: 0.5%;}
  .guardarModal{ top: 15%; left: 12%;}
  .excelButton{top: 19%}
  .botonagregar mat-icon{ margin-left: 0%; }
}
