.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
#Proceso, #Medio, #No_cumplio, #Finalizado{ font-weight: 700;}
#Proceso{
  background-color: #C4D2E7;
  color: #2B4E64;
}
#Medio{
  background-color: #FFEB9C;
  color: #9C6524;
}
#No_cumplio{
  background-color: #ffc7ce;
  color: #9B0006;
}
#Finalizado{
  background-color: #C6EFCE;
  color: #006100;
}
table{
  width: 100%;
  height: 100%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnedit2{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white;}
.btnremove{ background-color: #DA161A; color: white; }
.btnPriority{ background-color: #00235C; color: white; }
#idSpa, #nombreSpa, #fechaISpa, #nombreOficSpa, #nombreSitioVSpa, #inci, #motivo, #radicacion, #tiposervicio,#auxiliar,#escala, #opcSpa, .btnedit2{ position: relative; }
#idSpa{ left: 7px; }
#fechaISpa{ left: 19px; }
#nombreSpa { left: 17px; }
#nombreOficSpa, #inci, #radicacion{ left: 21px; }
#motivo { left: 30px; }
#tiposervicio { left: 20px; }
#auxiliar { left: 8px; }
#escala{ left: 8px; }
#nombreSitioVSpa{ left: 32px; }
#turnoSpa{ left: 15px; }
#opcSpa{ left: 0px; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  td button{ margin-top: 15%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 8px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 8px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 8px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 6px; }
  #opcSpa{ left: 8px; }
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  td button{ margin-top: 15%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 8px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 8px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 8px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 6px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
}
/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  #idSpa{ margin-left: 169% !important; }
  #descSpa{ margin-left: 62% !important; }
  #opcSpa{ left: 8px; }
}
/* Movil medio - Samsung Galaxy S8 */
/* @media screen and (min-width: 360px) and (max-width: 493px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  td button{ margin-top: 15%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 8px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 8px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 8px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 6px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .boton mat-icon{ margin-left: -51%; margin-top: -14%; }
} */
/* Movil grande - Surface Duo*/
/* @media screen and (min-width: 494px) and (max-width: 720px){
  td { font-size: 14px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 10px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 10px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 12px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 8px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .btnedit2{left: 14%;}
  .excelButton{ margin-left: -2%; }
} */
/* Tablet pequeña - iPad Mini*/
/* @media screen and (min-width: 721px) and (max-width: 768px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 10px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 10px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 12px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 8px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .btnedit2{left: 14%;}
  .excelButton{ margin-left: -2%; }
} */
/* Tablet medio - iPad Air*/
/* @media screen and (min-width: 769px) and (max-width: 1023px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSpa{ left: -1px; }
  #fechaISpa{ left: 10px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 10px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 12px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 8px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .btnedit2{ left: 14%;}
  .excelButton{ margin-left: -2%; }
} */
/* Portatil Pequeño */
/* @media screen and (min-width: 1024px) and (max-width: 1366px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 10px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 10px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 12px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 8px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .btnedit2{ left: 14%;}
  .excelButton{ margin-left: -2.5%; }
} */

/* Portatil Medio */
/* @media screen and (min-width: 1367px) and (max-width: 1440px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSpa{ left: -2px; }
  #fechaISpa{ left: 10px; }
  #fechaFSpa { left: 8px; }
  #nombreOficSpa{ left: 10px; }
  #inci { left: 8px; }
  #motivo { left: 8px; }
  #radicacion { left: 12px; }
  #tiposervicio { left: 8px; }
  #auxiliar { left: 8px; }
  #escala{ left: 8px; }
  #nombreSitioVSpa{ left: 9px; }
  #nombreSpa{ left: 8px; }
  #turnoSpa{ left: 15px; }
  #opcSpa{ left: 8px; }
  .btnedit2{ left: 14%;}
  .excelButton{ margin-left: -2.5%; }
} */
