<div class="contenedor">
  <button *ngIf="idModulo == 38" class="btn boton botonagregar text-white my-2" routerLink="/agregarSolicitudesSC">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="btn excelButton" (click)="exportToExcel()"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="buscar">
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table id="asignarTurnoVendedor" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSpa">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.solicitud.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="fechaISpa">Fecha</h3></th>
            <td mat-cell *matCellDef="let element">{{element.solicitud.fecha}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="vence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreSpa" >Vence</h3></th>
            <td mat-cell *matCellDef="let element">{{element.solicitud.vence}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreOficSpa">Municipio</h3></th>
            <td mat-cell *matCellDef="let element">{{element.solicitud.municipio}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="incidente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="inci">Incidente</h3></th>
            <td mat-cell *matCellDef="let element">{{element.solicitud.incidente}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="motivoSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="motivo">Motivo de Solicitud</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.idMotivoSolicitud.descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="medioRadicacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="radicacion">Medios de Radicacion</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.medioRadicacion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoServicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="tiposervicio">Tipo servicio</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.idTipoServicio.descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Nombre del Cliente</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.idClienteSC.nombre}} {{element.solicitud.idClienteSC.apellido}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Documento</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.idClienteSC.documento}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="auxiliarRadicacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="auxiliar">Auxiliar quien radico</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.auxiliarRadicacion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="escala">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="escala">Escala</h3></th>
          <td mat-cell *matCellDef="let element">{{element.solicitud.idEscala.descripcion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="nombreSitioVSpa">Estado</h3></th>
          <td mat-cell *matCellDef="let element" id="{{element.nombre}}">{{element.solicitud.idEstado.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef ><h3 id="opcSpa">Opciones</h3></th>
          <td mat-cell *matCellDef="let item">
            <button class="btn btnedit mx-2" *ngIf="idModulo == 38 && item.aprobar == true && item.solicitud.idEstado.id == 62" (click)="abrirModal(item.solicitud.id)">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button class="btn btnedit mx-2" *ngIf="idModulo == 38 && item.aprobar == true && item.solicitud.idEstado.id == 68" (click)="abrirModal(item.solicitud.id)">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button class="btn btnedit mx-2" *ngIf="idModulo == 39 && usuarioMatrix2 == true" (click)="abrirModificar(item.solicitud.id)">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button class="btn btnedit mx-2" *ngIf="idModulo == 39 && usuarioMatrix2 == false" (click)="abrirModificar(item.solicitud.id)">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button class="btn btnedit mx-2" *ngIf="idModulo == 38 && item.solicitud.idEscala.id == 3 && item.aprobar == true && item.solicitud.idEstado.id != 68"(click)="abrirModificar(item.solicitud.id)">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button class="btn btnedit2 mx-2" (click)="abrirHistorial(item.solicitud.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button id="download-button" *ngIf="item.archivo == true" class="btn btnedit mx-2" (click)="descargarPdf(item.solicitud.id)">
              <mat-icon>file_download</mat-icon>
            </button>
            <button *ngIf="item.solicitud.idEstado.id == 64" class="btn btnPriority" (click)="masonoRemisiones(item.solicitud)">
              <mat-icon>verified</mat-icon>
            </button>
            <button *ngIf="item.prorroga == true" class="btn btnPriority" (click)="prorroga(item.solicitud.id)">
              <mat-icon>event_repeat</mat-icon>
            </button>
            <button *ngIf="item.incidente == true && idModulo == 39 && usuarioMatrix2 == true && item.solicitud.idEscala.id == 3" class="btn btnPriority" (click)="editar(item.solicitud.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="item.solicitud.idEscala.id == 3 && item.solicitud.incidente == '' && idModulo == 38" class="btn btnPriority" (click)="editar(item.solicitud.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
</mat-paginator>
</div>
