
<div class="contenedor">
  <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de tipo proceso"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field class="buscador" appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <table id="activosBajasSolicitud" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
        <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Activo</h3></th>
        <td mat-cell *matCellDef="let element">{{element.idDetalleArticulo.idArticulo.descripcion}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Marca</h3></th>
        <td mat-cell *matCellDef="let element">{{element.idDetalleArticulo.marca}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Placa</h3></th>
        <td mat-cell *matCellDef="let element">{{element.idDetalleArticulo.placa}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Serial</h3></th>
        <td mat-cell *matCellDef="let element">{{element.idDetalleArticulo.serial}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Observacion</h3></th>
        <td mat-cell *matCellDef="let element">{{element.observacion}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Estado</h3></th>
        <td mat-cell *matCellDef="let element">{{element.idEstado.descripcion}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Opciones</h3></th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btnedit2 mx-2 my-2" *ngIf="element.idEstado.id == 80 && ubicacionActual == 'true'" (click)="aceptarAutorizacion(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Aceptar autorización">
            <mat-icon>check_circle</mat-icon>
          </button>

          <button class="btn btnremove mx-2 my-2" *ngIf="element.idEstado.id == 80 && ubicacionActual == 'true'" (click)="rechazarAutorizacion(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Rechazar autorización">
            <mat-icon>delete</mat-icon>
          </button>

          <button class="btn btnedit2 mx-2 my-1" *ngIf="element.idEstado.id == 81 && ubicacionActual == 'false'" (click)="aceptarConfirmacion(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Aceptar autorización">
            <mat-icon>check_circle</mat-icon>
          </button>

          <button class="btn btnremove mx-2 my-1" *ngIf="element.idEstado.id == 81 && ubicacionActual == 'false'" (click)="rechazarConfirmacion(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Rechazar autorización">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>
<div class="solpiner" id="snipper07" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
