.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
.spiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 687px;
  z-index: 50px;
  position: absolute;
  top: 100px;
  left: 0%;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.botonvolver{ background-color: #00235C; left: 12px;}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton, .pdfButton, .printButton{ position: relative; left: 40px; }
td {
  border: 1px solid #000;
  text-align: center;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; color: white;}
.btnedit{ background-color: #959595; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
.botonagregar, .excelButton, .botonagregar2, .btnremove, .btnedit, .btnver, .boton, .botonvolver{ width: 64px; height: 36px; }
.botonagregar mat-icon{ font-size: 24px; }
#idSp, #idSp2, #desSp, #estSp, #opcSp, #jerSp{ position: relative;}
#idSp{ left: 30px; }
#desSp{ left: 90px; }
#estSp{ left: 60px; }
#jerSp{ left: 70px; }
#opcSp{ padding-right: 0%; }
.excelButton{ margin-left: -1%;  }
.excelButton i{ position: relative; top: 1px; font-size: 20px;}
#idSp2{ padding-left: 0%; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  h3{
    margin-left: 3%;
    font-size: 12px;
  }
  td{ font-size: 11px;}
  .botonagregar, .excelButton, .btnver{ width: 38px; height: 30px; }
  .botonagregar mat-icon{ font-size: 18px; }
  .btnremove, .btnedit, .btnver, .boton{
    width: 20px !important;
    height: 23px;
    position: relative;
    left: 6%;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .btnver{ left: 1%; }
  .excelButton{ margin-left: -5%; }
  .botonagregar mat-icon{ font-size: 18px;margin-left: -50%; margin-top: -1px; }
  i{ font-size: 18px ;margin-left: -50%; position: relative; top: -2px; left: 3px; }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  td button mat-icon{ font-size: 10px; margin-left: -12px; margin-top: -2px; }
  #idSp{ left: 7px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 8px; }
  #estSp{ left: 8px; }
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton{
    margin-top: 8%;
    margin-left: -24px;
    }
.excelButton i{ top: -3px; font-size: 15px;}
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  h3{
    margin-left: 3%;
    font-size: 13px;
  }
  td{ font-size: 12px;}
  .botonagregar, .excelButton{ width: 38px; height: 30px; }
  .botonagregar mat-icon{ font-size: 18px; }
  .excelButton{ margin-left: -7%; }
  .btnremove, .btnedit, .btnver, .boton{
    width: 27px !important;
    height: 26px;
    position: relative;
    left: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .edi{
    margin-left: -10%;
  }
  .remo{
    margin-left: -6%;
  }
  .ver{
    margin-left: -6%;
  }
  td button mat-icon{ font-size: 14px; margin-left: -11px; margin-top: -1px; }
  .botonagregar mat-icon{ font-size: 18px;margin-left: -50%; margin-top: -1px; }
  button i{ position: relative; top: -15%; }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  #idSp{ left: 13px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 14px; }
  #estSp{ left: 17px; }
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: -3px; font-size: 15px;}
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  h3{
    margin-left: 3%;
    font-size: 19px;
  }
  td{ font-size: 16px;}
  .btnedit, .btnremove, .btnver, .boton{
    width: 40px !important;
    height: 30px;
  }
  .btnedit{ position: relative; left: 3%; }
  .btnremove{ position: relative; right: 3%; }
  .btnver{ position: relative; left: -2%; }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  td button mat-icon{ font-size: 18px; margin-left: -4px; margin-top: -1px; }
  #idSp{ left: 15px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 12px; }
  #estSp{ left: 22px; }
  #jerSp{ left: 8px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton{ font-size: 16px; top: -3px; margin-left: -24px;}
}

/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSp{ left: 24px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 40px; }
  #estSp{ left: 50px; }
  #jerSp{ left: 28px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}

/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  #idSp{ left: 18px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 28px; }
  #estSp{ left: 45px; }
  #jerSp{ left: 14px; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}

/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 22%; margin-left: 77%; }
  #idSp{ left: 30px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 50px; }
  #estSp{ left: 60%; }
  #jerSp{ left: 60%; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 22%; margin-left: 77%; }
  #idSp{ margin-left: 50%; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 70px; }
  #estSp{ left: 80px; }
  #jerSp{ left: 60%; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}

/* Portatil Grande */
@media screen and (min-width: 1441px) {
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 22%; margin-left: 77%; }
  #idSp{ left: 47px; }
  #idSp2{ padding-left: 0%; }
  #desSp{ left: 87px; }
  #estSp{ left: 105px; }
  #jerSp{ left: 60%; }
  #opcSp2{ padding-right: 0%; }
  .excelButton i{ top: 2px; }
  .excelButton{ margin-left: -24px; }
}
