<div class="contenedor">
  <button class="btn botonvolver text-white my-2" (click)="volver()" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button class="btn excelButton" (click)="exportToExcel()"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">

    <table id="rol" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.idCotizacion.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Nombre Pdf</h3></th>
          <td mat-cell *matCellDef="let element" id="nom">{{element.nombrePdf}}</td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estSp">Usuario</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idCotizacion.idSolicitud.idUsuario.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estaSp">Estado</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idCotizacion.idEstado.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
         <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef id="opcSp2"><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item" id="opcSp2">
            <button class="btn btnedit mx-2 edi" (click)="descargarPdf(item.id)">
              <mat-icon>file_download</mat-icon>
            </button>
            <!-- <button class="btn btnedit me-2 edi" (click)="verSolicitud(item.idSolicitud.id)">
              <mat-icon>visibility</mat-icon>
            </button> -->
            <button *ngIf="item.idEstado.id != 39 && item.idEstado.id != 40" class="btn boton mx-2" (click)="aceptar(item.idCotizacion.idSolicitud.id, item.idCotizacion.id, item.id)">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button *ngIf="item.idEstado.id != 39 && item.idEstado.id != 40" class="btn btnremove mx-2" (click)="rechazarSolicitud(item)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
