<h2 class="dato">Ingresar Nuevo Tipo Proceso</h2>
<form [formGroup]="formTipoProceso">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese descripción del tipo del proceso</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear nuevo tipo proceso"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>


