<div class="contenedor">
    <h2 class="dato">Generar Prorroga</h2>
    <form [formGroup]="formSolicitud">
      <div class="row1">
        <div class="nombre2">
          <h2>Fecha Vencimiento</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese fecha de vencimiento </mat-label>
          <input type="date" id="vence" formControlName="vence" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- Boton de guardar datos -->
        <div class="guardar2">
          <button mat-raised-button class="guardar" (click)="guardar()">Generar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="solpiner" id="snipper" style="text-align: center; display: none;">
    <div class="loader"></div>
  </div>
