<div class="contenedor">
    <h2 class="dato">Ingresar Nuevo Personal</h2>
    <form [formGroup]="formPersonal">
      <div class="row1">
        <div class="nombre2" id="nom">
          <h2>Nombre</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese nombre </mat-label>
          <input id="nombre" formControlName="nombre" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2">
          <h2>Sede</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Seleccione Sede </mat-label>
          <select matNativeControl id="sede" name="sede" formControlName="sede">
            <option *ngFor="let item of listaSede"  value="{{item.id}}">{{item.descripcion}}</option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre2" id="tipoDoc">
          <h2>Tipo Documento</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese Tipo Documento</mat-label>
          <select matNativeControl id="tipoDocumento" name="tipoDocumento" formControlName="tipoDocumento">
            <option *ngFor="let item of listaTipoDocumentos"  value="{{item.id}}">{{item.descripcion}}</option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre2">
          <h2>Area</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Seleccione Area</mat-label>
          <select matNativeControl id="area" name="area" formControlName="area">
            <option *ngFor="let item of listaArea"  value="{{item.id}}">{{item.descripcion}}</option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre2" id="sangre">
          <h2>RH</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese la RH</mat-label>
          <input id="rh" formControlName="rh" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2" id="telef">
          <h2>Telefono</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese telefono</mat-label>
          <input type="number" id="telefono" formControlName="telefono" matInput>
          </mat-form-field>
        </div>
        <div class="nombre3" id="apell">
          <h2>Apellido</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Ingrese apellido </mat-label>
          <input id="apellido" formControlName="apellido" matInput>
          </mat-form-field>
        </div>
        <div class="nombre4" id="doc">
          <h2>Documento</h2>
          <mat-form-field class="nombre1" appearance="fill">
            <mat-label>Ingrese documento </mat-label>
            <input type="number" id="documento" formControlName="documento" matInput minlength="1">
          </mat-form-field>
        </div>
        <div class="nombre4" id="ofic">
          <h2 class="ofi">Oficina</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Seleccione Oficina</mat-label>
          <select matNativeControl id="oficina" name="oficina" formControlName="oficina">
            <option *ngFor="let item of listaOficinas"  value="{{item.ideOficina}}">{{item.ideOficina}} | {{item.nom_oficina}}</option>
          </select>
          </mat-form-field>
        </div>
        <div class="nombre4" id="epsPer">
          <h2>Eps</h2>
          <mat-form-field class="nombre1" appearance="fill">
            <mat-label>Ingrese la Eps</mat-label>
            <input id="eps" formControlName="eps" matInput>
          </mat-form-field>
        </div>
        <div class="nombre4" id="arlPer">
          <h2>Arl</h2>
          <mat-form-field class="nombre1" appearance="fill">
            <mat-label>Ingrese la Arl</mat-label>
            <input id="arl" formControlName="arl" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- Boton de guardar datos -->
        <div class="guardar2">
          <button mat-raised-button class="guardarModal" (click)="guardar()"><mat-icon>add</mat-icon></button>
        </div>
      </div>
      <div id="webCam">
        <div class="camara">
          <webcam [height]="150" [width]="150" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="mostrarWebcam"
                  [switchCamera]="nextWebcamObservable"
                  [imageQuality]="1"
                  (cameraSwitched)="cameraSwitched($event)"
                  (initError)="handleInitError($event)"
          ></webcam>
          <br/>
          <button  class="btn botonprimero" (click)="triggerCaptura();"><mat-icon>photo_camera</mat-icon></button>
        </div>
      </div>


      <h4 *ngIf="errors.length > 0">Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
      </ul>
    </form>
    <div class="snapshot" *ngIf="imagenWebcam">
      <img [src]="imagenWebcam.imageAsDataUrl"/>
    </div>
  </div>
  <div class="solpiner" id="snipper" style="text-align: center; display: none;">
    <div class="loader"></div>
  </div>
