<div class="contenedor">
  <h2 class="dato"> Modificar Turno</h2>
  <form [formGroup]="formTurno">
    <div class="row1">
      <div class="nombre2">
        <h2 class="hora1">Hora Inicio</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Modificar hora </mat-label>
        <input type="time" id="horaInicio" formControlName="horaInicio" matInput>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2 class="hora2">Hora Final</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Modificar hora </mat-label>
        <input type="time" id="horaFinal" formControlName="horaFinal" matInput>
        </mat-form-field>
      </div>
      <div class="nombre3">
        <h2 class="estadoT">Estado Turno</h2>
        <mat-form-field class="nombre1" appearance="fill">
        <mat-label>Modificar Estado del Turno</mat-label>
        <mat-select matNativeControl id="estado" name="estado" formControlName="estado">
          <mat-option *ngFor="let item of listarEstado"  [value]="item.id">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2 class="tipoT">Tipo Turno</h2>
        <mat-form-field class="nombre1"  appearance="fill">
        <mat-label>Modificar Tipo del Turno</mat-label>
        <mat-select matNativeControl id="tipoTurno" name="tipoTurno" formControlName="tipoTurno">
          <mat-option *ngFor="let item of listarTipoTurno"  [value]="item.id">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar turno"><mat-icon>edit_square</mat-icon></button>
      </div>
    </div>
  </form>
</div>

