table{
    width: 100%;
    margin-top: 3% !important;
    margin-right: 15%;
    margin-bottom: 3% !important;
    border: 1px solid #000;
    border-bottom: 20%;
  }

  .btnVisualizar{
    background-color: #97B4E2;
    width: 10%;
  }

  .contenedor{
    width: 90% !important; margin-left: 5%; margin-top: 3%;
  }
  .boton{ background-color: #00235C; }
  .btnver{ background-color: #959595; color: white; }
  .btnedit{ background-color: #97B4E2; color: white; }
  .btnremove{ background-color: #DA161A; color: white; }

  td button mat-icon{ left: -13%; top: -11%; }
  #idSp2{ padding-left: 1%; }
  td.mat-cell { padding-left: 1%;}

  /* Movil peque単o 1 - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    td button mat-icon{ font-size: 17px; margin-left: -9px; margin-top: -2px; }
    td button{ margin-top: 5%; }
    #idSpa{ margin-left: 73%;}
    #descSpa{margin-left: 13%;}
    #opcSpa{margin-left: 16%;}
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /* Movil peque単o 2, movil peque単o 3 y movil peque単o 4*/
  @media screen and (min-width: 360px) and (max-width: 420px){
    td button mat-icon{ font-size: 17px; margin-left: -9px; margin-top: -2px; }
    td button{ margin-top: 5%; }
    #idSpa{ margin-left: 73%;}
    #descSpa{margin-left: 13%;}
    #opcSpa{margin-left: 16%;}
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /* PORTATILES */
  @media screen and (min-width: 600px) and (max-width: 639px){
    td button mat-icon{ font-size: 17px ; margin-left: -9px; margin-top: 0px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -50%; }
  }
  /* Portatil 1 */
  @media screen and (min-width: 640px) and (max-width: 700px){
    td button mat-icon{ font-size: 17px; margin-left: -1px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 2*/
  @media screen and (min-width: 701px) and (max-width: 768px){
    td button mat-icon{ font-size: 17px; margin-left: -1px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 3,  Portatil 2*/
  @media screen and (min-width: 769px) and (max-width: 960px){
    td button mat-icon{ font-size: 17px; margin-left: -1px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
  @media screen and (min-width: 961px) and (max-width: 1080px){
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
  @media screen and (min-width: 1081px) and (max-width: 1280px){
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 8, Compu. Mesa 5*/
  @media screen and (min-width: 1281px) and (max-width: 1536px){
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /*Portatil 4, Compu. Mesa 6 y 7, Televisor 2*/
  @media screen and (min-width: 1537px) and (max-width: 1850px){
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
