<h2 class="dato">Modificar Usuario PQR</h2>
<form [formGroup]="formUsuarioPqr">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifica el Area del Usuario</mat-label>
      <select matNativeControl id="idArea" name="idArea" formControlName="idArea">
        <option *ngFor="let item of listaAreas"  value="{{item.id}}">{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Estado</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifica el Usuario</mat-label>
      <select matNativeControl id="idUsuario" name="idUsuario" formControlName="idUsuario">
        <option *ngFor="let item of listarUsuario"  value="{{item.id}}">{{item.nombre}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()">Modificar Asignación</button>
    </div>
  </div>
</form>
