<h2 class="dato">Modificar Usuario PQR</h2>
<form [formGroup]="formUsuarioPqr">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Area</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifica el Area del Usuario</mat-label>
      <mat-select matNativeControl id="idArea" name="idArea" formControlName="idArea">
        <mat-option *ngFor="let item of listaAreas"  [value]="item.id">{{item.descripcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Usuario</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifica el Usuario</mat-label>
      <mat-select matNativeControl id="idUsuario" name="idUsuario" formControlName="idUsuario">
        <mat-option *ngFor="let item of listarUsuario"  [value]="item.id">{{item.nombre}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar asignacion usuario"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
