table{
    width: 100%;
    margin-top: 3% !important;
    margin-right: 15%;
    margin-bottom: 3% !important;
    border-bottom: 20%;
  }
  .contenedor{
    width: 90% !important; margin-left: 5%; margin-top: 3%;
  }
  .btnedit{ background-color: #97B4E2; color: white; }
  .btnremove{ background-color: #DA161A; color: white; }

  .boton{ background-color: #00235C; }
  .btnedit mat-icon{ left: -3px;  top: -2px;}
  .btnremove mat-icon{ left: -3px;  top: -2px;}
  #idSp2{ padding-left: 1%; }
  td.mat-cell{ padding-left: 1%;}

  /* Movil pequeño 1 - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 1px; }
    td button{ margin-top: 5%; }
    .botonagregar mat-icon{ margin-left: -50%; }
  td.mat-cell{ padding-left: 1%;}
  }

  /* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
  @media screen and (min-width: 360px) and (max-width: 420px){
    td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }

  /* PORTATILES */
  @media screen and (min-width: 600px) and (max-width: 639px){
    td button mat-icon{ font-size: 17px; margin-left: -7px; margin-top: -1px; }
    td button{ margin-top: 0%; }
  }

  /*Portatil 1*/
  @media screen and (min-width: 640px) and (max-width: 700px){
    td button mat-icon{ margin-left: 0px; margin-top: -1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /* Tablet 2 */
  @media screen and (min-width: 701px) and (max-width: 768px){
    td button mat-icon{ margin-left: 0px; margin-top: -1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 3,  Portatil 2*/
  @media screen and (min-width: 769px) and (max-width: 960px){
    td button mat-icon{ margin-left: 0px; margin-top: -1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
  @media screen and (min-width: 961px) and (max-width: 1080px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
  @media screen and (min-width: 1081px) and (max-width: 1280px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 8, Compu. Mesa 5*/
  @media screen and (min-width: 1281px) and (max-width: 1536px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /*Portatil 4, Compu. Mesa 6 y 7, Televisor 2*/
  @media screen and (min-width: 1537px) and (max-width: 1920px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /*Compu. Mesa 6*/
  @media screen and (min-width: 1537px) and (max-width: 1850px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }


  /*Portatil 4, Compu. Mesa 7, Televisor 2*/
  @media screen and (min-width: 1851px) and (max-width: 1920px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /*Tablet 9*/
  @media screen and (min-width: 1921px) and (max-width: 2048px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 10*/
  @media screen and (min-width: 2049px) and (max-width: 2160px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 11 y 12, Portatil 5*/
  @media screen and (min-width: 2161px) and (max-width: 2560px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 13*/
  @media screen and (min-width: 2561px) and (max-width: 2736px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 14*/
  @media screen and (min-width: 2737px) and (max-width: 3000px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Portatil 6, Televisor 3*/
  @media screen and (min-width: 3001px) and (max-width: 3840px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Televisor 4*/
  @media screen and (min-width: 3841px) and (max-width: 4096px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Portatil 7, Televisor 5*/
  @media screen and (min-width: 4097px) and (max-width: 7680px){
    td button mat-icon{ margin-left: 0x; margin-top: 1-px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
