.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 87%;
  z-index: 50px;
  position: absolute;
  top: 13%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 20%;
  margin-left: 45%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.example-container {
  max-width: 70%;
  overflow: auto;
  margin-top: -1% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
  margin-left: 40%;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 6%;
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
  width: 280px;
}
.nombre2, .estado2{ position: absolute; left: 12%; top: 26%; }
.nombre3{ position: absolute; left: 12%; top: 40%;}
.nombre4{ position: absolute; left: 12%; top: 53%;}
.guardar, .guardar3, .guardar6{
  color: white;
  width: 64px;
  height: 40px;
  font-size: large;
  margin-left: 2.3%;
  position: absolute;
  top: 72%;
}
.guardar{ left: 9.5%; background-color: #00235C ;}
.guardar3{ left: 15.5%;background-color: #DA161A ;}
.guardar6{ left: 21.5%;background-color: #959595 ;}
.guardar4{
  margin-left: 87%;
  background-color: #00235C ;
  color: white;
  margin-top: 8%;
}

mat-paginator{
  width: 60%;
  position: relative;
  left: 40%;
  top: -115px;
}

.row1{
border-top: 3px solid #97B4E2;
padding-top: 3%;
padding-bottom: 4%;
}
h3{ margin-bottom: 0px; }
.contenedor{ width: 80% !important; margin-left: 10%; margin-top: 4%; }
mat-option{ font-size: 10.5px; }
.btnremove{ width: 64px; height: 36px; }
#chetbox, #arti, #cant, #obser{ position: relative;}
#chet, #chet2{
  padding-left: 0%;
}
#obse, #obse2{ padding-right: 0%; }
#chetbox{ left: 9px; }
#arti{ left: 2px; }
#cant{ left: 0px; }
#obser{ left: 100px; width: 200px; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre1, .nombre, .estado{ width: 108%; margin-left: -1%; }
  .nombre2{ top: 20%;}
  .nombre3{ top: 34%;}
  .nombre4{ top: 48%;}
  .example-container{
    max-width: 100%;
    overflow: auto;
    margin-top: 163% !important;
    margin-bottom: 37% !important;
    margin-left: 2%;
  }
  #chet, #chet2{
    padding-left: 14px;
    padding-right: 14px;
  }
  .guardar4{
    margin-left: 22%;
    margin-top: 20%;
  }
  mat-paginator{width: 100%; position: relative; left: 0%; top: -146px; }
  #obse, #obse2{ padding-right: 0%; }
  #chetbox{ left: 3px; }
  #arti{ left: 3px; padding-right: 5px; }
  #cant{ left: 0px; padding-right: 5px; }
  #obser{ left: 0px; width: 70px; padding-right: 5px; }
  .articulo { position: static; margin-top: 18%;}
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  #idSp{margin-left: 40% ; }
  #desSp{margin-left: 14%;}
  #estSp{ margin-left: 19%;}
  #jerSp{margin-left: 17%;}
  #opcSp{ margin-left: 13px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -2px; }
  #idSp{margin-left: 84%; }
  #desSp{margin-left: 46%;}
  #estSp{ margin-left: 32%;}
  #jerSp{margin-left: 17%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 52%; }
  #desSp{margin-left: 64%;}
  #estSp{ margin-left: 50%;}
  #jerSp{margin-left: 40%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 38% ; }
  #desSp{margin-left: 41%;}
  #estSp{ margin-left: 33%;}
  #jerSp{margin-left: 22%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 94% ; }
  #desSp{margin-left: 85%;}
  #estSp{ margin-left: 62%;}
  #jerSp{margin-left: 51%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 100% ; }
  #desSp{margin-left: 110%;}
  #estSp{ margin-left: 89%;}
  #jerSp{margin-left: 81%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 136% ; }
  #desSp{margin-left: 150%;}
  #estSp{ margin-left: 115%;}
  #jerSp{margin-left: 100%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 140%; }
  #desSp{margin-left: 155%;}
  #estSp{ margin-left: 128%;}
  #jerSp{margin-left: 106%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}


/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 177%; }
  #desSp{margin-left: 155%;}
  #estSp{ margin-left: 128%;}
  #jerSp{margin-left: 115%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 177%; }
  #desSp{margin-left: 195%;}
  #estSp{ margin-left: 145%;}
  #jerSp{margin-left: 127%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 214%; }
  #desSp{margin-left: 195%;}
  #estSp{ margin-left: 161%;}
  #jerSp{margin-left: 138%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 244%; }
  #desSp{margin-left: 195%;}
  #estSp{ margin-left: 188%;}
  #jerSp{margin-left: 166%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 244%; }
  #desSp{margin-left: 276%;}
  #estSp{ margin-left: 200%;}
  #jerSp{margin-left: 180%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 244%; }
  #desSp{margin-left: 297%;}
  #estSp{ margin-left: 230%;}
  #jerSp{margin-left: 200%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 244%; }
  #desSp{margin-left: 369%;}
  #estSp{ margin-left: 327%;}
  #jerSp{margin-left: 280%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 244%; }
  #desSp{margin-left: 423%;}
  #estSp{ margin-left: 347%;}
  #jerSp{margin-left: 300%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  td button mat-icon{ font-size: 17px !important; margin-left: -3px;margin-top: -1px; }
  #idSp{margin-left: 785%; }
  #desSp{margin-left: 876%;}
  #estSp{ margin-left: 693%;}
  #jerSp{margin-left: 670%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 0%; }
  .botonagregar mat-icon{ margin-left: 0%; }
}
