.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
h2{
  font-weight: 700;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
  position: relative; left: 15px;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; color: white; }
.btnver{ background-color: #959595; color: white; }
.btnremove{ background-color: #DA161A; color: white; margin-left: 3%;}
#id2{ padding-left: 0.5%; }
#idSpa,#soliciSpa,#vendedorSpa,#turnvenSpa,#ObSpa,#OpcSpa{ position: relative; }
#idSpa{ left: 13%; position: absolute; }
#soliciSpa{ left: 41%; position: absolute; }
#turnvenSpa{ left: 5%; position: absolute; }
#vendedorSpa{ left: 34%; position: absolute;}
.btnver{ position: absolute; left: 63.8%; top: 47.2%;}
button mat-icon{ position: relative; top: -9%; left: -18%;}
td.mat-cell{ padding-left: 1%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  #idSpa{ left: 6%; }
  #soliciSpa{ margin-left: 13%; position: static; }
  #turnvenSpa{ margin-left: 14%; position: static;}
  #vendedorSpa{ margin-left: 16%; position: static;}
  #OpcSpa{ left: 22%;}
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -203%; top: -18%;}
  .boton{margin-top: 11%;}
  button mat-icon { top: -16%; left: -201%;}
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  #idSpa{ left: 6%; }
  #soliciSpa{ margin-left: 13%; position: static; }
  #turnvenSpa{ margin-left: 14%; position: static;}
  #vendedorSpa{ margin-left: 16%; position: static;}
  #OpcSpa{ left: 22%;}
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -203%; top: -22%;}
  .boton{margin-top: 11%;}
  button mat-icon { top: -18%; left: -201%;}
}
/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  #idSpa{ left: -2%; }
  #soliciSpa{ margin-left: 55%; position: static; }
  #turnvenSpa{ margin-left: 21%; position: static;}
  #vendedorSpa{ margin-left: 19%; position: static;}
  #OpcSpa{ left: 22%;}
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .boton{margin-top: 11%;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -186%; top: -19%;}
  .boton mat-icon{top: -17%; left: -179%;}
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  #idSpa{ left: -2%; }
  #soliciSpa{ margin-left: 88%; position: static; }
  #turnvenSpa{ margin-left: 21%; position: static;}
  #vendedorSpa{ margin-left: 26%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 13%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  #idSpa{ left: -2%; }
  #soliciSpa{ margin-left: 57%; position: static; }
  #turnvenSpa{ margin-left: 10%; position: static;}
  #vendedorSpa{ margin-left: 20%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 13%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .boton{ margin-top: 13%;}
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  #idSpa{ left: 7%; }
  #soliciSpa{ margin-left: 109%; position: static; }
  #turnvenSpa{ margin-left: 40%; position: static;}
  #vendedorSpa{ margin-left: 45%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  #idSpa{ left: 7%; }
  #soliciSpa{ margin-left: 140%; position: static; }
  #turnvenSpa{ margin-left: 58%; position: static;}
  #vendedorSpa{ margin-left: 61%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  #idSpa{ left: 7%; }
  #soliciSpa{ margin-left: 186%; position: static; }
  #turnvenSpa{ margin-left: 77%; position: static;}
  #vendedorSpa{ margin-left: 85%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  #idSpa{ left: 25%; }
  #soliciSpa{ margin-left: 186%; position: static; }
  #turnvenSpa{ margin-left: 83%; position: static;}
  #vendedorSpa{ margin-left: 94%; position: static;}
  #OpcSpa{ left: 4%;}
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}

