.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
h2{
  font-weight: 700;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
  position: relative; left: 15px;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; color: white; }
.btnver{ background-color: #959595; color: white; }
.btnremove{ background-color: #DA161A; color: white; margin-left: 3%;}
.excelButton, .boton, .btnremove, .btnver{ width: 64px; height: 36px; }
#id2{ padding-left: 0%; }
#idSpa,#soliciSpa,#vendedorSpa,#turnvenSpa,#ObSpa,#OpcSpa{ position: relative; }
#idSpa{ left: 11px; position: absolute; }
#soliciSpa{ left: 48px; position: absolute; }
#turnvenSpa{ left: -2px; position: absolute; }
#vendedorSpa{ left: 84px; position: absolute;}
button mat-icon{ position: relative; top: -1%; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  h3{
    margin-left: 3%;
    font-size: 13px;
  }
  td { font-size: 12px; height: 0px;}
  .btnver, .btnremove, .boton{ width: 18px !important; height: 20px; }
  td button mat-icon{ font-size: 10px; margin-left: -12px; margin-top: -2px; }
  .excelButton{
    width: 38px;
    height: 30px;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: -5%;
  }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .excelButton i{ top: -8px; font-size: 15px;}
  #idSpa{ left: 4px; }
  #soliciSpa { left: 8px; }
  #turnvenSpa { left: -4px; }
  #vendedorSpa{ left: 17px; }
  #ObSpa{ padding-right: 5px; }
  #OpcSpa{ left: 10px; }
  .boton, .btnremove{ margin-left: 12%; margin-top: 2px; margin-bottom: 3px; }
  td.mat-cell{ padding-left: 19px; padding-right: 22px; }
  td.mat-cell:first-of-type{ padding: 5px;}
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  h3{
    margin-left: 3%;
    font-size: 14px;
  }
  td { font-size: 13px; height: 0px;}
  .btnver, .btnremove, .boton{ width: 18px !important; height: 20px; }
  td button mat-icon{ font-size: 10px; margin-left: -12px; margin-top: -2px; }
  .excelButton{
    width: 38px;
    height: 30px;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: -5%;
  }
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -6%; }
  .excelButton i{ top: -8px; font-size: 15px;}
  #idSpa{ left: 3px; }
  #soliciSpa{ left: 4px; }
  #turnvenSpa{ left: -2px; }
  #vendedorSpa{ left: 12px; }
  #ObSpa{ padding-right: 5px; }
  #OpcSpa{ left: 10px; }
  td.mat-cell{ padding-right: 21px; padding-left: 16px; }
  td.mat-cell:first-of-type{
    padding-right: 2px;
  }
   .btnremove{ margin-left: 43%;     margin-top: 5px; }
   .boton{ margin-left: 42%; }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  h3{
    margin-left: 3%;
    font-size: 19px;
  }
  .boton, .btnremove, .btnver{
    width: 40px !important;
    height: 30px;
  }
  td { font-size: 16px; height: 0px;}
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  .excelButton{ margin-left: -2%; }
  #idSpa{ left: 3px; }
  #soliciSpa { left: 1px; }
  #turnvenSpa { left: -3px; }
  #vendedorSpa{ left: 15px; }
  #ObSpa{ padding-right: 5px; }
  #OpcSpa{ left: 10px; }
  .boton, .btnremove{ margin-left: 14%; margin-top: 5%;}
  #opc2{ padding-bottom: 1%; }
  td button mat-icon{ font-size: 18px; margin-left: -4px; margin-top: -1px; }
  td.mat-cell { padding-left: 20px; padding-right: 25px;}
  td.mat-cell:first-of-type { padding: 5px;}
}
/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 1024px){
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  .excelButton{ margin-left: -2%; }
  #turnvenSpa{ left: 0px; }
  #idSpa{ left: 3px;}
  #soliciSpa{ left: 19px;}
  #vendedorSpa{ left: 35px;}
  #ObSpa{ padding-right: 5px; left: 3px; }
  #OpcSpa{ left: 13px; }
  .boton, .btnremove{ margin-left: 25%; margin-top: 5%;}
  #opc2{ padding-bottom: 1%; }
  td.mat-cell{ padding-right: 26px; padding-left: 20px; }
  td.mat-cell:first-of-type{ padding-right: 5px; }
}

/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  mat-form-field{ width: 60%; margin-left: 40%; margin-top: -3%; }
  .excelButton{ margin-left: -2%; }
  #turnvenSpa{ left: 0px; }
  #idSpa{ left: 3px;}
  #soliciSpa{ left: 5px;}
  #vendedorSpa{ left: 20px;}
  #ObSpa{ padding-right: 5px; left: 3px; }
  #OpcSpa{ left: 13px; }
  .boton, .btnremove{ margin-left: 25%; margin-top: 5%;}
  #opc2{ padding-bottom: 1%; }
  td.mat-cell{ padding-right: 26px; padding-left: 20px; }
  td.mat-cell:first-of-type{ padding-right: 5px; }
}
/* Portatil Pequeño */
@media screen and (min-width: 1025px) and (max-width: 1366px){
  .excelButton{ margin-left: -2%; }
  #idSpa{ left: 6px; }
  #soliciSpa{ left: 31px; }
  #turnvenSpa{ left: -1px; }
  #vendedorSpa{ left: 58px; }
  #ObSpa{ padding-right: 3px; }
  #OpcSpa{ left: 13px; }
  .boton, .btnremove{ margin-left: 4%; margin-top: 5%;}
  #opc2{ padding-bottom: 1%; }
}

/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .excelButton{ margin-left: -2%; }
  #idSpa{ left: 8px; }
  #soliciSpa{ left: 35px; }
  #turnvenSpa{ left: 1px; }
  #vendedorSpa{ left: 65px; }
  #ObSpa{ padding-right: 3px; }
  #OpcSpa{ left: 13px; }
  .boton, .btnremove{ margin-left: 4%; margin-top: 5%;}
  #opc2{ padding-bottom: 1%; }
}

