.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}
h2{
  font-weight: 700;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
  position: relative; left: 15px;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.btnPriority{ background-color: #00235C; color: white; }
.btnver{ background-color: #959595; color: white; }
.btnremove{ background-color: #DA161A; color: white; margin-left: 3%;}
button mat-icon{ position: relative; top: -9%; left: -18%;}
/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  #soliciSpa{margin-left: 15%;}
  #vendedorSpa{margin-left: 16%;}
  #turnvenSpa{    margin-left: 19%;}
  #OpcSpa{margin-left: 23%;}
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -203%; top: -18%;}
  .boton{margin-top: 11%;}
  button mat-icon { top: -16%; left: -201%;}
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -203%; top: -22%;}
  .boton{margin-top: 11%;}
  button mat-icon { top: -18%; left: -201%;}
}
/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  .btnremove{ margin-top: 10%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .boton{margin-top: 11%;}
  .btnver mat-icon{ top: -21%; left: -180%;}
  .btnremove mat-icon{ left: -186%; top: -19%;}
  .boton mat-icon{top: -17%; left: -179%;}
  button mat-icon{top: -20%;left: -178%;}
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  .btnremove{ margin-top: 13%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  .btnremove{ margin-top: 13%; margin-bottom: 13%;}
  .btnver{ left: 52%; top: 51%; position: static;}
  .boton{ margin-top: 13%;}
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .btnremove{ margin-top: 0%; }
  .btnver{ left: 52%; top: 51%; position: static;}
}



