<div class="contenedor">
    <h2 class="dato">Modificar Usuario</h2>
    <form [formGroup]="formModificarUser" >
      <div class="row1">
        <div class="nombre2">
          <h2>Documento</h2>
          <mat-form-field class="nombre" appearance="fill" >
          <mat-label>Ingrese Documento </mat-label>
          <input type="number" id="documentoUser" formControlName="documentoUser" matInput readonly>
          </mat-form-field>
        </div>
        <div class="nombre2">
          <h2>Nombre</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese Nombre </mat-label>
          <input type="text" id="nombreUser" formControlName="nombreUser" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2">
            <h2>Contraseña</h2>
            <mat-form-field class="contraseña" appearance="fill">
            <mat-label>Ingrese Contraseña </mat-label>
            <input type="text" id="contrasenaUser" formControlName="contrasenaUser" matInput >
            </mat-form-field>
          </div>
        <div class="nombre3">
            <h2>Correo</h2>
          <mat-form-field class="nombre" appearance="fill">
            <mat-label>Ingrese correo </mat-label>
            <input type="email" id="correoUser" formControlName="correoUser" matInput>
            </mat-form-field>
        </div>
        <div class="nombre4">
            <h2>Apellido</h2>
            <mat-form-field class="nombre" appearance="fill">
              <mat-label>Ingrese Apellido </mat-label>
              <input type="text" id="apellidoUser" formControlName="apellidoUser" matInput>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="guardar2">
          <button mat-raised-button class="guardar" (click)="guardar()">Modificar Datos de {{usuario.nombre}}</button>
        </div>
      </div>
    </form>
  </div>

