<div class="contenedor">
  <h2 class="dato">Agregar Visita Detalle - {{nomSitioventa.ideSitioVenta}} - {{nomSitioventa.nom_sitioventa}}</h2>
  <form [formGroup]="formVisitaDetalle">
    <div class="row1">
      <div class="nombre2">
        <ul>
          <a *ngFor="let elemento of listarElementosVisita">
            <li >
              <h3>{{ elemento.descripcion | uppercase }}</h3>
            </li>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button style="margin-left: 10%;" *ngFor="let opcion of listarOpciones" [value]="opcion.id" value="{{opcion.id}}" (click)="capturarOpcion(elemento,opcion);">{{opcion.descripcion}}</mat-radio-button>
            </mat-radio-group>
          </a>
        </ul>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardar" (click)="guardar()" >Insertar</button>
      </div>
    </div>
  </form>
</div>
