<div class="contenedor">
  <h2 class="dato">Agregar Visita Detalle</h2>
  <form [formGroup]="formVisitaDetalle">
    <div class="row1">
      <div class="nombre2">
        <ul>
          <a *ngFor="let elemento of listarElementosVisita">
            <li >
              <h3>{{ elemento.descripcion | uppercase }}</h3>
            </li>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button style="margin-left: 10%;" *ngFor="let opcion of listarOpciones" [value]="opcion.id" value="{{opcion.id}}" (click)="capturarOpcion(elemento,opcion);">{{opcion.descripcion}}</mat-radio-button>
            </mat-radio-group>
          </a>
        </ul>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardar" (click)="guardar()" >Insertar</button>
      </div>
    </div>
  </form>
</div>











<!--
<div class="contenedor">
    <table datatable [dtOptions]="dtOptions" mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource"> -->
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef ><h1>Id</h1></th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef><h1>Descripcion</h1></th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="opcion">
          <th mat-header-cell *matHeaderCellDef><h1>Opcion</h1></th>
          <td mat-cell *matCellDef="let element">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="Bueno">Bueno</mat-radio-button>
                <mat-radio-button value="Regular">Regular</mat-radio-button>
                <mat-radio-button value="Malo">Malo</mat-radio-button>
            </mat-radio-group>
          </td>
        </ng-container> -->

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->
