
<div class="contenedor">
  <h2 class="dato">Reporte Asesor</h2>
  <form [formGroup]="formReporte">
    <div class="row1">
      <!-- Ingresar Nombre -->
      <div class="nombre2">
        <h2>Documento Asesor</h2>
        <mat-form-field class="nombre"  appearance="fill">
          <mat-label>Ingrese Documento Asesor</mat-label>
          <input id="documentoAsesor" formControlName="documentoAsesor" matInput >
        </mat-form-field>
      </div>
    </div>
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="reporte()">Generar Reporte</button>
    </div>
  </form>
  <div id="informacionAsesor" style="display: none;">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSpa">Sitio de Venta</h3></th>
            <td mat-cell *matCellDef="let element" id="idSp2">{{element.ideSitioVenta}} | {{element.nombreSitioVenta}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descSpa">Turno</h3></th>
            <td mat-cell *matCellDef="let element">{{element.turnitos}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="horaInicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="horaISpa">Venta</h3></th>
            <td mat-cell *matCellDef="let element">{{element.ventas | currency:'COP'}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="horaFinal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="horaFSpa">Presupuesto</h3></th>
            <td mat-cell *matCellDef="let element">{{element.presupuesto | currency:'COP'}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estadoSpa">Porcentaje Cumplido</h3></th>
            <td mat-cell *matCellDef="let element">{{element.porcentaje | number:'1.0-2'}}%</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tipoTurno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="tipoTurSpa">Falta Ventas</h3></th>
            <td mat-cell *matCellDef="let element">{{element.faltaVenta | currency:'COP'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
  </div>

</div>

<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>

