<h2 class="dato">Ingresar solicitud para dar de baja un articulo</h2>
<form [formGroup]="formSolicitudBajaArticulo">
  <div class="row1">
    <div class="nombre2">
      <h2>Observación</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese observación del porque desea dar de baja</mat-label>
      <textarea id="observacion" formControlName="observacion" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>

