<div class="contenedor">
  <h2 class="dato">Ingresar Nuevo Detalle Articulo</h2>
  <form [formGroup]="formDetalleArticulo">
    <div class="row1">
      <!-- Ingresar Nombre -->
      <div class="nombre2">
        <h2>Articulo</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccion el Articulo</mat-label>
        <select matNativeControl id="articulo" name="articulo" formControlName="articulo">
          <option *ngFor="let item of listarArticulos"  value="{{item.id}}">{{item.descripcion}}</option>
        </select>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Serial</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese serial del Articulo</mat-label>
        <input id="serial" formControlName="serial" matInput>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Placa</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese placa del Articulo</mat-label>
        <input id="placa" formControlName="placa" matInput>
        </mat-form-field>
      </div>
      <div class="nombre3">
        <h2>Marca</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese marca del Articulo</mat-label>
        <input id="marca" formControlName="marca" matInput>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Estado</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccion el estado del Articulo</mat-label>
        <select matNativeControl id="estado" name="estado" formControlName="estado">
          <option *ngFor="let item of listaEstados"  value="{{item.id}}">{{item.descripcion}}</option>
        </select>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Tipo Activo</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccion el tipo activo</mat-label>
        <select matNativeControl id="tipoActivo" name="tipoActivo" formControlName="tipoActivo">
          <option *ngFor="let item of listaTipoActivos"  value="{{item.id}}">{{item.descripcion}}</option>
        </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar detalle artículo"><mat-icon>add</mat-icon></button>
      </div>
    </div>
  </form>
</div>
