<div class="contenedor">
  <h2 class="dato">Analisis Detallado Contable</h2>
  <form [formGroup]="formAnalisisDetalladoContable">
    <div class="row1">
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear libro mayor"><mat-icon>add</mat-icon></button>
      </div>
      <!-- Ingresar Nombre -->
      <div class="nombre2">
        <h2>Mes y Año</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Seleccione mes y año</mat-label>
        <input type="month" id="fecha" formControlName="fecha" matInput>
        </mat-form-field>
      </div>
      <br><br>
    </div>
  </form>
  <mat-form-field class="buscador1" *ngIf="section==true" appearance="standard" data-bs-toggle="tooltip" data-bs-placement="top" title="Busca un porcentaje presupuesto">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <button class="btn excelButton" *ngIf="section==true" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exporta lista de porcentajes presupuesto"><i class="fa-solid fa-file-excel"></i></button>
  <button class="btn cuentasPorcButton" *ngIf="listaCuentasFaltaPorcentaje.length>0" (click)="cuentasFaltantesPorce()" data-bs-toggle="tooltip" data-bs-placement="top" title="Muestra todas las cuentas que faltan por colocar el porcentaje"><mat-icon>account_balance_wallet</mat-icon></button>
  <section *ngIf="section==true" class="example-container mat-elevation-z8" tabindex="0" >
    <table  mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>

        <!-- Name Column  -->
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Cuenta</h3></th>
          <td mat-cell *matCellDef="let element">{{element.libroMayorAnterior.idCuenta.codigo}} - {{element.libroMayorAnterior.idCuenta.descripcion}}</td>
        </ng-container>

         <!-- Name Column  -->
         <ng-container matColumnDef="añoAnterior">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Año Anterior</h3></th>
          <td mat-cell *matCellDef="let element">${{element.libroMayorAnterior.valor | currency:'COP':'symbol':'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="presupuesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estSp">Presupuesto</h3></th>
          <td mat-cell *matCellDef="let element">${{element.presupuestoContable.presupuesto | currency:'COP':'symbol':'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="añoActual">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Ejecucion</h3></th>
          <td mat-cell *matCellDef="let element">${{element.libroMayorActual.valor | currency:'COP':'symbol':'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="diferenciaAñoAnt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Dif. Año Anterior</h3></th>
          <td mat-cell *matCellDef="let element">${{element.libroMayorActual.valor - element.libroMayorAnterior.valor | currency:'COP':'symbol':'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="varAñoAnt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Var. Año Anterior</h3></th>
          <td mat-cell *matCellDef="let element" class="{{element.colorVarAnoAnt}}">{{element.variacionAnoAnterior}}%</td>
        </ng-container>

        <ng-container matColumnDef="diferenciaPresupuesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Dif. Presupuesto</h3></th>
          <td mat-cell *matCellDef="let element">${{element.presupuestoContable.presupuesto - element.libroMayorActual.valor | currency:'COP':'symbol':'1.0-0'}}</td>
        </ng-container>

        <ng-container matColumnDef="cumPresupuesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="valSp">Cum. Presupuesto</h3></th>
          <td mat-cell *matCellDef="let element" class="{{element.colorCumPresu}}">{{element.cumPresupuesto}}%</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator *ngIf="section==true" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
<div class="loader"></div>
</div>
