<h2 class="dato">Ingresar Nuevo Motivo de Solicitud</h2>
<form [formGroup]="formMotivoSolicitud">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese descripción</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Area</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Seleccione el area</mat-label>
      <select matNativeControl id="area" name="area" formControlName="area">
        <option *ngFor="let item of listasArea"  value="{{item.id}}">{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar motivo de solicitud"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
