<div>
  <a (click)="solicitudes0()">
    <mat-card id="card0">
        <h2>Observación</h2>
        <mat-icon>mark_unread_chat_alt</mat-icon>
    </mat-card>
  </a>
  <a (click)="solicitudes()">
    <mat-card id="card1">
        <h2>Viabilidad</h2>
        <mat-icon class="icon1">preview</mat-icon>
    </mat-card>
  </a>
  <a (click)="solicitudes2()">
    <mat-card id="card2">
        <h2>Cotización</h2>
        <mat-icon>request_quote</mat-icon>
    </mat-card>
  </a>
  <a (click)="solicitudes3()">
    <mat-card id="card3">
        <h2>Aprobación</h2>
        <mat-icon>rule</mat-icon>
    </mat-card>
  </a>
  <a (click)="solicitudes4()">
    <mat-card id="card4">
        <h2>Registro</h2>
        <mat-icon>fact_check</mat-icon>
    </mat-card>
  </a>
  <a (click)="solicitudes5()">
    <mat-card id="card5">
        <h2>Generación</h2>
        <mat-icon>picture_as_pdf</mat-icon>
    </mat-card>
  </a>
</div>
