
mat-card{
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 11%;
    left: 5%;
    color: black;
}
a{ text-decoration: none}
mat-icon{ color: black;
    left: 36px;
    top: 55px;
    font-size: 25px;
    position: absolute;
}

div{
    height: 378px;
}

h2{
    font-weight: 700px;
    font-size: 14px;
    position: absolute;
    top: 17px;
}

#card1{ left: 38%; top: -67px; }
#card0{ left: 5%; top: 9%;}

#card2{
    left: 71%;
    top: -167px;
}

#card3{
    left: 5%;
    top: -107px;
}

#card4{
    position: relative;
    left: 38%;
    top: -54%
}

#card5{
    left: 72%;
    top: -303px;
}

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
    mat-card{
        width: 70px;
        height: 70px;
        top: 6%;
        left: 2%;
    }
    #card0{ left: 4%; top: 6%; }
    #card1{ left: 58%; top: -51px; }
    h2{ font-size: 18px; top: 15px; }
    #card2{ left: 2%; top: -2px; }
    #card3{ left: 60%; top: -71px; }
    #card5{ left: 60%; top: -95px; }
    mat-icon{ font-size: 23px; top: 35px; left: 25px; }
}
/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
    mat-card{
        width: 85px;
        height: 85px;
        top: 3%;
        left: 4%;
    }
    h2{ font-size: 14px; top: 9px; }
    #card2{ left: 58%; top: -74px; }
    #card3{ left: 58%; top: -34px; }
    #card4{ top: -327px; }
    #card5{ left: 29%; top: -286px; }
    mat-icon{ font-size: 23px; top: 43px; left: 28px; }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
    mat-card{
        left: 3%;
    }
    #card3{ left: 72%; top: -156px; }
    #card4{ top: -298px; }
    #card5{ left: 38%; top: -399px; }
    #card2{ top: -57px; }
}
