mat-card{
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 5%;
}

div{
    height: 378px;
}

h2{
    font-weight: 700px;
    font-size: 27px;
}

#card2{
    left: 38%;
    top: -128px;
}

#card3{
    left: 71%;
    top: -278px;
}

#card4{
    top: -245px;
}

#card5{
    left: 38%;
    top: -395px;
}
