<h2 class="dato">Ingresar Nuevo Accesos</h2>
<form [formGroup]="formaModificarAccesos">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
        <h2>Accesos</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese Acceso del Rol</mat-label>
        <select matNativeControl id="modulo" name="modulo" formControlName="modulo">
          <option *ngFor="let item of listarModulo"  value="{{item.id}}">{{item.descripcion}}</option>
        </select>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>


