<div class="contenedor">
  <button class="btn boton botonagregar text-white my-2" (click)="abrirModal();">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="btn excelButton" (click)="exportToExcel()"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field class="buscador" appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">

    <table id="rol" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="desSp">Descripcion</h3></th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="estSp">Estado</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idEstado.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="jerarquia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="jerSp">Jerarquia</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idJerarquia.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
         <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef id="opcSp2"><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item" id="opcSp2">
            <button class="btn btnedit mx-2" (click)="modificarRol(item.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btnremove mx-2" (click)="eliminarRol(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="btn btnver ver mx-2" [routerLink]="['/visualizarAccessos', item.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>

