.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}

table{
  width: 100%;
}
.complete{
  right: 22%;
  top: -45px;
}
.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.hora{ text-align: center; }
.boton{ background-color: #00235C; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

#Cumplio{
  background-color: #C6EFCE;
  color: #006100;
}
#Cumplio, #Incumplio, #No_ingreso, #Aun{ font-weight: 700;}
#Incumplio{
  background-color: #FFEB9C;
  color: #9C6524;
}
#No_ingreso{
  background-color: #ffc7ce;
  color: #9B0006;
}
.btnver{ background-color:  #3ebb14; color: white; }

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton, .pdfButton, .printButton{ position: relative; left: 25px; }
td {
  border: 1px solid #000;
  text-align: center;
  font-size: 11px;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
.botonagregar, .excelButton, .botonagregar2, .btnremove, .btnedit, .btnver{ width: 64px; height: 36px; }
.botonagregar mat-icon{ font-size: 24px; }
.excelButton{ margin-left: -2%; }
.excelButton i{ position: relative; top: 1px; font-size: 20px;}
#nombreVSpa, #oficinaSpa, #sitioVASpa, #sitioVISpa, #oficinaZSpa, #horaASpa, #horaISpa, #fechaASpa, #estadoSpa, #opcSpa{ position: relative; }
#oficinaZSpa, #horaASpa, #horaISpa, #fechaASpa, #estadoSpa, #opcSpa{ left: 11px; }
#nombreVSpa{left: 36px;}
#sitioVASpa{left: 46px;}
#sitioVISpa{ left: 8px;}
#oficinaSpa{ left: 63px; }
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 0px; }
  #nombreVSpa, #oficinaSpa, #sitioVASpa, #sitioVISpa, #oficinaZSpa, #horaASpa, #horaISpa, #fechaASpa, #estadoSpa, #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: 0px; }
  #nombreVSpa, #oficinaSpa, #sitioVASpa, #sitioVISpa, #oficinaZSpa, #horaASpa, #horaISpa, #fechaASpa, #estadoSpa, #opcSpa{ left: 8px; }
  .botonagregar mat-icon{ margin-left: -50%; }
}
