<div class="contenedor">
  <h2 class="dato">Informacion Detallada del Activo</h2>
  <form [formGroup]="formInfo">
    <div class="row1">
      <div class="nombre2">
        <h2>Activo</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese Activo</mat-label>
        <input id="activo" formControlName="activo" readonly matInput>
        </mat-form-field>
      </div>
      <div class="nombre2">
        <h2>Marca</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese marca</mat-label>
        <input id="marca" formControlName="marca" readonly matInput>
        </mat-form-field>
      </div>
      <div class="nombre3">
        <h2>Placa</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese placa</mat-label>
        <input id="placa" formControlName="placa" readonly matInput>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Serial</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese serial</mat-label>
        <input id="serial" formControlName="serial" readonly matInput>
        </mat-form-field>
      </div>
      <div class="nombre5">
        <h2>Categoria</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese categoria</mat-label>
        <input id="categoria" formControlName="categoria" readonly matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Valido información del activo"><mat-icon>arrow_circle_down</mat-icon></button>
      </div>
    </div>
  </form>
</div>
