<div class="contenedor">
  <h2 class="dato">Modificar Solicitud de Compra</h2>
  <form [formGroup]="formSolicitud">
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button  class="btn botonagregar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar solcitud"><mat-icon>add_circle</mat-icon></button>
        <button  class="btn bot" (click)="eliminarArticulo()" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar artículos"><mat-icon>delete</mat-icon></button>
        <button class="btn boton" (click)="agregarArticulo()" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar artículos" *ngIf="num == 0"><mat-icon>add_box</mat-icon></button>
      </div>
    </div>

    <div class="row1">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="todo">
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="una">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? toggle($event, row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="articulo">
            <th mat-header-cell *matHeaderCellDef><h3 class="ar">Articulo</h3></th>
            <td mat-cell *matCellDef="let element"> {{element.idArticulos.descripcion}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef><h3 class="cant"> Cantidad </h3></th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef><h3 class="o"> Observacion </h3></th>
            <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </section>
      <button class="btn botonagregar2" (click)="generarSolicitud()" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar solicitud"><mat-icon>edit_square</mat-icon></button>
      <mat-paginator [length]="100" [pageSize]="6" [pageSizeOptions]="[2, 5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
      <div id="generalnum">
        <div class="nombre2" id="nombre1">
          <h2 class="articulo">Articulo</h2>
          <mat-form-field class="nombre1" appearance="fill">
            <mat-label>Ingrese Articulo</mat-label>
            <input type="text"
            aria-label="text"
            matInput
            [formControl]="articulos"
            [matAutocomplete]="auto2" >
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="capturarArticulo($event)" [displayWith]="displayFn" id="articulo" name="articulo" formControlName="articulo" >
              <mat-option *ngFor="let item of filteredOptions | async"  [value]="item" ngValue="item.id" >
                {{item.descripcion}}
                <button *ngIf="">Agregar un articulo</button>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="nombre3">
          <h2 class="can">Cantidad</h2>
          <mat-form-field class="nombre" [color]="color" appearance="fill">
          <mat-label>Ingrese Cantidad del articulo</mat-label>
          <input type="number" id="cantidad" formControlName="cantidad" name="cantidad" matInput>
          </mat-form-field>
        </div>
        <div class="nombre4">
          <h2 class="obs">Observacion</h2>
          <mat-form-field class="nombres" [color]="color" appearance="fill">
          <mat-label>Ingrese observación del articulo</mat-label>
          <textarea id="observacion" formControlName="observacion" matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Ingresar Nombre -->
    </div>
  </form>
</div>
<div class="solpiner" id="snipper2" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
