<div class="contenedor">
    <h2 class="dato">Consultar Colilla Lotería</h2>
    <div class="row1">
      <div class="nombre3 my-4">
        <h2>Seleccionar Archivo</h2>
        <input class="my-1 form-control" type="file" (change)="readExcel($event)" mat-input>
        <button class="btn botonBuscar my-3" (click)="consultarColillasCompleto()"><mat-icon>manage_search</mat-icon></button>
      </div>
    </div>
    <div class="tablaInformacion" id="visualizarTabla" style="display: none;">
      <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista de Loteria"><i class="fa-solid fa-file-excel"></i></button>
      <mat-form-field class="buscador" appearance="standard" >
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
      </mat-form-field>
      <section  class="example-container mat-elevation-z8" tabindex="0" >
        <table  mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
             <!-- Name Column  -->
             <ng-container matColumnDef="colilla">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Colilla</h3></th>
              <td mat-cell *matCellDef="let element">{{element.colilla}}</td>
            </ng-container>

            <ng-container matColumnDef="serie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Serie</h3></th>
              <td mat-cell *matCellDef="let element">{{element.serie}}</td>
            </ng-container>

            <ng-container matColumnDef="colillaTercero">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Consecutivo</h3></th>
              <td mat-cell *matCellDef="let element">{{element.colilla_tercero}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
      <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[2, 5, 10, 25, 100]"
                  aria-label="Select page">
      </mat-paginator>
    </div>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>

