<mat-drawer-container class="example">
  <mat-drawer mode="side" opened>
    <img src="assets/logo/LOGO GECCO-ai (4).png" routerLink="/inicio" alt="" class="logo">
  <mat-expansion-panel style="display: none;" id="Administracion" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Administración
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="5"  routerLink="/usuarios" style="display: none;">Usuarios</button>
      <button mat-raised-button id="4" routerLink="/tipoDocumento" style="display: none;">Tipos de Documentos</button>
      <button mat-raised-button id="3" routerLink="/roles" style="display: none;">Roles</button>
      <button mat-raised-button id="10" routerLink="/modulo" style="display: none;">Modulos</button>
      <button mat-raised-button id="11" routerLink="/jerarquia" style="display: none;">Jerarquía</button>
      <button mat-raised-button id="19" routerLink="/configuraciones" style="display: none;">Configuracion</button>
      <button mat-raised-button id="21" routerLink="/aprobacion" style="display: none;">Aprobacion</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Malla" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Malla de Turnos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="1" routerLink="/tipoTurnos" style="display: none;">Tipos de Turnos</button>
      <button mat-raised-button id="12" routerLink="/tipoNovedades" style="display: none;">Tipo de Novedades</button>
      <button mat-raised-button id="2" routerLink="/turnos" style="display: none;">Turnos</button>
      <button mat-raised-button id="6" routerLink="/asignarTurno" style="display: none;">Asignar Turno a Punto de Venta</button>
      <button mat-raised-button id="13" routerLink="/asignarTurnoVendedor" style="display: none;">Asignar Turno Vendedor</button>
      <button mat-raised-button id="7" routerLink="/mallas" style="display: none;">Malla de Turnos Ingreso</button>
      <button mat-raised-button id="20" routerLink="/mallasCierre" style="display: none;">Malla de Turnos Cierre</button>
      <button mat-raised-button id="14" routerLink="/novedades" style="display: none;">Generar Reporte Novedad</button>
      <button mat-raised-button id="40" routerLink="/presupuestoVentaMensual" style="display: none;" >Presupuesto de Punto Venta Mensual</button>
      <button mat-raised-button id="41" routerLink="/reporteAsesor" style="display: none;" >Reporte Asesor</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Visita" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Visita
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="16" routerLink="/elementosVisita" style="display: none;">Elementos Visita</button>
      <button mat-raised-button id="17" routerLink="/opcionesVisita" style="display: none;">Opciones Visita</button>
      <button mat-raised-button id="15" routerLink="/visitaDetalle" style="display: none;" >Agregar Visita Detalle</button>
      <button mat-raised-button id="18" routerLink="/reportesVisitaDetalle" style="display: none;">Generar Reporte Visita</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Compra" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Compra
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="22" routerLink="/articulos" style="display: none;" >Articulos</button>
      <button mat-raised-button id="31" routerLink="/categoria" style="display: none;">Categoria</button>
      <button mat-raised-button id="33" routerLink="/proceso" style="display: none;">Asignación de Categoria</button>
      <button mat-raised-button id="26" routerLink="/proveedores" style="display: none;">Proveedores</button>
      <button mat-raised-button  id="30" routerLink="/generarSolicitud" style="display: none;">Generar Solicitud</button>
      <button mat-raised-button id="32" routerLink="/comentariosSolicitud" style="display: none;">Comentarios Solicitudes</button>
      <button mat-raised-button id="29" routerLink="/solicitudesRealizadas" style="display: none;" >Solicitudes Realizadas</button>
      <button mat-raised-button  id="23" routerLink="/solicitud" style="display: none;" >Lista de Solicitudes</button>
      <!-- <button mat-raised-button  id="58" routerLink="/firmas">Firmas</button> -->
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="RecepcionDatos" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Recepción de Datos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="42" routerLink="/tipoServicio">Tipo de Servicio</button>
      <button mat-raised-button id="43" routerLink="/escalaSolicitudes">Escala Solicitudes</button>
      <button mat-raised-button id="44" routerLink="/motivoSolicitud">Motivos de Solicitud</button>
      <button mat-raised-button routerLink="/mediosRadicacion">Medios de Radicación</button>
      <button mat-raised-button id="45" routerLink="/clientesSC">Clientes Servicio al Cliente</button>
      <button mat-raised-button id="47" routerLink="/areaPQRS">Area</button>
      <button mat-raised-button id="46" routerLink="/asignacionUsuariosPqr">Asignar usuario PQRS</button>
      <button mat-raised-button id="38" routerLink="/solicitudesSC">Solicitudes PQRS</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="Raspa" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Raspa
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="28" [routerLink]="['/raspalisto']" style="display: none;">Visado Premio</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="display: none;" id="RegistroIngreso" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Registro Ingreso
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="50" routerLink="/sedes" style="display: none;">Sedes</button>
      <button mat-raised-button id="49" routerLink="/registroIngreso" style="display: none;">Registro</button>
      <button mat-raised-button id="51" routerLink="/reporteIngreso" style="display: none;">Reporte Ingreso</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel style="display: none;" id="Inventario" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Inventario
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button routerLink="/tipoActivo" >Tipo Activo</button>
      <button mat-raised-button routerLink="/tipoProceso" >Tipo Proceso</button>
      <button mat-raised-button routerLink="/listaArticuloInventario" >Lista Activos Inventario</button>
      <button mat-raised-button routerLink="/asignacionProceso" >Asignar Proceso a Usuario</button>
      <button mat-raised-button routerLink="/asignacionArticulo" >Asignar Activo a Usuario</button>
      <button mat-raised-button routerLink="/misArticulos" >Mis Activos</button>
      <button mat-raised-button routerLink="/reporteInventario" >Reporte Inventario</button>
      <button mat-raised-button routerLink="/listaAutorizaciones" >Solicitudes Bajas Activos</button>
      <button mat-raised-button routerLink="/listaConfirmaciones" >Admitir Bajas Activos</button>
      <button mat-raised-button routerLink="/agregarArticulosInventario" >Agregar Articulo Inventario</button>
      <button mat-raised-button routerLink="/listaActasBajas" style="display: none;">Lista Actas Bajas Articulos</button>
      <button mat-raised-button routerLink="/solicitudBajaArticulos" >Generar Solicitud Baja Activo</button>
      <button mat-raised-button routerLink="/opcionArticulosBaja" >Estados Baja Activo</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"> <!--id="MatrizDeNecesidades"-->
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Matriz de Necesidades
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button routerLink="/subProceso" >Sub Procesos</button>
      <button mat-raised-button routerLink="/tipoNecesidad" >Tipo Necesidades</button>
      <button mat-raised-button routerLink="/matrizNecesidad">Generar Matriz</button>
      <button mat-raised-button routerLink="/listaMatricesNecesidades">Matrices de Necesidades</button>
      <button mat-raised-button routerLink="/reporteMatrizNecesidad">Reporte de Matriz Necesidad</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"> <!--id="ModuloRecordatorio"-->
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Modulo de Recordatorio
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button routerLink="/recordatorio" >Lista de Eventos</button>
    </div>
  </mat-expansion-panel>

  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
  </mat-drawer-content>
</mat-drawer-container>
