<mat-drawer-container class="example">
  <mat-drawer mode="side" opened>
    <img src="../../../assets/logo/LOGO GECCO-ai (4).png" routerLink="/inicio" alt="" class="logo">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Administración
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="1"  routerLink="/usuarios" style="display: none;">Usuarios</button>
      <button mat-raised-button id="4" routerLink="/tipoDocumento" style="display: none;">Tipos de Documentos</button>
      <button mat-raised-button id="3" routerLink="/roles" style="display: none;">Roles</button>
      <button mat-raised-button id="10" routerLink="/modulo" style="display: none;">Modulos</button>
      <button mat-raised-button id="11" routerLink="/jerarquia" style="display: none;">Jerarquía</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Malla de Turnos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="1" routerLink="/tipoTurnos" style="display: none;">Tipos de Turnos</button>
      <button mat-raised-button id="12" routerLink="/tipoNovedades" style="display: none;">Tipo de Novedades</button>
      <button mat-raised-button id="2" routerLink="/turnos" style="display: none;">Turnos</button>
      <button mat-raised-button id="6" routerLink="/asignarTurno" style="display: none;">Asignar Turno a Punto de Venta</button>
      <button mat-raised-button id="13" routerLink="/asignarTurnoVendedor" style="display: none;">Asignar Turno Vendedor</button>
      <button mat-raised-button id="7" routerLink="/mallas" style="display: none;">Malla de Turnos</button>
      <button mat-raised-button id="novedades" routerLink="/novedades" style="display: none;">Generar Reportes</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Visita
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button id="Opciones Visita" routerLink="/opcionesVisita">Opciones</button>
      <button mat-raised-button id="Visita Detalle Agregar" routerLink="/visitaDetalle">Agregar Visita Detalle</button>
    </div>
  </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
  </mat-drawer-content>
</mat-drawer-container>
