.example {
  height: 100%;
}
mat-drawer{
  background-color: #7C91BA;
  width: 15%;
}
.logo{
  width: 75%;
  margin-top: 3%;
  margin-left: 9%;
  margin-bottom: -11%;
}
.boton{
  width: 100%;
  background: #244BBF ! important;
  color: white;
  text-align: left;
  font-size: 15px;
}
div.dataTables_wrapper{ margin-top: 5%;}
mat-icon{ margin-left: 20%; font-size: 35px; margin-top: -8%;}
mat-expansion-panel{ border-radius: 0%; }
mat-expansion-panel-header:hover{ background: #3d74cc !important; margin:0%}
mat-expansion-panel{
  position: relative;
  top: 5%;
}
mat-panel-title{ color: white; font-weight: 400; }
button{ width: 125%; margin-left: -12%; border-radius: 0%; background-color: white; text-align: left; font-weight: 400;}
.opciones button{ font-size: 12px; }


