<mat-drawer-container class="example">
  <mat-drawer mode="side" opened >
    <img src="../../../assets/logo/LOGO GECCO-ai (4).png" alt="" class="logo">
    <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Administrador
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <p>I'm visible because I am open</p>
    </div>
  </mat-expansion-panel> -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header class="boton">
      <mat-panel-title >
        Usuario
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="opciones">
      <button mat-raised-button routerLink="/usuarios">
        Datos Quemados
      </button>
      <button mat-raised-button routerLink="/inicio">Inicio</button>
      <button mat-raised-button routerLink="/modulo">Modulos</button>
      <button mat-raised-button routerLink="/roles">Rol</button>
      <button mat-raised-button routerLink="/tipoTurnos">Tipo de Turnos</button>
    </div>
  </mat-expansion-panel>

  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
  </mat-drawer-content>
</mat-drawer-container>
