.example {
  height: 100%;
}
mat-drawer{
  background-color: #00235C;
  width: 15%;
}
.logo{
  width: 75%;
  margin-top: 3%;
  margin-left: 9%;
  margin-bottom: -11%;
}
.boton{
  width: 100%;
  background: #2e68c7 ! important;
  color: white;
  text-align: left;
  font-size: 15px;
}
div.dataTables_wrapper{ margin-top: 5%;}
mat-icon{ margin-left: 20%; font-size: 35px; margin-top: -8%;}
mat-expansion-panel{ border-radius: 0%; }
mat-expansion-panel-header:hover{ background: #3d74cc !important; margin:0%}
mat-expansion-panel{
  position: relative;
  top: 5%;
}
mat-panel-title{ color: white; font-weight: 400; }
button{ width: 125%; margin-left: -12%; border-radius: 0%; background-color: white; text-align: left; font-weight: 400;}

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  mat-drawer{
    display: none;
  }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  mat-drawer{
    display: none;
  }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  mat-drawer{
    display: none;
  }
}

/* Tablet pequeña - iPad Mini*/
@media screen and (min-width: 721px) and (max-width: 768px){
  mat-drawer{
    display: none;
  }
}
/* Tablet medio - iPad Air*/
@media screen and (min-width: 769px) and (max-width: 1023px){
  .logo{
    width: 83%;
    margin-top: 8%;
    margin-bottom: 38%;
  }
  mat-expansion-panel{ position: relative; top: -4.5%; }
  mat-drawer{
    background-color: #00235C;
    width: 22%;
  }
}
