.principal{
  background-color: #00235C;
  width: 100%;
  height: 100%;
}
.formulario{
  background-color: #ECECEC;
  border-radius: 35px;
  width: 60%;
  height: 70%;
  margin: 0% auto;
  position: relative;
  top: 13%;
  border: 5px solid #A9B0B8;;
}
hr{
  border-left: thick solid #96B7CE;
  height: 99.5%;
  left: 50%;
  position: absolute;
  margin-top: -19.3%;
  border-width: 2px;
}
.formulario, .numIdentificacion, .password, button, .olvido, .imgLogin{ position: relative; }
.logo{
  width: 38%;
  margin-top: 6%;
  margin-left: 5%;
}
.numIdentificacion{ top: 130px; left: -35%; }
.password{ top: 120px; left: 8%;}
mat-form-field{ width: 300px; }
button{
  width: 15%;
  height: 43px;
  background-color: #00235C;
  color: white;
  font-size: 20px;
  top: 210px;
  left: -15%;
}
.olvido{
  text-decoration: none;
  color: #00235C;
  font-size: 20px;
  font-weight: 700;
  top: 280px;
  left: -33%;
}
.imgLogin{
  width: 450px;
  top: -90px;
  left: 52%;
}
