.principal{
  background-color: #00235C;
  width: 100%;
  height: 100%;
}
.formulario{
  background-color: #ECECEC;
  border-radius: 35px;
  width: 60%;
  height: 80%;
  margin: 0% auto;
  position: relative;
  top: 13%;
  border: 5px solid #A9B0B8;;
}
hr{
  border-left: thick solid #96B7CE;
  height: 99.5%;
  left: 50%;
  position: absolute;
  margin-top: -19.3%;
  border-width: 2px;
}
.formulario, .numIdentificacion, .password, button, .olvido, .imgLogin{ position: relative; }
.logo{
  width: 38%;
  margin-top: 6%;
  margin-left: 5%;
}
.numIdentificacion{ top: 160px; left: -35%; }
.password{ top: 160px; left: 8%;}
mat-form-field{ width: 300px; }
button{
  width: 15%;
  height: 43px;
  background-color: #00235C;
  color: white;
  font-size: 20px;
  top: 260px;
  left: -15%;
}
.olvido{
  text-decoration: none;
  color: #00235C;
  font-size: 20px;
  font-weight: 700;
  top: 330px;
  left: -33%;
}
.imgLogin{
  width: 450px;
  top: -50px;
  left: 52%;
}

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 25%;
  }
  mat-form-field{ width: 70%; }
  hr{ display: none; }
  .numIdentificacion{ top: 50px; left: 15%; }
  .password{ top: 70px; left: 15%;}
  .imgLogin{
    display: none;
  }
  button{
    width: 60%;
    left: 19%;
    top: 120px;
  }
  .olvido{
    font-size: 15px;
    font-weight: 700;
    top: 170px;
    left: 20%;
    display: block;
  }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .formulario{
    width: 75%;
    margin-left: 12%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 15%;
  }
  mat-form-field{ width: 70%; }
  hr{ display: none; }
  .numIdentificacion{ top: 170px; left: 15%; }
  .password{ top: 190px; left: 15%;}
  .imgLogin{
    width: 75%;
    left: 13%;
    top: -190px;
  }
  button{
    width: 60%;
    left: 19%;
    top: 220px;
  }
  .olvido{
    font-size: 15px;
    font-weight: 700;
    top: 255px;
    left: 20%;
    display: block;
  }
}
/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 10%;
  }
  mat-form-field{ width: 180px; }
  hr{ display: none; }
  .numIdentificacion{ top: 160px; left: 15%;  width: 70%; }
  .password{ top: 170px; left: 15%; width: 70%;}
  button{
    width: 60%;
    left: 19%;
    top: 190px;
  }
  .olvido{
    font-size: 15px;
    font-weight: 700;
    top: 230px;
    left: 30%;
    display: block;
  }
  .imgLogin{
    width: 50%;
    left: 25%;
    top: -190px;
  }
}
/* Tablet pequeña */
@media screen and (min-width: 721px) and (max-width: 768px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 10%;
  }
  mat-form-field{ width: 180px; }
  hr{ display: none; }
  .numIdentificacion{ top: 280px;
    left: 15%;
    width: 70%; }
  .password{ top: 300px; left: 15%; width: 70%;}
  button{
    width: 60%;
    left: 19%;
    top: 335px;
  }
  .olvido{
    font-size: 15px;
    font-weight: 700;
    top: 400px;
    left: 35%;
    display: block;
  }
  .imgLogin{
    width: 65%;
    left: 20%;
    top: -190px;
  }
}

/* Tablet medio */
@media screen and (min-width: 769px) and (max-width: 1023px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 65%;
    margin-left: 15%;
    margin-top: 7%;
  }
  hr{ display: none; }
  .numIdentificacion{ top: 400px; left: 23%; }
  .password{ top: 430px; left: 23%;}
  .imgLogin{
    width: 80%;
    left: 10%;
    top: -120px;
  }
  button{
    top: 530px;
    left: -20%;
    width: 30%;
  }
  .olvido{
    top: 580px;
    left: 30%;
    display: block;
  }
}
/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 35%;
    margin-left: 10%;
    margin-top: 7%;
  }
  hr{ display: block;  margin-top: -23%; }
  .numIdentificacion{ top: 165px; left: -35%; width: 35%; }
  .password{ top: 185px; left: 10%; width: 35%;}
  .imgLogin{
    width: 50%;
    left: 50%;
    top: -100px;
  }
  button{
    top: 275px;
    left: -22.8%;
    width: 30%;
  }
  .olvido{
    top: 300px;
    left: 16%;
    display: block;
  }
}

/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 35%;
    margin-left: 10%;
    margin-top: 7%;
  }
  hr{ display: block;  margin-top: -22%; }
  .numIdentificacion{ top: 165px; left: -35%; width: 35%; }
  .password{ top: 180px; left: 10%; width: 35%;}
  .imgLogin{
    width: 50%;
    left: 50%;
    top: -100px;
  }
  button{
    top: 277px;
    left: -22.8%;
    width: 30%;
  }
  .olvido{
    top: 310px;
    left: 16%;
    display: block;
  }
}






