<div class="contenedor">
  <button class="btn botonvolver text-white my-2" routerLink="/solicitudesSC" data-bs-toggle="tooltip" data-bs-placement="top" title="Devolver">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="dato">Generar Nueva Solicitud</h2>
  <form [formGroup]="formSolicitud">
    <div class="row1">
      <div class="nombre2">
        <h2 class="vendedor1">Cliente</h2>
      <mat-form-field class="example-full-width ven" appearance="fill">
        <mat-label>Ingrese Vendedor</mat-label>
        <input type="text"
          aria-label="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" [displayWith]="displayFn" id="cliente" name="cliente" formControlName="cliente" >
          <mat-option *ngFor="let item of filteredOptions | async"  [value]="item" ngValue="item" >
            {{item.documento}} | {{item.nombre}} {{item.apellido}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
      <div class="nombre3">
        <h2>Fecha Vencimiento</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese fecha de vencimiento </mat-label>
        <input type="date" id="vence" formControlName="vence" (change)="tomarFecha($event)" matInput>
        </mat-form-field>
      </div>
      <div class="nombre4">
        <h2>Municipio</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese municipio</mat-label>
        <mat-select matNativeControl id="municipio" name="municipio" formControlName="municipio">
          <mat-option *ngFor="let item of listaMunicipios"  value="{{item[9]}}">{{item[9]}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre5">
        <h2>Incidente</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Ingrese el Incidente</mat-label>
        <input id="incidente" formControlName="incidente" matInput>
        </mat-form-field>
      </div>
      <div class="nombre6">
        <h2>Motivo de la Solicitud</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Seleccione el motivo</mat-label>
        <mat-select matNativeControl id="motivo" name="motivo" formControlName="motivo">
          <mat-option *ngFor="let item of listaMotivoSolicitud"  value="{{item.id}}">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre7">
        <h2>Medios de Radicacion</h2>
        <mat-form-field class="nombre1" appearance="fill">
        <mat-label>Ingrese el medio de la radicacion </mat-label>
        <mat-select matNativeControl id="radicacion" formControlName="radicacion" matInput>
          <mat-option *ngFor="let item of listaMediosRadicacion"  value="{{item.id}}">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre8">
        <h2>Tipo de Servicio</h2>
        <mat-form-field class="nombre1" appearance="fill">
        <mat-label>Seleccione el tipo de servicio</mat-label>
        <mat-select matNativeControl id="servicio" name="servicio" formControlName="servicio">
          <mat-option *ngFor="let item of listaTipoServicio"  value="{{item.id}}">{{item.descripcion}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div class="nombre9">
        <h2>Auxiliar quien Radico</h2>
        <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Ingrese el auxiliar </mat-label>
          <input id="auxiliar" formControlName="auxiliar" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!-- Boton de guardar datos -->
      <div class="guardar2">
        <button mat-raised-button class="guardar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar solicitud pqrs">Generar</button>
      </div>
    </div>
    <div class="add">
      <button id="selectButton" class="btn" (click)="fileInput.click()" data-bs-toggle="tooltip" data-bs-placement="top" title="Subir archivos"><mat-icon>post_add</mat-icon></button>
      <input #fileInput type="file" hidden multiple (change)="selectFiles($event)" /><br>
      <div class="archivos">
        <span *ngIf="fileName" style="position: relative; top: 15px;"><strong style="margin-right: 5px;">Cantidad de archivos: </strong>{{fileName}}</span><br>
        <h4 *ngIf="fileName" style="position:relative; top:20px"><strong>Nombres de los archivos seleccionados:</strong></h4>
        <ul style="margin-top:5%;">
          <li style="margin-top: 5px;" *ngFor="let item of listaArchivos2">{{item}}</li>
        </ul>
      </div>
    </div>
    <div class="add2" *ngIf="num == 0">
      <button id="person" class="btn" (click)="agregarClienteServicCliente()"><mat-icon>person_add</mat-icon></button>
    </div>
  </form>
</div>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
