 h2{
    margin: 0;
}
.botonvolver{ background-color: #00235C; left: 12px; margin-left: 24%; position: relative; top: -44px; width: 64px; height: 36px;}
.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.container{
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #959595;
}
mat-option{ font-size: 11px; }
.nombre, .estado, .nombre1, .ven{
  width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 1.5%; }
.nombre3{ margin-left: 47%; margin-top: -42.5%;}
.nombre4{ margin-left: 47%; margin-top: 1.3%;}
.add{
  margin-left: 55%;
    margin-top: 4%;
}
.add2{
  margin-left: 55%;
    margin-top: 4%;
}
.nombre6{
  margin-left: 47%;
  margin-top: -40%;
}
.archivos{ margin-left: 46%;
  width: 46%;
  margin-top: -107%; }
.guardar{
  background-color: #00235C;
  color: white;
  height: 40px;
  font-size: large;
  left: 25.2%;
  top: 88.5%;
  position: absolute;
  width: 7.8%;
}
.nombre2{ margin-left: 8%; margin-top: 1.5%;}
.nombre3{ margin-left: 8%; margin-top: 0.5%;}
.nombre4{ margin-left: 8%; margin-top: 1%;}
.nombre5{ margin-top: 0.8%; margin-left: 8%;}
.nombre7{ margin-left: 47%; margin-top: 0%;}
.nombre8{ margin-left: 47%; margin-top: 1%;}
.nombre9{ margin-left: 47%; margin-top: 1%;}
.nombre5{ margin-top: 0.8%; margin-left: 8%;}
#selectButton{ margin-top: -6px; margin-left: -111%; background-color: #97B4E2; color: white; height: 40px;}
#person{ top: 90.9%; left: 19.6%; background-color: #959595; color: white; height: 40px; position:absolute;}
.row1{
  border-top: 3px solid #97B4E2;
  padding-bottom: 4%;
  margin-top: -3%;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 4%;
}

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .row1{ margin-top: 39%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3, .nombre4, .nombre7, .nombre8, .nombre9{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ margin-left: 1% !important; margin-top: 0% !important; width: 96%;  }
  .ven { width: 221px;}
  .nombre{width: 221px; }
  .nombre1{width: 221px;}
  .guardar{ position: static; margin-left: 67%; margin-top: -5px; width: 73.5px; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{ width: 31px; height: 31px; position: absolute; margin-left: 6%; top: 89px;}
  .botonvolver mat-icon{ position: static; margin-left: -195%; margin-top: -35%; font-size: 21px;}
  .dato{ position: absolute; top: 21%;}
  #person{ position: static; margin-top: -201px; margin-left: -45px; width: 40px; height: 31px;}
  #person mat-icon{ font-size: 20px; position: static; margin-left: -5px; margin-top: -2px;}
  #selectButton{ position: static; margin-top: -72px; margin-left: -120px; width: 40px; height: 31px;}
  #selectButton mat-icon{ font-size: 20px; position: static; margin-left: -5px; margin-top: -2px;}
  #opcSpa{ left: 8px; }
  .archivos{ margin-left: -120%; width: 212%; margin-top: 8%; }
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .add2{ margin-left: 29%; margin-top: 2%; }
  .row1{ position: static;margin-top: 4%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ margin-left: 1% !important; margin-top: 0% !important; width: 96%;  }
  .nombre7{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 1% !important; margin-top: 0% !important;  }
  .ven { width: 285px;}
  .nombre{width: 285px; }
  .nombre1{width: 285px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{ position: static; margin-left: 38%; margin-top: 50px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{ width: 31px; height: 31px; position: static; margin-left: 0%;}
  .botonvolver mat-icon{ position: static; margin-left: -195%; margin-top: -35%; font-size: 21px;}
  .dato{ position: static; margin-top: 2%;}
  #person{position: static; width: 40px; height: 33px; margin-top: -133px;}
  #person mat-icon{ font-size: 20px; position: static; margin-left: -5px; margin-top: -1px;}
  #selectButton{ margin-left: -120%; width: 40px; height: 33px; margin-top: -83px; }
  #selectButton mat-icon{ font-size: 20px; position: static; margin-top: -2px; margin-left: -4px;}
  #opcSpa{ left: 8px; }
  .archivos{
    margin-left: -119%;
    width: 210%;
    margin-top: -23%;
  }
}

/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  .row1{ position: static;margin-top: 4%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ margin-left: 54% !important; margin-top: -87% !important; width: 215px;  }
  .nombre7{ margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 54% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 203px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{ position: static; margin-left: 114%; margin-top: 54px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{ width: 31px; height: 31px; position: static; margin-left: 0%;}
  .botonvolver mat-icon{ position: static; margin-left: -195%; margin-top: -35%; font-size: 21px;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: absolute; margin-top: -55px; margin-left: 40px; width: 60px; height: 33px; }
  #person mat-icon{ position: absolute; left: 27%; top: 8%;}
  #selectButton{ margin-left: -120%; width: 60px; height: 31px; margin-top: -90px;}
  #selectButton mat-icon{ left: 13.6%; position: absolute; margin-top: -13px;}
  #opcSpa{ left: 8px; }
  .archivos{
    margin-left: -119%;
    width: 210%;
    margin-top: -18%;
  }
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ position: static !important; margin-left: 54% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 54% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 203px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 304px; margin-top: 54px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -141px; margin-left: -199px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; }
  #selectButton{ margin-left: -120%; margin-top: -90px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    margin-left: -119%;
    width: 210%;
    margin-top: -18%;
  }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ position: static !important; margin-left: 54% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 54% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 54% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 222px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 312px; margin-top: 54px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -145px; margin-left: -166px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -90px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    margin-left: -119%;
    width: 210%;
    margin-top: -18%;
  }
}

/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 0.8% !important; margin-left: 0% !important; }
  .nombre6{ position: static !important; margin-left: 36% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 36% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 36% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 36% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 210px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 312px; margin-top: 54px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -172px; margin-left: -254px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -112px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 36%;
    width: 78%;
    margin-top: -528px;
  }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 34% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 34% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 34% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 34% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 220px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 312px; margin-top: 35px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -172px; margin-left: -315px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -112px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 21%;
    width: 78%;
    margin-top: -517px;
  }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 32.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 260px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 393px; margin-top: 35px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -220px; margin-left: -366px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -138px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 21%;
    width: 78%;
    margin-top: -528px;
  }
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 32.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 281px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 463px; margin-top: 35px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -227px; margin-left: -366px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -138px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 21%;
    width: 78%;
    margin-top: -536px;
  }
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 32.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 281px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 526px; margin-top: 35px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -265px; margin-left: -487px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -160px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 17%;
    width: 78%;
    margin-top: -553px;
  }
}
/*Tablet 9 y Tablet 10*/
@media screen and (min-width: 1921px) and (max-width: 2160px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 32.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 32.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 32.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 316px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 593px; margin-top: 35px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -289px; margin-left: -544px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -170px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 17%;
    width: 78%;
    margin-top: -553px;
  }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 28.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 28.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 28.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 28.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 316px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 638px; margin-top: 7px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -367px; margin-left: -689px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -226px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 0%;
    width: 65%;
    margin-top: -584px;
  }
}
/*Tablet 13 y Tablet 14*/
@media screen and (min-width: 2561px) and (max-width: 3000px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 28.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 28.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 28.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 28.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 316px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 677px; margin-top: 7px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -385px; margin-left: -852px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -236px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: 0%;
    width: 65%;
    margin-top: -584px;
  }
}
/*Portatil 6, Televisor 3, Televisor 4*/
@media screen and (min-width: 3001px) and (max-width: 4096px){
  .contenedor{ margin-top: 2%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 24.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 24.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 24.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 24.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 316px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -59px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 786px; margin-top: -11px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -537px; margin-left: -1253px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -328px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: -18%;
    width: 65%;
    margin-top: -654px;
  }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .contenedor{ margin-top: 1%;}
  .row1{ position: static;margin-top: 1%;}
  .nombre2{ margin-left: 1% !important; margin-top: 1.5% !important; }
  .nombre3{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre4{ margin-left: 1% !important; margin-top: 0% !important;  }
  .nombre5{ margin-top: 1% !important; margin-left: 1% !important; }
  .nombre6{ position: static !important; margin-left: 24.5% !important; margin-top: -416px; width: 215px;}
  .nombre7{ margin-left: 24.5% !important; margin-top: 0% !important;  }
  .nombre8{margin-left: 24.5% !important; margin-top: 0% !important;  }
  .nombre9{ margin-left: 24.5% !important; margin-top: 0% !important;  }
  .ven, .nombre, .nombre1{ width: 316px;}
  .guardar2{width: 250px; padding-left: 0%; position: static; margin-top: -145px; margin-left: 99px; padding-right: 0%;}
  .guardar{position: static; margin-left: 1421px; margin-top: -62px; width: 35.5%; height: 35px;}
  .guardar, span{ font-size: 12px;}
  .botonvolver{position: static; margin-left: 0%;}
  .dato{ position: static; margin-top: 2%;}
  #person{ position: static; margin-top: -1130px; margin-left: -2573px; width: 64px; height: 36px;}
  #person mat-icon{ position: static; margin-top: -2px;}
  #selectButton{ margin-left: -120%; margin-top: -711px; width: 64px; height: 36px; }
  #selectButton mat-icon{ position: static; margin-top: -3px;}
  #opcSpa{ left: 8px; }
  .archivos{
    position: static;
    margin-left: -18%;
    width: 65%;
    margin-top: -654px;
  }
}
