<div class="contenedor">
    <h2 class="dato">Reporte Inventario</h2>
    <form [formGroup]="formInventario">
      <div class="row1">
        <div class="nombre2">
          <h2 class="oficina2">Opciones Reporte</h2>
          <mat-form-field class="nombre"  appearance="fill">
            <mat-label>Seleccione la forma de reporte</mat-label>
            <select matNativeControl id="reporte" name="reporte" formControlName="reporte" [(ngModel)]="opcion" (change)="reporte()">
              <option></option>
              <option *ngFor="let item of listaOpciones" value="{{item}}" [ngValue]="item">{{item}}</option>
            </select>
          </mat-form-field>
        </div>
        <div class="nombre2" id="oficinaDiv" style="display: none;">
          <h2 class="oficina2">Oficina</h2>
          <mat-form-field class="nombre"  appearance="fill">
            <mat-label>Ingrese oficina</mat-label>
            <select matNativeControl id="oficina" name="oficina" formControlName="oficina" [(ngModel)]="id" (change)="idOficina()">
              <option></option>
              <option *ngFor="let item of listaOficinas"  value="{{item.id}}" [ngValue]="item">{{item.ideOficina}} | {{item.nom_oficina}}</option>
            </select>
          </mat-form-field>
        </div>
        <div class="nombre3" id="sitioVentaDiv" style="display: none;">
          <h2 class="sitio">Sitio Venta</h2>
          <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese Sitio Venta</mat-label>
            <input type="text"
             aria-label="text"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" [displayWith]="displayFn" id="sitioVenta" name="sitioVenta">
              <mat-option *ngFor="let item of filteredOptions | async"  [value]="item" ngValue="item.ideSitioventa" >
                {{item.ideSitioventa}} | {{item.nom_sitioventa}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="nombre2" id="serialDiv" style="display: none;">
          <h2>Serial</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Ingrese Serial</mat-label>
          <input id="serial" formControlName="serial" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2" id="placaDiv" style="display: none;">
          <h2>Placa</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Ingrese Placa</mat-label>
          <input id="placa" formControlName="placa" matInput>
          </mat-form-field>
        </div>
        <div class="nombre2" id="usuarioDiv" style="display: none;">
          <h2>Usuario</h2>
          <mat-form-field class="nombre1" appearance="fill">
          <mat-label>Seleccione un usuario</mat-label>
          <select matNativeControl id="usuario" name="usuario" formControlName="usuario">
            <option *ngFor="let item of listaUsuarios"  value="{{item.id}}">{{item.nombre}} {{item.apellido}}</option>
          </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- Boton de guardar datos -->
        <div class="guardar2">
          <button mat-raised-button class="guardarModal" (click)="guardar()"><mat-icon>assignment_returned</mat-icon></button>
        </div>
      </div>
    </form>
  </div>
  <div class="solpiner" id="snipper" style="text-align: center; display: none;">
    <div class="loader"></div>
  </div>

