table{
  width: 100%;
  margin-top: 3% !important;
  margin-right: 15%;
  margin-bottom: 3% !important;
  border: 1px solid #000;
  border-bottom: 20%;
}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.bot{background-color: #00235C;}
th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
h2{ font-weight: 700; }
.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton, .pdfButton, .printButton{ position: relative; left: 25px; }
td {
  border: 1px solid #000;
  text-align: center;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; left: 12px;}
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
mat-form-field{
  width: 20%;
  margin-left: 79.5%;
  margin-top: -15%;
}
