.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

.excelButton{
  background-color: #6DBE53;
  color: white;
}

.excelButton{ position: relative; left: 25px; }
.boton{ position: relative; margin-left: -5%; }

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}

.botonvolver{ background-color: #00235C; }
.botonagregar{ background-color: #00235C; }
td button mat-icon{ left: -18%; top: -11%; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

#idSp{ left: 43px; }
#desSp{ left: 122px; }
#obsSp{ left: 130px; }
#opcSp{ text-align: center; left: 8px;}
#idSp, #desSp, #obsSp, #opcSp{ position: relative; }
h2{ font-weight: 700; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -8px;margin-top: -0px; }
  #idSp{left: -39% !important; }
  #desSp{left: 13%;}
  #obsSp{ left: 12%;}
  #opcSp{ margin-left: 11%; }
  td button{ margin-top: 5%; }
  .boton{ margin-left: -14% !important; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -8px;margin-top: -0px; }
  #idSp{left: -39% !important; }
  #desSp{left: 13%;}
  #obsSp{ left: 12%;}
  #opcSp{ margin-left: 11%; }
  td button{ margin-top: 5%; }
  .boton{ margin-left: -11% !important; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -8px;margin-top: -0px; }
  #idSp{left: -39% !important; }
  #desSp{left: 13%;}
  #obsSp{ left: 12%;}
  #opcSp{ margin-left: 11%; }
  td button{ margin-top: 5%; }
  .boton{ margin-left: -7% !important; }
}

/* Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 700px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 73%; }
  #desSp{left: 42%;}
  #obsSp{ left: 42%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -9% !important; }
}
/* Tablet 2 */
@media screen and (min-width: 701px) and (max-width: 768px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 152%; }
  #desSp{left: 52%;}
  #obsSp{ left: 59%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -9% !important; }
}
/* Tablet 3*/
@media screen and (min-width: 769px) and (max-width: 800px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: -2%; }
  #desSp{left: 38%;}
  #obsSp{ left: 37%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -11% !important; }
}
/* Portatil 2 */
@media screen and (min-width: 801px) and (max-width: 960px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 137%; }
  #desSp{left: 53%;}
  #obsSp{ left: 52%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -11% !important; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 203%; }
  #desSp{left: 73%;}
  #obsSp{ left: 70%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -8% !important; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 287%; }
  #desSp{left: 89%;}
  #obsSp{ left: 90%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -7% !important; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 417%; }
  #desSp{left: 123%;}
  #obsSp{ left: 126%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -5.5% !important; }
}

/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 417%; }
  #desSp{left: 142%;}
  #obsSp{ left: 140%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: 1% !important; }
}


/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 417%; }
  #desSp{left: 154%;}
  #obsSp{ left: 150%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -3.3% !important; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 475%; }
  #desSp{left: 172%;}
  #obsSp{ left: 171%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -4% !important; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 475%; }
  #desSp{left: 180%;}
  #obsSp{ left: 171%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -4% !important; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 681%; }
  #desSp{left: 217%;}
  #obsSp{ left: 207%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -3.5% !important; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 681%; }
  #desSp{left: 244%;}
  #obsSp{ left: 227%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -2.5% !important; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 824%; }
  #desSp{left: 275%;}
  #obsSp{ left: 264%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -2.3% !important; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 1130%; }
  #desSp{left: 358%;}
  #obsSp{ left: 345%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -1.5% !important; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 1130%; }
  #desSp{left: 385%;}
  #obsSp{ left: 390%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -1.5% !important; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  td button mat-icon{ font-size: 17px !important; margin-top: 1px; }
  #idSp{left: 2500%; }
  #desSp{left: 812%;}
  #obsSp{ left: 758%;}
  #opcSp{ margin-left: 11%; }
  .boton{ margin-left: -1% !important; }
}

