<div class="principal">
  <div class="formulario">
    <form [formGroup]="formCorreo">
      <div class="datos">
        <img src="../../../../assets/formularios/logo suchance.png" alt="" class="logo">
        <mat-form-field class="numIdentificacion" appearance="fill">
          <mat-label>Número Documento:</mat-label>
          <input matInput formControlName="documento">
        </mat-form-field>
        <mat-form-field class="password" appearance="fill">
          <mat-label>Correo:</mat-label>
          <input matInput formControlName="correo">
        </mat-form-field>
        <button mat-raised-button class="buttonEnviar" (click)="enviarCorreo()">ENVIAR</button>
        <button mat-raised-button class="buttonIniciar" routerLink="/">INICIAR SESION</button>
      </div>
      <hr>
      <img src="../../../../assets/formularios/form.png" alt="" class="imgLogin">
    </form>
  </div>
</div>
