.principal{
  background-color: #00235C;
  width: 100%;
  height: 100%;
}
.formulario{
  background-color: #ECECEC;
  border-radius: 35px;
  width: 60%;
  height: 80%;
  margin: 0% auto;
  position: relative;
  top: 13%;
  border: 5px solid #A9B0B8;
}
hr{
  border-left: thick solid #96B7CE;
  height: 99.5%;
  left: 50%;
  position: absolute;
  margin-top: -21.5%;
  border-width: 2px;
}
.formulario, .numIdentificacion, .password, button, .imgLogin{ position: relative; }
.logo{
  width: 38%;
  margin-top: 8%;
  margin-left: 5%;
}
.numIdentificacion{ top: 150px; left: -35%; }
.password{ top: 140px; left: 8%;}
mat-form-field{ width: 300px; }
button{
  height: 43px;
  background-color: #00235C;
  color: white;
  font-size: 20px;
}
.buttonEnviar{  top: 240px; left: -15%; width: 15%; }
.imgLogin{
  width: 450px;
  top: -19%;
  left: 52%;
}
.buttonIniciar{ top: 330px; left: -32%;  width: 20%; }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 25%;
  }
  mat-form-field{ width: 70%; }
  hr{ display: none; }
  .numIdentificacion{ top: 50px; left: 15%; }
  .password{ top: 70px; left: 15%;}
  .imgLogin{
    display: none;
  }
  .buttonEnviar{  top: 100px; left: 30%; width: 40%; font-size: 15px;}
  .buttonIniciar{ top: 150px; left: 15%;  width: 70%; font-size: 15px;}
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .formulario{
    width: 75%;
    margin-left: 12%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 15%;
  }
  mat-form-field{ width: 70%; }
  hr{ display: none; }
  .numIdentificacion{ top: 190px; left: 15%; }
  .password{ top: 200px; left: 15%;}
  .imgLogin{
    width: 75%;
    left: 13%;
    top: -195px;
  }
  .buttonEnviar{  top: 210px; left: 30%; width: 39%; }
  .buttonIniciar{ top: 240px; left: 15%;  width: 67%; }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 10%;
  }
  mat-form-field{ width: 180px; }
  hr{ display: none; }
  .numIdentificacion{ top: 180px; left: 15%;  width: 70%; }
  .password{ top: 190px; left: 15%; width: 70%;}
  .imgLogin{
    width: 50%;
    left: 25%;
    top: -160px;
  }
  .buttonEnviar{  top: 190px; left: 30%; width: 35%; }
  .buttonIniciar{ top: 260px; left: -12%;  width: 50%; }
}
/* Tablet pequeña */
@media screen and (min-width: 721px) and (max-width: 768px){
  .formulario{
    width: 75%;
    margin-left: 13%;
    top: 10%;
  }
  .logo{
    width: 78%;
    margin-left: 12%;
    margin-top: 10%;
  }
  mat-form-field{ width: 180px; }
  hr{ display: none; }
  .numIdentificacion{ top: 320px; left: 15%;  width: 70%; }
  .password{ top: 340px; left: 15%; width: 70%;}
  .imgLogin{
    width: 70%;
    left: 17%;
    top: -150px;
  }
  .buttonEnviar{  top: 430px; left: -35%; width: 30%; }
  .buttonIniciar{ top: 460px; left: 33%;  width: 33%; }
}

/* Tablet medio */
@media screen and (min-width: 769px) and (max-width: 1023px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 65%;
    margin-left: 15%;
    margin-top: 10%;
  }
  hr{ display: none; }
  .numIdentificacion{ top: 400px; left: 23%; }
  .password{ top: 430px; left: 23%;}
  .imgLogin{
    width: 80%;
    left: 10%;
    top: -120px;
  }
  .buttonEnviar{  top: 530px; left: -20%; width: 30%; }
  .buttonIniciar{ top: 560px; left: 31%;  width: 33%; }
}
/* Portatil Pequeño */
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 35%;
    margin-left: 10%;
    margin-top: 7%;
  }
  hr{ display: block;  margin-top: -21%; }
  .numIdentificacion{ top: 160px; left: -35%; width: 35%; }
  .password{ top: 170px; left: 10%; width: 35%;}
  .imgLogin{
    width: 50%;
    left: 50%;
    top: -80px;
  }
  .buttonEnviar{ top: 260px; left: -23%; width: 30%; }
  .buttonIniciar{ top: 350px; left: -53%; width: 30%; }
}
/* Portatil Medio */
@media screen and (min-width: 1367px) and (max-width: 1440px){
  .formulario{
    width: 70%;
    margin-left: 15%;
    top: 10%;
  }
  .logo{
    width: 35%;
    margin-left: 10%;
    margin-top: 7%;
  }
  hr{ display: block;  margin-top: -21%; }
  .numIdentificacion{ top: 165px; left: -35%; width: 35%; }
  .password{ top: 180px; left: 10%; width: 35%;}
  .imgLogin{
    width: 50%;
    left: 50%;
    top: -80px;
  }
  .buttonEnviar{ top: 275px; left: -23%; width: 30%; }
  .buttonIniciar{ top: 360px; left: -53%; width: 30%; }
}
