<div class="principal">
  <img src="../../../../assets/img-navbar/" alt="" srcset="">
  <div class="formulario">
    <div class="datos">
      <img src="../../../../assets/formularios/logo suchance.png" alt="" class="logo">
      <mat-form-field class="numIdentificacion" appearance="fill">
        <mat-label>Número Documento:</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="password" appearance="fill">
        <mat-label>Correo:</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button class="buttonEnviar">ENVIAR</button>
      <button mat-raised-button class="buttonIniciar" routerLink="/login">INICIAR SESION</button>
    </div>
    <hr>
    <img src="../../../../assets/formularios/form.png" alt="" class="imgLogin">
  </div>
</div>
