.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}

h2{
  text-align: center;
}
.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.boton{ background-color: #00235C; color: white;}
.btnremove{ background-color: #DA161A; color: white; }
.btnremove, .boton{ width: 64px; height: 36px; margin-left: 16%;}

/* Movil pequeño 1*/
@media screen and (min-width: 280px) and (max-width: 350px){
  .btnremove{
    width: 64px;
    height: 36px;
    margin-left: 26%;
    margin-top: 5%;
  }
}
/* Movil pequeño 2, 3 y 4 - MOVILES*/
@media screen and (min-width: 351px) and (max-width: 639px){
  .btnremove{
    width: 64px !important;
    height: 36px !important;
    margin-left: 13%;
  }
}
