<div class="contenedor">

    <h2 class="dato">Modificar Solicitud de Compra</h2>
    <form [formGroup]="formProveedor">
      <!-- id	idArticulos	idSolicitud	valor unitario	cantidad	valor total	observacion 	idestado
      1	1	1	10000	10	100000		Solicitado -->
        <div class="row1">
            <!-- Ingresar Nombre -->
            <div class="nombre2">
                <h2 class="articulo">Proveedor</h2>
                <mat-form-field class="nombre1" appearance="fill" >
                <mat-label>Ingrese Proveedor</mat-label>
                <input type="text"
                aria-label="text"
                matInput
                [formControl]="proveedores"
                [matAutocomplete]="auto2" id="proveedortra" readonly>
                <mat-autocomplete #auto2="matAutocomplete" >
                    <mat-option *ngFor="let item of filteredOptions | async"  [value]="item" ngValue="item.id"  >
                    {{item.nombre}}
                    </mat-option>
                </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="nombre3">
                <ul>
                  <a >
                    <li >
                      <h3 class="antic">¿Anticipo?</h3>
                    </li>
                    <mat-radio-group aria-label="Select an option" style="margin-left: -35px;" >
                      <mat-radio-button style="margin-left: 5%;" name="opcion" *ngIf="opciones == 'Si'">Si</mat-radio-button>
                    </mat-radio-group>
                </a>
                </ul>
                <mat-form-field class="nombre" appearance="fill" id="anticipo">
                    <mat-label>Ingrese anticipo en porcentaje</mat-label>
                    <input type="number" id="antici" formControlName="antici" matInput readonly style="position: absolute;">
                </mat-form-field>
              </div>
        </div>
    </form>
      <section id="tablita" class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla" id="tabla">
          <!-- Position Column -->
          <ng-container matColumnDef="articulo">
            <th mat-header-cell *matHeaderCellDef><h3 class="ar">Articulo</h3></th>
            <td mat-cell *matCellDef="let element"> {{element.idArticulos.descripcion}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef><h3 class="cant"> Cantidad </h3></th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="valorUnitario">
            <th mat-header-cell *matHeaderCellDef><h3 class="o"> Valor Unitario </h3></th>
            <td mat-cell *matCellDef="let element">
              <input type="number"  name="valor" id="val" value="{{element.valorUnitario}}" (keyup)="valorUnitario($event, element)" >
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef><h3 class="v"> Valor Total </h3></th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="lista.length<1">
                {{element.valorTotal}}
              </div>
              <div *ngFor="let item of lista">
                  <div *ngIf="element.idArticulos.id == item.solicitudDetalle.idArticulos.id && ultimaPosicion == item.posicion">
                      {{item.valorUnitario}}
                  </div>
                  <div *ngIf="element.idArticulos.id == item.solicitudDetalle.idArticulos.id && ultimaPosicion != item.posicion">
                      {{item.valorUnitario}}
                  </div>
              </div>
          </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </section>

      <p class="sub">Subtotal: ${{subtotal | currency:'COP':'symbol':'1.0-0'}}</p>
      <p class="val">Valor anticipo: {{anticipoVal2 | number:'1.0-2'}} %</p>
      <p class="des">Descuento: ${{descuento | currency:'COP':'symbol':'1.0-0'}}</p>
      <p class="to">Total: ${{total | currency:'COP':'symbol':'1.0-0'}}</p>

      <button  class="btn guardar4" (click)="generarOrden()">Modificar</button>
  </div>
  <div class="solpiner" id="snipper" style="text-align: center; display: none;">
    <div class="loader"></div>
  </div>
