table{
  width: 100%;
  margin-top: 3% !important;
  margin-right: 15%;
  margin-bottom: 3% !important;
  border-bottom: 20%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.boton{ background-color: #00235C; }
#idSp{ left: 45px; }
#descripSp{ left: 187px; }
#opcSp{ left: 8px; }
#opcSp, #descripSp, #idSp{ position: relative; }
#idSp{ left: 36px; position: absolute; }
.btnedit mat-icon{ left: -3px;  top: -2px;}
.btnremove mat-icon{ left: -3px;  top: -2px;}
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 1px; }
  #idSp{left: 15% !important; }
  #descripSp{left: 19%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 1px; }
  #idSp{left: 25% !important; }
  #descripSp{left: 35%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -6px; margin-top: 1px; }
  #idSp{left: 15% !important; }
  #descripSp{left: 19%;}
  #opcSp{ left: 8px; }
  td button{ margin-top: 5%; }
  .botonagregar mat-icon{ margin-left: -50%; }
}
