<h2 class="dato">Modificar Rol</h2>
<form [formGroup]="formRol">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifique la descripción del rol</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Estado Rol</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifique Estado del Rol</mat-label>
      <select matNativeControl id="idEstado" name="idEstado" formControlName="idEstado">
        <option *ngFor="let item of listarEstado"  value="{{item.id}}">{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Jerarquía</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifique la Jerarquía del ROl</mat-label>
      <select matNativeControl id="idJerarquia" name="idJerarquia" formControlName="idJerarquia">
        <option *ngFor="let item of listarJerarquia"  value="{{item.id}}">{{item.descripcion}}</option>
      </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar rol"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
