.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
table{
    width: 100%;
    border-bottom: 20%;
    height: 100%;
  }
  .example-container {
    max-width: 100%;
    overflow: auto;
    border-bottom: 20%;
    box-shadow: 1px none #000;
    margin-top: 2%;
  }
  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 90% !important; margin-left: 5%; margin-top: 3%;
  }
  .botones{ margin-left: 86%; margin-top: 2%; }
  .btnver2{ background-color: #959595; color: white; width: 64px; height: 36px; position: relative; top: -69px; left: 226px; }
  .nombre3{ margin-top: -53px; }
  .btnedit{ background-color: #97B4E2; color: white; width: 64px; height: 36px; margin-left: 2%; position: relative; }
  .bot{ background-color: #DA161A; color: white; }
  .mat-paginator{ margin-top: 2%; }
  .boton{ background-color: #00235C; color: white; }
  .btnedit mat-icon{ left: -3px;  top: -2px;}
  .btnremove mat-icon{ left: -3px;  top: -2px;}
  #idSp2{ padding-left: 1%; }
  td.mat-cell{ padding-left: 1%;}


  /* Movil pequeño 1 - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    .btnver2 mat-icon{ position: absolute; left: 16%; top: 6%;}
    .btnver2{position: relative; top: -58px; left: 87%;}
    .bot{ position: relative; left: -30%;}
    .boton{ position: relative; left: -30%;}
    td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
    td button{ margin-top: 6%; }
    .botonagregar mat-icon{ margin-left: -50%; }
    td.mat-cell{ padding-left: 1%;}
  }

  /* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
  @media screen and (min-width: 360px) and (max-width: 420px){
    .btnver2 mat-icon{ position: absolute; left: 16%; top: 6%;}
    .btnver2{position: relative; top: -65px; left: 86%;}
    mat-form-field{width: 248px;}
    .bot{ position: relative; left: -30%;}
    .boton{ position: relative; left: -30%;}
    td button mat-icon{ font-size: 17px !important; margin-left: -7px; margin-top: 1px; }
    td button{ margin-top: 6%; }
    .botonagregar mat-icon{ margin-left: -50%; }
    td.mat-cell{ padding-left: 1%;}
  }

  /* Tablet 1 */
  @media screen and (min-width: 600px) and (max-width: 639px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    .btnver2 mat-icon{ position: absolute; left: 17%; top: 2%;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }

  /*Portatil 1*/
  @media screen and (min-width: 640px) and (max-width: 700px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 2 */
  @media screen and (min-width: 701px) and (max-width: 768px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    .btnver2 mat-icon{ position: absolute;  left: 30%; top: 15%;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }

  /* Tablet 3,  Portatil 2*/
  @media screen and (min-width: 769px) and (max-width: 960px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 4,  Compu. Mesa 1, compu.Mesa 2, */
  @media screen and (min-width: 961px) and (max-width: 1049px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 5 */
  @media screen and (min-width: 1050px) and (max-width: 1080px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
  @media screen and (min-width: 1081px) and (max-width: 1280px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /* Compu. Mesa 5*/
  @media screen and (min-width: 1281px) and (max-width: 1436px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
  /* Tablet 8*/
  @media screen and (min-width: 1437px) and (max-width: 1536px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }

  /*Compu. Mesa 6*/
  @media screen and (min-width: 1537px) and (max-width: 1850px){
    .nombre2{ position: static; margin-left: 5%;}
    .nombre3{  margin-left: 5%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }


  /*Portatil 4, Compu. Mesa 7, Televisor 2*/
  @media screen and (min-width: 1851px) and (max-width: 1920px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 309px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }

  /*Tablet 9*/
  @media screen and (min-width: 1921px) and (max-width: 2048px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 282px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
  /*Tablet 10*/
  @media screen and (min-width: 2049px) and (max-width: 2160px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 309px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 11 y 12, Portatil 5*/
  @media screen and (min-width: 2161px) and (max-width: 2560px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 309px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 13*/
  @media screen and (min-width: 2561px) and (max-width: 2736px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 309px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
    .botonagregar mat-icon{ margin-left: -9%; }
  }
  /*Tablet 14*/
  @media screen and (min-width: 2737px) and (max-width: 3000px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 309px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
  /*Portatil 6, Televisor 3*/
  @media screen and (min-width: 3001px) and (max-width: 3840px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 305px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
  /*Televisor 4*/
  @media screen and (min-width: 3841px) and (max-width: 4096px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 305px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
  /*Portatil 7, Televisor 5*/
  @media screen and (min-width: 4097px) and (max-width: 7680px){
    .nombre2{ position: static; margin-left: 2%; margin-top: -2%;}
    .nombre3{  margin-left: 2%; }
    .btnver2{ left: 379px;}
    td button mat-icon{ font-size: 17px; margin-left: 0px; margin-top: 1px; }
    td button{ margin-top: 0%; }
  }
