<div class="contenedor">
    <!-- <button class="btn boton botonagregar text-white my-2" (click)="abrirModal();">
      <mat-icon>add_circle</mat-icon>
    </button> -->
    <!-- <button class="btn excelButton" (click)="exportToExcel()"><i class="fa-solid fa-file-excel"></i></button> -->
    <div class="nombre2">
        <h2>Articulos</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Seleccione un articulo</mat-label>
        <select matNativeControl id="articulo" name="articulo" formControlName="articulo">
          <option *ngFor="let item of listaArticulos"  value="{{item.id}}">{{item.idArticulo.descripcion}}</option>
        </select>
        </mat-form-field>
    </div>
    <mat-form-field class="buscador" appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
    </mat-form-field>
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table id="asignacionPuntoVenta" datatable mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">0</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="asignacionArticulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Articulo Asignado</h3></th>
          <td mat-cell *matCellDef="let element">0</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="cantSp">Cantidad</h3></th>
          <td mat-cell *matCellDef="let element">0</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="oficina">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="oficiSp">Oficina</h3></th>
            <td mat-cell *matCellDef="let element">0</td>
          </ng-container>

          <!-- Name Column -->
        <ng-container matColumnDef="sitioVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="sitiVentSp">Sitio Venta</h3></th>
            <td mat-cell *matCellDef="let element">0</td>
          </ng-container>

        <!--Opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item">
            <!-- <button class="btn btnedit mx-2" (click)="modificarAsignacionPuntoVenta(item.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btnremove mx-2" (click)="eliminarAsignacionPuntoVenta(item.id)">
              <mat-icon>delete</mat-icon>
            </button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
    </mat-paginator>
</div>
