<div class="contenedor">
    <button class="btn boton botonagregar text-white my-2" (click)="abrilModal();">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button class="btn excelButton" (click)="exportToExcel()"><i class="fa-solid fa-file-excel"></i></button>

      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
      </mat-form-field>
    <table datatable  mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="idOpcionVisita" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="idSp2"><h3 id="idSp">Id</h3></th>
          <td mat-cell *matCellDef="let element" id="idSp2">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="descripSp">Descripcion</h3></th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef ><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item">
            <button class="btn btnedit me-2" (click)="modificarOpcion(item.id)" >
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btnremove me-2" (click)="eliminarOpcion(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
  </div>
