table{
  width: 100%;
  margin-top: 3% !important;
  margin-right: 15%;
  margin-bottom: 3% !important;
  border: 1px solid #000;
  border-bottom: 20%;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; }
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
.botonagregar, .excelButton{ width: 64px; height: 36px; }
.btnremove, .btnedit{ width: 44px; height: 31px;}
.btnedit mat-icon, .btnremove mat-icon{ font-size: 20px; position: relative; left: -3px; top: -1px;}
#idSp{ left: 65px; }
#descripSp{ left: 180px; }
#opcSp, #descripSp, #idSp{ position: relative; }
#idSp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  #idSpa{ margin-left: 66% !important; }
  #descSpa{ margin-left: 15% !important; }
  #opcSpa{ left: 8px; }
  td button{ margin-top: 5%; }
}
/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  #idSpa{ margin-left: 87% !important; }
  #descSpa{ margin-left: 21% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 1 */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px; margin-top: -1px; }
  #idSpa{ margin-left: 169% !important; }
  #descSpa{ margin-left: 62% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 2,  Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 768px){
  td button mat-icon{ margin-left: -3px; margin-top: -2px; }
  #idSpa{ margin-left: 169% !important; }
  #descSpa{ margin-left: 62% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 3,  Portatil 2*/
@media screen and (min-width: 769px) and (max-width: 960px){
  td button mat-icon{ margin-left: -3px; margin-top: -2px; }
  #idSpa{ margin-left: 150% !important; }
  #descSpa{ margin-left: 62% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1080px){
  td button mat-icon{ margin-left: -3px; margin-top: -2px; }
  #idSpa{ margin-left: 242% !important; }
  #descSpa{ margin-left: 91% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1081px) and (max-width: 1280px){
  td button mat-icon{ margin-left: -3px; margin-top: -2px; }
  #idSpa{ margin-left: 276% !important; }
  #descSpa{ margin-left: 122% !important; }
  #opcSpa{ left: 8px; }
}
/* Tablet 8, Compu. Mesa 5*/
@media screen and (min-width: 1281px) and (max-width: 1536px){
  td button mat-icon{ margin-left: -3px; margin-top: -2px; }
  #idSpa{ margin-left: 367% !important; }
  #descSpa{ margin-left: 150% !important; }
  #opcSpa{ left: 8px; }
}
/*Compu. Mesa 6*/
@media screen and (min-width: 1537px) and (max-width: 1850px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 367% !important; }
  #descSpa{ margin-left: 181% !important; }
  #opcSpa{ left: 8px; }
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 381% !important; }
  #descSpa{ margin-left: 228% !important; }
  #opcSpa{ left: 8px; }
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 418% !important; }
  #descSpa{ margin-left: 238% !important; }
  #opcSpa{ left: 8px; }
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 439% !important; }
  #descSpa{ margin-left: 245% !important; }
  #opcSpa{ left: 8px; }
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 519% !important; }
  #descSpa{ margin-left: 301% !important; }
  #opcSpa{ left: 8px; }
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 577% !important; }
  #descSpa{ margin-left: 331% !important; }
  #opcSpa{ left: 8px; }
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 668% !important; }
  #descSpa{ margin-left: 382% !important; }
  #opcSpa{ left: 8px; }
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 863% !important; }
  #descSpa{ margin-left: 497% !important; }
  #opcSpa{ left: 8px; }
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 906% !important; }
  #descSpa{ margin-left: 556% !important; }
  #opcSpa{ left: 8px; }
}
/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  td button mat-icon{ margin-left: -2px; margin-top: -1px; }
  #idSpa{ margin-left: 1723% !important; }
  #descSpa{ margin-left: 1101% !important; }
  #opcSpa{ left: 8px; }
}


