h2{
    margin: 0;
  }
  .container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 10%;
    box-shadow: 1px 2px 10px #959595;
  }
  .nombre, .estado{
    width: 250px;
  }
  .nombre2, .estado2{ margin-left: 5%; margin-top: 1%; }
  .estado2{ width: 300px; }
  .guardar{
    background-color: #00235C ;
    color: white;
    width: 38%;
    height: 40px;
    font-size: large;
    margin-left: 63%;
  }

  .row1{
    border-top: 3px solid #97B4E2;
    padding-top: 3%;
    padding-bottom: 4%;
  }

/* Movil pequeño - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre{ width: 95%;}
  .guardar{
    margin-left: 5%;
    width: 93%;
  }
}

/* Movil medio - Samsung Galaxy S8 */
@media screen and (min-width: 360px) and (max-width: 493px){
  .nombre{ width: 95%;}
  .guardar{
    margin-left: 5%;
    width: 72%;
  }
}

/* Movil grande - Surface Duo*/
@media screen and (min-width: 494px) and (max-width: 720px){
  .guardar{
    margin-left: 5%;
    width: 45%;
  }
}

/* Tablet pequeña */
@media screen and (min-width: 721px) and (max-width: 768px){
  .guardar{
    margin-left: 5%;
    width: 45%;
  }
}

/* Tablet medio */
@media screen and (min-width: 769px) and (max-width: 1023px){
  .guardar{
    margin-left: 5%;
    width: 45%;
  }
}
