<h2 class="dato">Modificar Cuenta</h2>
<form [formGroup]="formCuenta">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" appearance="fill">
      <mat-label>Modifique la descripción de la cuenta</mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Codigo</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifique Codigo de la cuenta</mat-label>
      <input type="number" id="codigo" formControlName="codigo" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Jerarquía</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Modifique la Jerarquía de la cuenta</mat-label>
      <mat-select matNativeControl id="jerarquia" name="jerarquia" formControlName="jerarquia">
        <mat-option *ngFor="let jerarquia of listaJerarquiaCuentas" [value]="jerarquia.id">{{jerarquia.descripcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar cuenta"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
