<div class="contenedor">
  <button class="btn excelButton" (click)="exportToExcel()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar lista confirmaciones bajas artículos"><i class="fa-solid fa-file-excel"></i></button>
  <mat-form-field class="buscador" appearance="standard" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar corroborar bajas artículos">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">

    <table datatable [dtOptions]="dtOptions" id="autorizaciones" mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header ><h3 class="id">Id</h3></th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="fecha">fecha</h3></th>
          <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3 id="usuario">usuario</h3></th>
          <td mat-cell *matCellDef="let element">{{element.idUsuario.nombre}} {{element.idUsuario.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header ><h3 id="estado">Estado</h3></th>
          <td mat-cell *matCellDef="let element" >{{element.idEstado.descripcion}}</td>
        </ng-container>

        <!--Opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef id="tamañoOpc"><h3 id="opcSp">Opciones</h3></th>
          <td mat-cell *matCellDef="let item" id="tamañoOpc">
            <button class="btn btnver2 mx-2" (click)="visualizarActivosBajas(item.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar que activos solicitaron dar de baja">
              <mat-icon>manage_search</mat-icon>
            </button>
            <button class="btn btnedit2 mx-2" (click)="aceptarConfirmacion(item.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Corroborar">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button class="btn btnremove mx-2" (click)="rechazarConfirmacion(item.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Rehusar corraboración">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>
<div class="solpiner" id="snipper03" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>


