.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
.solpiner{
  background-color: rgba(90, 90, 90, 0.247);
  width: 100%;
  height: 100%;
  z-index: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 22%;
  margin-left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #00235C #00235C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 92px;
  height: 92px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
table{
  width: 100%;
  height: 100%;
}
.id{
  width: 10%;
  position: absolute;
  margin-left: 11%;
}
.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.btnver2{ background-color: #959595; color: white; }
.btnedit2{ background-color: #00235C; color: white;}
.btnver{ background-color: #959595; color: white; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnedit mat-icon{ left: -3px;  top: -2px;}
  #opcSp{ position: relative; }
  /* #fecha { left: 100px; }
  #observacion{ left: 110px; }
  #usuario{ left: 13%; }
  #idDetalleArticulo{ left: 7px; }
  #estado{ left: 94px; } */
  #opcSp{ left: 5px; }
  #usuarioEn{ padding-left: 0%; }
  td.mat-cell:first-of-type{ padding-left: 1%;}
  td.mat-cell {padding-left: 5px;}

  /* Movil pequeño 1 - Galaxy Fold*/
  @media screen and (min-width: 280px) and (max-width: 359px){
    td button mat-icon{ font-size: 17px !important; margin-left: -10px; margin-top: -1px; }
    .id{ left: -12px; }
    #fecha { margin-left: 25%; }
    #observacion{ margin-left: 10%; }
    #usuario{ margin-left: 20%; }
    #idDetalleArticulo{ margin-left: 20%; }
    #estado{ margin-left: 20%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    .botonagregar mat-icon{ margin-left: -50%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
  }

  /* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
  @media screen and (min-width: 360px) and (max-width: 420px){
    td button mat-icon{ font-size: 17px !important; margin-left: -10px; margin-top: -1px;}
    .id{ left: -12px; }
    #fecha { margin-left: 25%; }
    #observacion{ margin-left: 10%; }
    #usuario{ margin-left: 20%; }
    #idDetalleArticulo{ margin-left: 20%; }
    #estado{ margin-left: 20%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -50%; }
  }


  /* Tablet 1 */
  @media screen and (min-width: 600px) and (max-width: 639px){
    td button mat-icon{ font-size: 17px !important; margin-left: -10px; margin-top: -1px; }
    .id{ left: -12px; }
    #fecha { margin-left: 30%; }
    #observacion{ margin-left: 25%; }
    #usuario{ margin-left: 20%; }
    #idDetalleArticulo{ margin-left: 20%; }
    #estado{ margin-left: 50%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -50%; }
  }

  /*Portatil 1*/
  @media screen and (min-width: 640px) and (max-width: 700px){
    td button mat-icon{margin-left: -3px; margin-top: -1px;}
    .id{ left: -12px; }
    #fecha { margin-left: 30%; }
    #observacion{ margin-left: 35%; }
    #usuario{ margin-left: 20%; }
    #idDetalleArticulo{ margin-left: 20%; }
    #estado{ margin-left: 55%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }

  /* Tablet 2 */
  @media screen and (min-width: 701px) and (max-width: 768px){
    td button mat-icon{margin-left: -3px; margin-top: -1px;}
    .id{ left: -12px; }
    #fecha { margin-left: 40%; }
    #observacion{ margin-left: 60%; }
    #usuario{ margin-left: 25%; }
    #idDetalleArticulo{ margin-left: 25%; }
    #estado{ margin-left: 90%; }
    #opcSp{ left: 15px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /* Tablet 3,  Portatil 2*/
  @media screen and (min-width: 769px) and (max-width: 960px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: -12px; }
    #fecha { margin-left: 40%; }
    #observacion{ margin-left: 60%; }
    #usuario{ margin-left: 25%; }
    #idDetalleArticulo{ margin-left: 25%; }
    #estado{ margin-left: 90%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /* Tablet 4 y 5,  Compu. Mesa 1, compu.Mesa 2, */
  @media screen and (min-width: 961px) and (max-width: 1080px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: -6px; }
    #fecha { margin-left: 50%; }
    #observacion{ margin-left: 65%; }
    #usuario{ margin-left: 35%; }
    #idDetalleArticulo{ margin-left: 35%; }
    #estado{ margin-left: 110%; }
    #opcSp{ left: 10px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /* Tablet 6 y 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
  @media screen and (min-width: 1081px) and (max-width: 1280px){
    td button mat-icon{ margin-left: -3px; margin-top: -1px;}
    .id{ left: -6px; }
    #fecha { margin-left: 70%; }
    #observacion{ margin-left: 95%; }
    #usuario{ margin-left: 45%; }
    #idDetalleArticulo{ margin-left: 45%; }
    #estado{ margin-left: 145%; }
    #opcSp{ left: 15px; }
    td button{ margin-top: 5%; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /* Tablet 8, Compu. Mesa 5*/
  @media screen and (min-width: 1281px) and (max-width: 1536px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 0px; }
    #fecha { margin-left: 95%; }
    #observacion{ margin-left: 115%; }
    #usuario{ margin-left: 75%; }
    #idDetalleArticulo{ margin-left: 75%; }
    #estado{ margin-left: 190%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /* Compu. Mesa 6 */
  @media screen and (min-width: 1537px) and (max-width: 1600px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 0px; }
    #fecha { margin-left: 100%; }
    #observacion{ margin-left: 125%; }
    #usuario{ margin-left: 80%; }
    #idDetalleArticulo{ margin-left: 80%; }
    #estado{ margin-left: 190%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }

  /*Portatil 4, Compu. Mesa 7, Televisor 2*/
  @media screen and (min-width: 1601px) and (max-width: 1920px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 0px; }
    #fecha { margin-left: 110%; }
    #observacion{ margin-left: 150%; }
    #usuario{ margin-left: 80%; }
    #idDetalleArticulo{ margin-left: 80%; }
    #estado{ margin-left: 220%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }

  /*Tablet 9*/
  @media screen and (min-width: 1921px) and (max-width: 2048px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 0px; }
    #fecha { margin-left: 125%; }
    #observacion{ margin-left: 150%; }
    #usuario{ margin-left: 85%; }
    #idDetalleArticulo{ margin-left: 85%; }
    #estado{ margin-left: 240%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Tablet 10*/
  @media screen and (min-width: 2049px) and (max-width: 2160px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 0px; }
    #fecha { margin-left: 140%; }
    #observacion{ margin-left: 170%; }
    #usuario{ margin-left: 95%; }
    #idDetalleArticulo{ margin-left: 95%; }
    #estado{ margin-left: 255%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Tablet 11 y 12, Portatil 5*/
  @media screen and (min-width: 2161px) and (max-width: 2560px){
    td button mat-icon{ margin-left: -4px; margin-top: -1px;}
    .id{ left: 10px; }
    #fecha { margin-left: 190%; }
    #observacion{ margin-left: 200%; }
    #usuario{ margin-left: 120%; }
    #idDetalleArticulo{ margin-left: 120%; }
    #estado{ margin-left: 310%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Tablet 13*/
  @media screen and (min-width: 2561px) and (max-width: 2736px){
    td button mat-icon{ margin-left: -4px; margin-top: -1px;}
    .id{ left: 10px; }
    #fecha { margin-left: 190%; }
    #observacion{ margin-left: 230%; }
    #usuario{ margin-left: 135%; }
    #idDetalleArticulo{ margin-left: 135%; }
    #estado{ margin-left: 325%; }
    #opcSp{ left: 10px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Tablet 14*/
  @media screen and (min-width: 2737px) and (max-width: 3000px){
    td button mat-icon{ margin-left: -3px; margin-top: -1px;}
    .id{ left: 15px; }
    #fecha { margin-left: 210%; }
    #observacion{ margin-left: 265%; }
    #usuario{ margin-left: 160%; }
    #idDetalleArticulo{ margin-left: 160%; }
    #estado{ margin-left: 380%; }
    #opcSp{ left: 10px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Portatil 6, Televisor 3*/
  @media screen and (min-width: 3001px) and (max-width: 3840px){
    td button mat-icon{ margin-left: -3px; margin-top: -1px;}
    .id{ left: 30px; }
    #fecha { margin-left: 290%; }
    #observacion{ margin-left: 340%; }
    #usuario{ margin-left: 220%; }
    #idDetalleArticulo{ margin-left: 220%; }
    #estado{ margin-left: 500%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Televisor 4*/
  @media screen and (min-width: 3841px) and (max-width: 4096px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 30px; }
    #fecha { margin-left: 320%; }
    #observacion{ margin-left: 380%; }
    #usuario{ margin-left: 240%; }
    #idDetalleArticulo{ margin-left: 240%; }
    #estado{ margin-left: 550%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
  /*Portatil 7, Televisor 5*/
  @media screen and (min-width: 4097px) and (max-width: 7680px){
    td button mat-icon{ margin-left: -3px; margin-top: -2px;}
    .id{ left: 60px; }
    #fecha { margin-left: 640%; }
    #observacion{ margin-left: 680%; }
    #usuario{ margin-left: 480%; }
    #idDetalleArticulo{ margin-left: 480%; }
    #estado{ margin-left: 1050%; }
    #opcSp{ left: 15px; }
    td.mat-cell:first-of-type { padding-left: 5px;}
    .botonagregar mat-icon{ margin-left: -2%; margin-top: -3%; }
  }
