<h2 class="dato">Ingresar Nueva Asignacion</h2>
<form [formGroup]="formAsigancionPuntoVenta">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
        <h2 class="Turno">Articulo</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Seleccione el Articulo</mat-label>
        <select matNativeControl id="articulo" name="articulo" formControlName="articulo" readonly>
          <option *ngFor="let item of listaArticulos" value="{{item.id}}" >{{item.idDetalleArticulo.idArticulo.descripcion}}</option>
        </select>
        </mat-form-field>
    </div>
    <div class="nombre3">
        <h2>Cantidad del articulo</h2>
        <mat-form-field class="nombre" appearance="fill">
          <mat-label>Ingrese la Cantidad</mat-label>
          <input type="number" id="cantidad" formControlName="cantidad" matInput minlength="1">
        </mat-form-field>
      </div>
    <div class="nombre4">
        <h2 class="oficina2">Oficina</h2>
        <mat-form-field class="nombre"  appearance="fill">
          <mat-label>Ingrese oficina</mat-label>
          <select matNativeControl id="oficina" name="oficina" formControlName="oficina" [(ngModel)]="id" (change)="idOficina()">
            <option></option>
            <option *ngFor="let item of listaOficinas"  value="{{item.id}}" [ngValue]="item" [selected]="item.ideOficina == listarOficinaId.ideOficina">{{item.ideOficina}} | {{item.nom_oficina}}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="nombre5">
        <h2>Sitio Venta</h2>
        <mat-form-field class="nombre" appearance="fill">
        <mat-label>Seleccione Sitio Venta</mat-label>
        <select matNativeControl id="sitioVenta" name="sitioVenta" formControlName="sitioVenta" ><!--[(ngModel)]="idSitioVenta" (change)="idSitiosVentas()"-->
          <option *ngFor="let item of listarSitioVentas"  value="{{item.ideSitioventa}}" [ngValue]="item">{{item.ideSitioventa}} | {{item.nom_sitioventa}}</option>
        </select>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
