table{
  width: 100%;
  margin-top: 3% !important;
  margin-right: 15%;
  margin-bottom: 3% !important;
  border: 1px solid #000;
  border-bottom: 20%;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}
.bot{background-color: #00235C;}

h2{ font-weight: 700; }

.contenedor{
  width: 90% !important; margin-left: 5%; margin-top: 3%;
}
.boton{ background-color: #00235C; left: 12px;}
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }
td button mat-icon{ left: -18%; top: -11%; }
.botonagregar{ margin-left: 1%; }
#idSpa, #moduloSpa, #rolSpa, #opcSpa{ position: relative; }
#idSpa{ left: 32px; position: absolute;}
#moduloSpa{ left: 230px; position: absolute; }
#rolSpa{ left: 68px; position: absolute; }
#OpcSpa{ left: 0px; }

#sp2{ padding-left: 0%; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -0px; }
  #idSpa{left: 20% !important; }
  #moduloSpa{left: 31%;}
  #rolSpa{ left: 19%;}
  #OpcSpa{ margin-left: 20%; }
  td button{ margin-top: 5%; }
  .excelButton{ left: 6.8% !important;}
  .botonagregar2 mat-icon{ left: -7px; position: relative;}
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -0px; }
  #idSpa{left: 20% !important; }
  #moduloSpa{left: 31%;}
  #rolSpa{ left: 30%;}
  #OpcSpa{ margin-left: 20%; }
  td button{ margin-top: 5%; }
  .excelButton{ left: 6% !important;}
  .botonagregar2 mat-icon{ left: -7px; position: relative;}
  .botonagregar mat-icon{ margin-left: -50%; }
}

/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  td button mat-icon{ font-size: 17px !important; margin-left: -9px;margin-top: -0px; }
  #idSpa{left: 20% !important; }
  #moduloSpa{left: 31%;}
  #rolSpa{ left: 19%;}
  #OpcSpa{ margin-left: 20%; }
  td button{ margin-top: 5%; }
  .excelButton{ left: 6% !important;}
  .botonagregar2 mat-icon{ left: -7px; position: relative;}
  .botonagregar mat-icon{ margin-left: -50%; }
}
