<h2 class="dato">Modificar Escala Solicitud</h2>
<form [formGroup]="formEscalaSolicitud">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese descripción </mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>

  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardar" (click)="guardar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar escala de solicitud"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
