.example-container {
  max-width: 100%;
  overflow: auto;
  margin-top: 3% !important;
  border-bottom: 20%;
  box-shadow: 1px none #000;
  margin-bottom: 3% !important;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.tit{
  text-align: center;
  margin-top: -35px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btnVisualizar{
  background-color: #97B4E2;
  width: 10%;
}

th{
  background-color: #00235C;
  color: #fff;
  position: relative;
  margin-left: 15px;
}

td {
  border: 1px solid #000;
  text-align: center;
}
.contenedor{
  width: 80% !important; margin-left: 10%; margin-top: 6%;
}
.boton{ background-color: #00235C; }
.btnedit{ background-color: #97B4E2; color: white; }
.btnremove{ background-color: #DA161A; color: white; }

.btnremove{ width: 64px; height: 36px; }
.btnremove { position: relative; left: 15px; }

mat-option{ font-size: 10.5px; }
h2{
margin: 0;
}
.container{
width: 80%;
background-color: white;
margin-left: 10%;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
border-radius: 15px;
margin-top: 10%;
box-shadow: 1px 2px 10px #959595;
}
.nombre, .estado, .nombre1{
width: 250px;
}
.nombre2, .estado2{ margin-left: 5%; margin-top: 2.5%; }
.nombre3{ margin-left: 55%; margin-top: 1.5%;}
.nombre4{ margin-left: 5%; margin-top: 2.5%;}
.nombre5{ margin-left: 59.6%; margin-top: -13.5%;}
.guardar{
background-color: #00235C ;
color: white;
width: 203px;
height: 40px;
}
.guardar2{ margin-top: 9%; margin-left: -6%;}
.row1{
border-top: 3px solid #97B4E2;
padding-top: 3%;
padding-bottom: 4%;
}
.contenedor{
width: 80% !important; margin-left: 10%; margin-top: 4%;
}
#idSp, #estSp, #iniSp, #finSp, #ofcSp, #sitSp, #opcSp{ position: relative; }
#idSp2{ padding-left: 0%; }
#turSp2{ padding-right: 0%; }
th.mat-header-cell{ padding-right: 15px; }

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .nombre, .nombre1, .tur{
    width: 225px;
    margin-left: -5%;
  }
  .nombre3{ margin-left: 5%; }
  .nombre5{
    margin-left: 5%;
    margin-top: -2%;
  }
  .guardarModal{
    margin-left: 80%;
    margin-top: -5%;
  }
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .nombre, .nombre1, .tur{
    width: 290px;
    margin-left: -5%;
  }
  .nombre3{ margin-left: 5%; }
  .nombre5{
    margin-left: 5%;
    margin-top: -2%;
  }
  .guardarModal{
    margin-left: 80%;
    margin-top: -5%;
  }
}
