.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #7C91BA;
  height: 13%;
}
mat-icon, .nombre, .rol, .person{ color: white; position: relative;}
.nombre{ margin-left: 66%; }

.rol:hover{ color: #00235C;   }
mat-icon{
  font-size: 40px;
  width: 5%;
  height: 70%;
  left: 76%;
  top: 10%;
}
.person{
  width: 3%;
  height: 40%;
  margin-left: 0.7%;
}

ul, ol {
  list-style:none;
}
li { float:unset; }

li a {
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

li ul {
  display:none;
  position:absolute;
  min-width:50px;
  background-color: #97B4E2;
}

li:hover > ul {
  display:block;
}

li ul li {
  position:relative;
}

.flecha{
  color: white;
  width: 10%;
}

button{
  border: none;
  background-color: transparent;
}

.iconMenu{
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/* Movil pequeño 1 - Galaxy Fold*/
@media screen and (min-width: 280px) and (max-width: 359px){
  .iconMenu{left: -51px;top: -3px; display: block;}
  .nombre{margin-left: 6%; font-size: 13px;}
  .person{display: none;}
  .flecha{display: none;}
}

/* Movil pequeño 2, movil pequeño 3 y movil pequeño 4*/
@media screen and (min-width: 360px) and (max-width: 420px){
  .iconMenu{left: -51px;top: -1px; display: block;}
  .nombre{margin-left: 9%; font-size: 16px;}
  .person{display: none;}
  .flecha{display: none;}
}
@media screen and (min-width: 600px) and (max-width: 639px){
  .iconMenu{left: -51px;top: -2px; display: block;}
  .nombre{margin-left: 46%; font-size: 16px;}
  .person{display: none;}
  .flecha{display: none;}
}
/* PORTATILES */
@media screen and (min-width: 600px) and (max-width: 639px){
  mat-drawer{ display: none; }
}

/* Portatil 1*/
@media screen and (min-width: 640px) and (max-width: 700px){
  mat-drawer{ display: none; }
  .nombre{margin-left: 50%; font-size: 14px;}
  .flecha{display: none;}
  .person{display: none;}
  .iconMenu{ display: block; left: -34px; top: -2px;}
}
/* Tablet 2 */
@media screen and (min-width: 701px) and (max-width: 768px){
  mat-drawer{ display: none; }
  .nombre{margin-left: 44%;}
  .flecha{display: none;}
  .person{display: none;}
  .iconMenu{ display: block; left: -34px; top: -2px;}
}
/* Portatil 2*/
@media screen and (min-width: 801px) and (max-width: 960px){
  .nombre{margin-left: 48%;}
  .flecha{display: none;}
  .person{display: none;}
  .iconMenu{ display: block; left: -28px; top: -2px; }
}
/* Tablet 3*/
@media screen and (min-width: 769px) and (max-width: 800px){
  .nombre{margin-left: 48%;}
  .flecha{display: none;}
  .person{display: none;}
  .iconMenu{ display: block; left: -35px; top: -2px; }
}
/* Tablet 4, Compu. Mesa 1, compu.Mesa 2, */
@media screen and (min-width: 961px) and (max-width: 1024px){
  .iconMenu{ display: none; }
  .nombre{ margin-left: 48%; }
  .person{ width: 44px; height: 42px; margin-left: 2%;}
  mat-select-arrow{ margin-left: 37px; }
  mat-toolbar{height: 13%;}
}
/* Tablet 5 */
@media screen and (min-width: 1025px) and (max-width: 1080px){
  .iconMenu{ display: none; }
  .nombre{ margin-left: 43%; font-size: 22px; }
  .person{ width: 55px; height: 48%; margin-left: 2%;}
  mat-toolbar{ height: 5.6%;}
}

/* Tablet 6 */
@media screen and (min-width: 1081px) and (max-width: 1200px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 49%; font-size: 23px;}
  .person{width: 55px; height: 49%; margin-left: 2%;}
  mat-toolbar{height: 6%;}
}

/* Tablet 7,  portatil 3, Compu. Mesa 3 y 4, Televisor 1*/
@media screen and (min-width: 1201px) and (max-width: 1280px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 53%; font-size: 23px;}
  .person{ width: 42px; height: 41%; margin-left: 1%;}
  mat-toolbar{ height: 13%;}
}
/* Compu Mesa 5 */
@media screen and (min-width: 1281px) and (max-width: 1400px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 57%; font-size: 23px;}
  .person{ width: 46px; height: 34%; margin-left: 1%;}
  mat-toolbar{ height: 13.7%;}
}
/* Compu Mesa 6 */
@media screen and (min-width: 1537px) and (max-width: 1850px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 60%; font-size: 23px;}
  .person{width: 58px; height: 46%; margin-left: 1%;}
  mat-toolbar{ height: 91px;}
}

/*Portatil 4, Compu. Mesa 7, Televisor 2*/
@media screen and (min-width: 1851px) and (max-width: 1920px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 67%; font-size: 23px;}
  .person{width: 58px; height: 47%; margin-left: 1%;}
  mat-toolbar{  height: 9%;}
}
/* Tablet 8 */
@media screen and (min-width: 1401px) and (max-width: 1536px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 55%; font-size: 26px;}
  .person{ width: 68px; height: 40%; margin-left: 1%;}
  mat-toolbar{ height: 7.5%;}
}

/*Tablet 9*/
@media screen and (min-width: 1921px) and (max-width: 2048px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 69%; font-size: 23px;}
  .person{ width: 62px; height: 40%; margin-left: 1%;}
  mat-toolbar{ height: 9%;}
}
/*Tablet 10*/
@media screen and (min-width: 2049px) and (max-width: 2160px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 69%; font-size: 23px;}
  .person{ width: 61px; height: 40%; margin-left: 1%;}
  mat-toolbar{ height: 9%;}
}
/*Tablet 11 y 12, Portatil 5*/
@media screen and (min-width: 2161px) and (max-width: 2560px){
  .person{ height: 34%; width: 55px; margin-left: 1%;}
  .flecha{ margin-left: -10%;}
  .nombre{ margin-left: 73%; font-size: 22px;}
  mat-toolbar{height: 8.3%;}
}
/*Tablet 13*/
@media screen and (min-width: 2561px) and (max-width: 2736px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 72%; font-size: 23px;}
  .person{ width: 68px; height: 40%; margin-left: 1%;}
  mat-toolbar{ height: 9%;}
  .flecha{margin-left: -10%;}
}
/*Tablet 14*/
@media screen and (min-width: 2737px) and (max-width: 3000px){
  .iconMenu{ display: none; }
  .nombre{margin-left: 75%; font-size: 23px;}
  .person{ width: 68px; height: 40%; margin-left: 1%;}
  mat-toolbar{ height: 9%;}
  .flecha{margin-left: -10%;}
}
/*Portatil 6, Televisor 3*/
@media screen and (min-width: 3001px) and (max-width: 3840px){
  .person{ height: 39%; width: 81px; margin-left: 1%;}
  .flecha{ margin-left: -10%;}
  .nombre{margin-left: 76%; font-size: 30px;}
  mat-toolbar{height: 8.8%;}
}
/*Televisor 4*/
@media screen and (min-width: 3841px) and (max-width: 4096px){
  .person{ height: 34%;width: 98px; margin-left: 1%;}
  .flecha{ margin-left: -10%;}
  .nombre{margin-left: 74%; font-size: 34px;}
  mat-toolbar{height: 10.4%;}
}


/*Portatil 7, Televisor 5*/
@media screen and (min-width: 4097px) and (max-width: 7680px){
  .person{ height: 48%; width: 169px; margin-left: 1%;}
  .flecha{ margin-left: -10%;}
  .nombre{margin-left: 74%; font-size: 60px;}
  mat-toolbar{height: 7%;}
}
