<mat-toolbar>
  <h2 class="nombre">{{usuario.nombre}} {{usuario.apellido}}</h2>
  <img class="person" src="assets/botones/ICONO USUARIO GECCO.png" alt="">
  <mat-label class=""><mat-icon>arrow_drop_down</mat-icon></mat-label>
  <mat-select class="flecha">
    <mat-option routerLink="/modificarUsuario/{{get}}">
      Modificar Perfil
    </mat-option>
    <mat-option >
      <button (click)="salir()">Cerrar Sesion</button>
    </mat-option>
  </mat-select>

  <button mat-button id="iconMenu" class="iconMenu" routerLink="/sidebarMovil">
    <i class="fa-solid fa-bars"></i>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
