<h2 class="dato">Ingresar Nueva Configuracion</h2>
<form [formGroup]="formConfiguracion">
  <div class="row1">
    <!-- Ingresar Nombre -->
    <div class="nombre2">
      <h2>Descripción</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese descripción </mat-label>
      <input id="descripcion" formControlName="descripcion" matInput>
      </mat-form-field>
    </div>
    <div class="nombre2">
        <h2>Nombre</h2>
        <mat-form-field class="nombre" [color]="color" appearance="fill">
        <mat-label>Ingrese Nombre </mat-label>
        <input id="descripcion" formControlName="nombre" matInput readonly>
        </mat-form-field>
    </div>
    <div class="nombre2">
      <h2>Valor</h2>
      <mat-form-field class="nombre" [color]="color" appearance="fill">
      <mat-label>Ingrese Valor </mat-label>
      <textarea id="descripcion" formControlName="valor" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- Boton de guardar datos -->
    <div class="guardar2">
      <button mat-raised-button class="guardarModal" (click)="guardar()"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>


